<div class="_course">
  <%=  link_to provider_course_path(course.path_params), class: 'avatar64', style: "background-color: #{course.provider.header_color}" do %>
    <div class="img" style="background-image: url(<%= course.course_upload_image %>)"></div>
  <% end %>
  <div class="details">
    <%= link_to limit_text(course.name, 20), provider_course_path(course.path_params), class: 'course_name', title: course.name %>
    <div class="add_info"><%= day_ordinal_month course.start_at, true, false, true %></div>
    <%= link_to new_provider_course_booking_path(course.path_params), class: "sign-in-first cost" do %>
          <%= course.cost? ? "$#{course.cost_formatted}" : 'FREE' %>
      <% end %>
  </div>
</div>