<% provider = featured_provider if featured_provider %>
<div class="_featured_provider ">
  <div class="col-xs-12 flush">
    <%=  link_to provider_path(provider), class: 'avatar', style: "background-color: #{provider.header_color}" do %>
      <div class="img" style="background-image: url(<%= provider.logo %>)"></div>
    <% end %>
    <div class="details">
      <%= link_to limit_text(provider.name, 25), provider_path(provider), class: 'provider_name', title: provider.name %>
      <br />
      
      <div class="next-class col-xs-12">
        <% if provider.next_class  %>
          <div class="smaller">
            Upcoming <%= day_ordinal_month provider.next_class.start_at, true, false, true, true %>
          </div>
          <%= render partial: 'providers/course', locals: { course: provider.next_class } %>
        <% else %>
          <div class="smaller text-center">
            No upcoming classes
          </div>
        <% end %>
      </div>
       
    </div>
  </div>
</div>