<% if policy(@provider).admin? %>
  <div class="alert alert-success">
    <h4 class="flush">Admin Panel</h4>
    <hr class="flush" />
    <div class="row">
      <div class="col-xs-4">
         <%= link_to "New Class", new_course_path, class: 'block' %>
         <%= link_to "Bookings", provider_bookings_path(@provider.url_name), class: 'block' %>
      </div>
      <div class="col-xs-4">
        <%= link_to "New Teacher", new_provider_teacher_path(@provider.url_name), class: 'block' %>
        <%= link_to "Current Teachers", provider_teachers_path(@provider.url_name), class: 'block' %>
      </div>
      <div class="col-xs-4">
        <%= link_to "New Admin", new_provider_admin_path(@provider.url_name), class: 'block' %>
        <%= link_to "Current Admins", provider_admins_path(@provider.url_name), class: 'block' %>
      </div>
    </div>
  </div>
<% end %>
<p class="center">
  <%= to_html @provider.description %>
</p>

<%= render 'paginate_courses' %>