<div class="col-sm-3 hidden-xs"></div>
<div class="col-sm-6 new_form_wrapper">
  <div class="col-xs-12">
  <p class="center light">Send an email to the administrator of <%= @channel.name %></p>
  <br />
  </div>
  <%= bootstrap_form_for(@contact, wrapper: :simple_bootstrap3, class: 'form-horizontal', role: 'form', url: channel_contact_path(@contact.channel.url_name)) do |f| %>
    <% if current_user.email.empty? %>
      <%= f.input :from, label: "Email", input_html: { :'data-error-message' => 'You must write a email' }, wrapper: :horizonal %>
    <% end %>
    <%= f.input :subject, label: "Subject", collection: ['General Enquiry','Bookings','Courses','Teaching'], include_blank: false, wrapper: :horizonal %>
    <%= f.input :message, label: "Message", as: :text, wrapper: :horizonal %>
    <div class="col-sm-offset-5 col-sm-7">
      <input type="submit" name="submit" value="send" class="btn-primary btn" />
    </div>
  <% end %>
</div>
<div class="col-sm-3 hidden-xs"></div>