  <%= bootstrap_form_for(@channel, wrapper: :simple_bootstrap3, url: channel_settings_path, html: { method: :post, class: 'form-horizontal', role: 'form', enctype: "multipart/form-data" }) do |f| %>
    <input type="hidden" value="put" name="_method" />
    <div class="fancy-header">
      <h3><%= @channel.name %></h3>
      <hr />
    </div>
    <div class="center">
      <%= @channel.name %> is a <strong><%= @channel.plan.name %> provider</strong>
      <br /><br />
      <strong><%= @channel.remaining_free_class_attendees %></strong> free class attendees left this month
    </div>
  <% end %>