.masthead
  .container
    .masthead_contents
      .logo_and_subscribe
        = image_tag 'http://placehold.it/165x165&text=channel+logo', class: 'channel_logo'
        %a.subscribe_link= image_tag('http://placehold.it/165x30&text=subscribe')
      .words_and_pictures
        .words_and_pictures_contents
          .wordy_bits
            %h2= @channel.name
            .description
              = simple_format @channel.description
            .details
              - unless @channel.website_url.blank?
                %a.fa_link.icon-home{href:@channel.website_url}= @channel.website_url
          .pictures
            = image_tag 'http://placehold.it/360x240&text=photo1', class: 'main_photo'
            .thumbnails
              %img.thumbnail{src: 'http://placehold.it/84x56&text=photo1'}>
              %img.thumbnail{src: 'http://placehold.it/84x56&text=photo2'}>
              %img.thumbnail{src: 'http://placehold.it/84x56&text=photo3'}>
              %img.thumbnail{src: 'http://placehold.it/84x56&text=photo4'}>

            .small_controls
              %a.subscribe_link= image_tag('http://placehold.it/165x30&text=subscribe')

.clearfix
= render partial: '/lessons/index_without_filters'

:coffeescript
  $('.masthead .description').readmore({
    maxHeight: 22 * 10;
  })
