.masthead
  .container
    .masthead_contents
      .logo_and_subscribe
        = channel_logo @channel
        - if current_chalkler
          - if current_chalkler.is_following?(@channel)
            =link_to "UNFOLLOW", channel_subscriptions_path(@channel), class: "subscribe_link", id: "js-subscribe", remote: true, method: :delete
          - else
            =link_to "FOLLOW", channel_subscriptions_path(@channel), class: "subscribe_link", id: "js-subscribe", remote: true, method: :post
        - else
          =link_to "FOLLOW", new_chalkler_session_path, class: "subscribe_link"

      .words_and_pictures
        .words_and_pictures_contents
          .wordy_bits
            %h2= @channel.name
            .description
              = simple_format @channel.description
            .details
              - unless @channel.website_url.blank?
                %a.fa.fa-home{href:@channel.website_url}= @channel.website_url
          .pictures
            - if @channel.photos.first
              = image_tag @channel.photos.first.image.url, class: 'main_photo'
            .thumbnails
              - if @channel.photos.count > 1
                - @channel.photos.limit(4).each do |photo|
                  .thumbnail>
                    %img{src: photo.image.url}>

            .small_controls
              %a.subscribe_link= image_tag('http://placehold.it/165x30&text=subscribe')

.clearfix
= render partial: '/lessons/index_without_filters'

:coffeescript
  $('.masthead .description').readmore({
    maxHeight: 22 * 9;
  })

  $('.masthead div.thumbnail').on 'click', (event) ->
    container = $(event.currentTarget)
    thumb = container.find('img')

    $('.masthead .main_photo').attr('src', thumb.attr('src'))
    $('.masthead .thumbnails .active').removeClass 'active'

    container.addClass('active')
    setTimeout(->
      container.removeClass('active')
    , 3000)
