<% if params[:view] == "grid" %>
  <%# grid view %>
  <div class="course col-sm-6">
    <%= link_to course.name, v2_course_show_path(course.channel.url_name,course.url_name,course.id) %>
  </div>

<% else %>
  <%# list view %>
  <article class="course row">
    <div class="col-xs-1 col-sm-2">
      <div class="porthole">
        <a href="<%= course.path %>" title="<%= course.name %>">
          <% if course.course_upload_image.present? %>
            <%= image_tag(course.course_upload_image.url(:medium), class: 'course_image') %>
          <% elsif course.category %>
            <%= category_image course, 150 %>
          <% else %>
            <%= image_tag(
              "categories/grey.png",
              alt: course.name,
              title: course.name,
              class: 'course_image'
            ) %>
          <% end %>
        </a>
      </div>
    </div>
    <div class="col-sm-8">
      <header>
        <h5 class="category">
          <% unless course.category.nil? %>
            <%= link_to course.category.name, v2_category_show_path(course.category.url_name), { :class => "colour"+course.best_colour_num.to_s } %>
          <% else %>
            <br />
          <% end %>
        </h5>
        <div class="cost">
          <% if course.cost? %>
            $<%= course.cost %>
          <% else %>
            FREE
          <% end %>
        </div>
       <h3 class="title">
        <%= link_to course.name, v2_course_show_path(course.channel.url_name,course.url_name,course.id), { :class => "colour"+course.best_colour_num.to_s } %>
        </h3>
      </header>
      <p class="description">
        <%= course.do_during_class %>
      </p>
      <footer class="reviews">
        <% if course.has_reviews %>
          <span class="fa fa-heart"></span> 
          <%= course.review_percent %>
          <%= course.reviews.count %> reviews
        <% end %>
      </footer>
    </div>
    <div class="col-sm-2">  
      <a href="<%= new_v2_course_path %>" class="availability bg-colour<%= course.best_colour_num %>">
        <%= course_availability course %>
      </a>
      <div class="row details">
        <div class="col-lg-1 col-md-4"></div>
        <div class="col-lg-11 col-md-8 ">
          <%= day_ordinal_month course.start_at %>
        </div>

        <div class="col-lg-1 col-xs-1">
          <span class="fa fa-clock-o"></span>
        </div>
        <div class="col-lg-11 col-xs-11">
          <%= pretty_time_range course.start_at, course.end_at %>
        </div>

        <div class="col-lg-1 col-xs-3"></div>
        <div class="col-sm-11 col-xs-9">
          <span class="small grey">
            <%= pretty_duration course %>
          </span>
        </div>

        <div class="col-sm-1 col-xs-3">
          <span class="fa fa-map-marker grey"></span>
        </div>
        <div class="col-sm-11 col-xs-9">
          <span class="grey">
            <%= course.venue_truncated %>
          </span>
        </div>
      </div>
    </div>
  </article>
<% end %>
