<section class="week">
  <header class="calendar_titles">
    <% relative_name = relative_week_name(week) %>
    <h3 class="<%= ('has_relative' if relative_name) %>">
      <% if relative_name %>
        <span class="part main_part relative_part">
          <%= relative_name %>
        </span>
      <% end %>
      <span class="part calendar_part">
        <%= week_title week %>
      </span>
    </h3>
  </header>
  <div class="week_calendar_view">
    <% week.each do |day| %>
      <div class="<%= [relative_date_class(day), ('has_classes' if courses[day].present?)] %> day">
        <% if day >= Date.today %>
          <h4 class="day_title">
            <div class="day_title_inner">
              <%= relative_day_title(day) %>
            </div>
          </h4>
          <div class="courses">
            <% if courses[day] %>
              <%= #binding.pry %>
              <% @courses = courses[day] %>
              <%= render @courses %>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if show_next %>
    <% next_week = week.next %>
    <%= link_to specific_week_courses_path(channel_id: @channel, year: next_week.first_day.year, month: next_week.first_day.month, day: next_week.first_day.day, format: :js), {:remote => true, 'data-append' => 'weeks', 'data-remove-on-success' => true, :class => 'next-calendar-section'} do %>
      <i class="fa fa-arrow-down"></i>
      Show next week
    <% end %>
  <% end %>
</section>