<article class="course row">
  <div class="col-sm-2 col-xs-2 col-md-1">
    <a href="<%= course.path %>" title="<%= course.name %>">
      <% if course.course_upload_image.present? %>
        <div class="avatar avatar64 img" style="background-image: url(<%= course.course_upload_image.url(:large).html_safe %>);">
      </div>
      <% elsif course.category %>
        <div class="avatar avatar64 img">
          <%= category_image course, 150 %>
        </div>
      <% else %>
        <%= image_tag(
          "categories/grey.png",
          alt: course.name,
          title: course.name,
          class: 'avatar avatar64'
        ) %>
      <% end %>
    </a>
  </div>
  <div class="col-xs-10 col-sm-8 col-md-9">
    <header>
      <div class="title-wrapper">
        <strong>
          <%= link_to course.name, channel_course_path(course.channel.url_name,course.url_name,course.id), { :class => "colour"+course.best_colour_num.to_s } %>
        </strong>
      </div>
    </header>
    <div class="details">
      <div class="upper small">
        <%= quick_date_time course.start_at %> |
        <% if course.teacher  %>
          <%= link_to 'Taught by '+course.teacher.name, channel_channel_teacher_path(course.channel.url_name,course.teacher) %>
        <% else %>
          No teacher assigned
        <% end %>
        <% if current_user.courses_adminable.count > 1 %>
          | 
          <%= link_to course.channel.name, channel_path(course.channel.url_name) %>
        <% end %>
      </div>
      
    </div>
  </div>
  <div class="col-sm-2 col-xs-12">
    <a href="<%= course_bookings_path course.id %>" class="clear-both no-margin block center alert alert-success small">
      <%= course.bookings.confirmed.count %>
      <br /> <%= 'Attendee'.pluralize(course.bookings.confirmed.count) %>
    </a>
  </div>
</article>
