<div class="chalkler row">
  <div class="col-xs-12 col-sm-8" id="chalkler-<%= chalkler.id %>">
    <%= link_to(become_sudo_chalkler_path(chalkler), method: :post) do %>
      <img class="avatar32 avatar inline" src="<%= chalkler.avatar %>">
      <%= chalkler.id %>
      <%= chalkler.name %>
      <%= chalkler.email %>
    <% end %>
  </div>
</div>