.big-scrollable-page
  %header.page-header
    .container
      .text
        %h1.site-title
          = image_tag 'front_end/home/logo.png', alt: "chalkle"
        %p.tagline
          Taking learning out of the classroom
        %p.description
          Fun, social, face-to-face learning and teaching opportunities in
          Aotearoa New Zealand!

  %section.odd#join_a_channel
    .container
      .single-column
        %h3 Join a chalkle째 channel
        %p
          Sign up to get the low-down from organisations you know and love!
          Don't miss out on the real deal from people in the field: get their
          upcoming chalkles sent straight to your inbox. It's that easy.
      .single-column.section_target
        = link_to "View all channels", '#'
  %section.even#be_a_teacher
    .container
      .single-column
        %h3.row
          .col-xs-8.text-part
            Chalkle째 makes it easy for anyone to stand up and say&hellip;
          .col-xs-4
            = image_tag 'front_end/home/i_have_a_skill.jpg', class: 'i_have_a_skill', alt: "I have a skill and I want to share it with others."
        .row
          .col-xs-8.text-part
            %p
              Anyone can be a chalkle째 teacher - you don't require any formal qualification,
              just an enthusiasm to share your unique hobby, skill, trade or area of
              knowledge.
          .col-xs-4.button-part
            = link_to image_tag('front_end/home/button_give_a_class.png', alt: 'Give a class'), '#', class: 'btn-primary'

  %section.odd#curate_channel
    .container
      %p.big_statement
        Want to curate your own chalkle째 channel?
        = link_to 'Find out more.', '#'