<% 
  nav_links = [{
    link: provider_path(@provider),
    active: request.path == provider_path(@provider),
    title: "Classes"
  },{
    link: provider_teachers_path(@provider),
    active: request.path == provider_teachers_path(@provider),
    title: "Teachers"
  },{
    link: contact_provider_path(@provider),
    active: request.path == contact_provider_path(@provider),
    title: "Contact"
  }]

  if false #current_user.authenticated?
    users_bookings = current_chalkler.bookings.from_provider(@provider)
    link_path = provider_follower_path(@provider, current_chalkler)
    if users_bookings.present?
      nav_links << {
        link: link_path,
        active: request.path == link_path,
        title: "My Bookings (#{users_bookings.count})"
      }
    end
  end

  col_width = 100 / nav_links.count
%>

<div class="provider_header">
  <div class="container">

    <a class="avatar block" href="<%= provider_path(@provider.url_name) %>">
      <div class="img" style="background-image: url(<%= @provider.logo %>)">
      </div>
    </a>

    <div class="provider_header_content">
      <h1 class="provider_name">
        <%= link_to @provider.name, provider_path(@provider) %>
      </h1>
      <div class="provider_header_social">
        <% if current_user.authenticated? %>
          <% subscription = current_user.subscriptions.where(provider_id: @provider.id).first %>
          <% unless subscription %>
            <%= button_to "Favourite", provider_subscriptions_path(@provider), class: 'btn btn-success', method: :post %>
          <% else %>
            <%= button_to "Unfavourite", provider_subscription_path(subscription.path_params), class: 'btn btn-warning', method: :delete %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="provider_header_links">
      <nav>
        <ul class="flush">
        <% 
          nav_links.each do |nav_link| %>
            <li class="<%= "active" if nav_link[:active] %>" style="width:<%= col_width %>%">
              <%= link_to nav_link[:link], title: nav_link[:title] do %>
                  <%= nav_link[:title] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="provider_header_skirting">
  </div>

</div>