<% 
  nav_links = [{
    link: provider_path(@provider),
    active: request.path == provider_path(@provider) && !params[:past].present?,
    title: "Classes"
  },{
    link: provider_teachers_path(@provider),
    active: request.path == provider_teachers_path(@provider),
    title: "Teachers"
  },{
    link: provider_subscriptions_path(@provider),
    active: request.path == provider_subscriptions_path(@provider),
    title: "Followers"
  },{
    link: contact_provider_path(@provider),
    active: request.path == contact_provider_path(@provider),
    title: "Contact"
  }]

  if false #current_user.authenticated?
    users_bookings = current_chalkler.bookings.from_provider(@provider)
    link_path = provider_follower_path(@provider, current_chalkler)
    if users_bookings.present?
      nav_links << {
        link: link_path,
        active: request.path == link_path,
        title: "My Bookings (#{users_bookings.count})"
      }
    end
  end

%>

<div class="provider_header provider-logo">
  <div class="container-fluid">
    <% if current_user.providers_adminable.include?(@provider) && current_page?(provider_path(@provider)) %> 
      <a class="avatar hover-photo" href="<%= edit_provider_path(@provider) %>">
        <div class="img" style="background-image: url(<%= @provider.logo %>)">
        </div>
      </a>
    <% else %>
      <a class="avatar" href="<%= provider_path(@provider) %>">
        <div class="img" style="background-image: url(<%= @provider.logo %>)">
        </div>
      </a>
    <% end %>

    <div class="provider_header_content">
      <h1 class="provider_header_name">
        <%= link_to @provider.name, provider_path(@provider) %>
      </h1>
    </div>

    <div class="provider_header_links">
      <nav>
        <ul class="flush">
        <% 
          nav_links.each do |nav_link| %>
            <li class="<%= "active" if nav_link[:active] %> col-xs-4 col-sm-3 col-md-2 flush">
              <%= link_to nav_link[:link], title: nav_link[:title] do %>
                  <%= nav_link[:title] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="provider_header_skirting">
  </div>

</div>