<% 
  nav_links = [{
    link: provider_path(@provider.url_name),
    active: request.path == provider_path(@provider.url_name),
    title: "Classes"
  },{
    link: providers_teachers_path(@provider.url_name),
    active: request.path == providers_teachers_path(@provider.url_name),
    title: "Teachers"
  },{
    link: provider_contact_path(@provider.url_name),
    active: request.path == provider_contact_path(@provider.url_name),
    title: "Contact"
  }]

  if false #current_user.authenticated?
    users_bookings = current_chalkler.bookings.from_provider(@provider)
    link_path = provider_follower_path(@provider.url_name, current_chalkler.id)
    if users_bookings.present?
      nav_links << {
        link: link_path,
        active: request.path == link_path,
        title: "My Bookings (#{users_bookings.count})"
      }
    end
  end

  col_width = 100 / nav_links.count
%>

<div class="provider_header">
  <div class="container">

    <a class="avatar block" href="<%= provider_path(@provider.url_name) %>">
      <div class="img" style="background-image: url(<%= @provider.logo %>)">
      </div>
    </a>

    <div class="provider_header_content">
      <h1>
        <%= link_to @provider.name, provider_path(@provider.url_name) %>
      </h1>
      <div class="provider_header_social">
        <% if current_user.authenticated? %>
          <% subscription = current_user.subscriptions.where(provider_id: @provider.id) %>
          <% unless subscription.present? %>
            <%= bootstrap_form_for(Subscription.new, url: provider_subscriptions_path(@provider.id), html: { method: :post }) do |f| %>
              <input value="Favourite" type="submit" class="btn btn-success" /> 
            <% end %>
          <% else %>
            <%= bootstrap_form_for(subscription[0], url: provider_subscription_path(@provider.id, subscription[0].id), html: { method: :delete }) do |f| %>
              <input value="Unfavourite" type="submit" class="btn btn-warning" /> 
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="provider_header_links">
      <nav>
        <ul class="flush">
        <% 
          nav_links.each do |nav_link| %>
            <li class="<%= "active" if nav_link[:active] %>" style="width:<%= col_width %>%">
              <%= link_to nav_link[:link], title: nav_link[:title] do %>
                  <%= nav_link[:title] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="provider_header_skirting">
  </div>

</div>