<% 
  controller_parts = request.path_parameters[:controller].split("/")
  action_parts = request.path_parameters[:action].split("/")

  nav_links = [
    {
      img_name: "metrics",
      link: sudo_metrics_path,
      active: controller_parts.include?("metrics"),
      title: "Metrics"
    },
    {
      img_name: "bolt",
      link: sudo_bookings_path,
      active: controller_parts.include?("bookings") && !action_parts.include?("pending_refunds") ,
      title: "Bookings"
    },
    {
      img_name: "book",
      link: sudo_outgoing_payments_path,
      active: controller_parts.include?("outgoings"),
      title: "Outgoings"
    },
    {
      img_name: "people",
      link: sudo_chalklers_path,
      active: controller_parts.include?("chalklers"),
      title: "Chalklers"
    },
    {
      img_name: "hello",
      link: sudo_partner_inquiries_path,
      active: controller_parts.include?("partner_inquiries"),
      title: "Hello"
    }
  ]

%>

<div class="provider_header">
  <div class="container-fluid">
    <a class="avatar block" href="<%= chalkle_about_path %>">
      <div class="img" style="background-image: url('http://i.imgur.com/Y4kT12T.jpg')">
      </div>
    </a>

    <div class="provider_header_content">
      <h1 class="provider_header_name">
        <%= link_to (@page_title.present? ? @page_title : "Sudo"), sudo_root_path %>
      </h1>
    </div>

    <div class="provider_header_links">
      <nav>
        <ul class="flush">
        <% 
          nav_links.each do |nav_link| %>
            <li class="<%= "active" if nav_link[:active] %> col-xs-4 col-sm-3 col-md-2 flush">
              <%= link_to nav_link[:link], title: nav_link[:title] do %>
                  <%= nav_link[:title] %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

  <div class="provider_header_skirting">
  </div>

</div>