%p Hello #{@chalkler.name.split[0]},
%p Here is your chalkle&deg; #{@chalkler.email_frequency} digest for #{Date.today.strftime("%A %B #{Date.today.day.ordinalize}")}.

-if @new_lessons.any?
  %h3 New chalkles:
  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", style: "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width: 100%;"}
    -@new_lessons.each do |lesson|
      %tr{style: "border-bottom: solid 4px #fff;"}
        %td{style: "padding: 10px; background: #ececec; width: 100%;"}
          %strong= link_to "#{lesson.channels.first.name}: #{lesson.name}", lesson.meetup_data["event_url"], {style: "color: #cd4063; text-decoration: underline; font-size: 16px;"}
          %br/
          %p{style: "color: #777; margin: 3px 0 0 0;"}= lesson.start_at.strftime("%a %b %d, %l:%M %p") if lesson.start_at
          %p{style: "line-height: 15px;"}= truncate(lesson.do_during_class, length: 250, separator: ' ')

-if @open_lessons.any?
  %h3 There is still time to sign up for these classes:
  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", style: "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width: 100%;"}
    -@open_lessons.each do |lesson|
      %tr{style: "border-bottom: solid 4px #fff;"}
        %td{style: "padding: 10px; background: #ececec; width: 100%;"}
          %strong= link_to "#{lesson.channels.first.name}: #{lesson.name}", lesson.meetup_data["event_url"], {style: "color:#24714c; text-decoration: underline; font-size: 16px;"}
          %br/
          %p{style: "color: #777; margin: 3px 0 0 0;"}= lesson.start_at.strftime("%a %b %d, %l:%M %p") if lesson.start_at
          %p{style: "line-height: 15px;"}= truncate(lesson.do_during_class, length: 250, separator: ' ')
          %p= link_to "Join #{lesson.attendance} other chalklers", lesson.meetup_data["event_url"], {style: "color: #24714c; text-decoration: underline;"}

-if @chalkler.channels.size > 1
  %p{style: "font-size: 16px; color: #777;"}
    See more chalkles from: 
    -@chalkler.channels.each_with_index do |c, i|
      = link_to "#{c.name}", "http://www.meetup.com/" + c.url_name + "/events/calendar/?scroll=true",{style: "color: #cd4062; text-decoration: underline; font-size: 16px;"}
      - unless i == @chalkler.channels.size - 1
        %span="#{" | "}"
  -else
    %p
      = link_to 'See more chalkles...',"http://www.meetup.com/" + ( @chalkler.channels.present? ? @chalkler.channels.first.url_name : "sixdegrees" ) + "/events/calendar/?scroll=true",{style: "color: #cd4063; text-decoration: underline; font-size: 16px;"}

%p{style: "color: #777; margin-bottom: 0px;"} Thank you for supporting chalkle&deg; and we look forward to seeing you soon!
