%p Hello #{@chalkler.name.split[0]},
%p Here is your chalkle&deg; #{@chalkler.email_frequency} digest for #{Date.today.strftime("%A %B #{Date.today.day.ordinalize}")}.

- if @new_lessons.any?
  %h2 New classes:
  %table.class-list{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
    - @new_lessons.each do |lesson|
      %tr
        %td
          %h3= link_to lesson.name.capitalize, lesson.url
          %p.details
            = lesson.category_name
            = "| #{lesson.channel_list}"
            = "| Starts: #{lesson.start_at.strftime("%l:%M%p %a %B %d")}" if lesson.start_at?
          %p= truncate(lesson.do_during_class, length: 250, separator: ' ')
          %p= link_to lesson.join_chalklers, lesson.url

- if @open_lessons.any?
  %h2 There is still time to sign up for these classes:
  %table.class-list{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0"}
    - @open_lessons.each do |lesson|
      %tr
        %td
          %h3= link_to lesson.name.capitalize, lesson.url
          %p.details
            = lesson.category_name
            = "| #{lesson.channel_list}"
            = "| Starts: #{lesson.start_at.strftime("%l:%M%p %a %B %d")}" if lesson.start_at?
          %p= truncate(lesson.do_during_class, length: 250, separator: ' ')
          %p= link_to lesson.join_chalklers, lesson.url

- if @chalkler.channels.any?
  %p= "See more classes from: #{@chalkler.channel_links}".html_safe

%p#signoff Thank you for supporting chalkle&deg; and we look forward to seeing you soon!
