Hello #{@chalkler.name.split[0]},

Here is your chalkle&deg; #{@chalkler.email_frequency} digest for #{Date.today.strftime("%A %B #{Date.today.day.ordinalize}")}.
="\r\n"
="\r\n"
-if @new_lessons.any?
  New chalkles:
  ="\r\n"
  -@new_lessons.each do |lesson|
    = link_to "#{lesson.channels.first.name}: #{lesson.name}", lesson.meetup_data["event_url"]
    = lesson.start_at.strftime("%a %b %d, %l:%M %p") if lesson.start_at
    = truncate(lesson.do_during_class, length: 250, separator: ' ')
    ="\r\n"

="\r\n"
-if @open_lessons.any?
  There is still time to sign up for these classes:
  ="\r\n"
  -@open_lessons.each do |lesson|
    = link_to "#{lesson.channels.first.name}: #{lesson.name}", lesson.meetup_data["event_url"]
    = lesson.start_at.strftime("%a %b %d, %l:%M %p") if lesson.start_at
    = truncate(lesson.do_during_class, length: 250, separator: ' ')
    = link_to "Join #{lesson.attendance} other chalklers", lesson.meetup_data["event_url"]
    ="\r\n"

="\r\n"
-if @chalkler.channels.size > 1
  See more chalkles from: 
  -@chalkler.channels.each_with_index do |c, i|
    = link_to "#{c.name}", "http://www.meetup.com/" + c.url_name + "/events/calendar/?scroll=true"
-else
  = link_to 'See more chalkles...',"http://www.meetup.com/" + ( @chalkler.channels.present? ? @chalkler.channels.first.url_name : "sixdegrees" ) + "/events/calendar/?scroll=true"
="\r\n"
Thank you for supporting chalkle&deg; and we look forward to seeing you soon!
