<table cellpadding="0" cellspacing="0">
  <% @courses.featured.each_with_index do |course, index| %> 
    
    <% if index%2 == 0 %>
      <td></td>
      <tr>
    <% end %>

      <td class="feature" width="150">
        <table cellpadding="0" cellspacing="0">
          <tr><td>

<!-- THE COURSE HEADER BAR -->
            <table cellpadding="0" cellspacing="0">
              <tr>
                <td>
                  <h1><%= link_to course.name, course_url(course) %></h1>
                </td>
                <td align="right">
                  <%= link_to(course.spaces_left + "spot".pluralize(course.spaces_left) + "remaining", course_url(course)) if course.limited_spaces? %>
                </td>
              </tr>
            </table>
<!-- END COURSE HEADER BAR -->

          </td></tr>
          <tr><td>
            <%= link_to img_tag(course.course_upload_image.url(:medium)), course_url(course) %>
          </td></tr>
          <tr><td>
            <%= link_to course.provider.name, course_url(course) %>
          </td></tr>
        </table> 
      </td>

    <% if index%2 == 1 %>
      </tr>
      <td></td>
    <% end %>

  <% end %> <!-- FEATURED COURSES EACH -->

  <tr><td colspan="3"><hr /></td></tr>
  
  <% @courses.not_featured.each_with_index do |course, index| %>
    <% if index%2 == 0 %>
      <td></td>
      <tr>
    <% end %>

      <td class="listed"><%= link_to course.name, course_url(course) %></td>

    <% if index%2 == 1 %>
      </tr>
      <td></td>
    <% end %>

  <% end %>


</table>
