%p Hello #{@chalkler.name.split[0]},
%p Here is your chalkle&deg; #{@chalkler.email_frequency} digest for #{Date.today.strftime("%A %B #{Date.today.day.ordinalize}")}.

-if @new_lessons.any?
  %h3 New chalkle&deg; classes:
  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", style: "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width: 100%;"}
    -@new_lessons.each do |lesson|
      %tr{style: "border-bottom: solid 4px #fff;"}
        %td{style: "padding: 10px; background: #ececec; width: 100%;"}
          %strong= link_to lesson.name, lesson.meetup_data.present? ? lesson.meetup_data["event_url"] : "http://www.chalkle.com", {style: "color: #cd4063; text-decoration: underline; font-size: 16px;"}
          %span{style: "color: #777;"}= lesson.start_at.strftime("%a %b %d") if lesson.start_at
          %p= truncate(lesson.do_during_class, length: 250)

-if @open_lessons.any?
  %h3 There is still time to sign up for these classes:
  %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", style: "border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; width: 100%;"}
    -@open_lessons.each do |lesson|
      %tr{style: "border-bottom: solid 4px #fff;"}
        %td{style: "padding: 10px; background: #ececec; width: 100%;"}
          %strong= link_to lesson.name, lesson.meetup_data.present? ? lesson.meetup_data["event_url"] : "http://www.chalkle.com", {style: "color:#24714c; text-decoration: underline; font-size: 16px;"}
          %span{style: "color: #777;"}= lesson.start_at.strftime("%a %b %d") if lesson.start_at
          %p
            = truncate(lesson.do_during_class, length: 250)
            %br/
            = link_to "Join #{lesson.attendance} other chalklers", lesson.meetup_data.present? ? lesson.meetup_data["event_url"] : "http://www.chalkle.com", {style: "color: #24714c; text-decoration: underline;"}

-# %p
-# %p= link_to 'See more chalkles...',"http://www.meetup.com/" + ( @chalkler.channels.present? ? @chalkler.channels.collect{|c| c.url_name}.first : "sixdegrees" ) + "/events/calendar/?scroll=true",{style: "color: #cd4063; text-decoration: underline; font-size: 16px;"}

%p Thank you for supporting chalkle&deg; and we look forward to seeing you soon!

-# %span{style: "color: #777;"} What do you think of this email? #{link_to 'Let us know!',"mailto:learn@chalkle.com", {style: "color: #cd4063; text-decoration: underline;"}}
