
<!-- VISION, MISSION & VALUES
We work to see a world where:
We are surrounded by opportunities that inspire us to learn for life. 
Everybody has something to teach. 
Our work is to:
Empower a new generation of teachers and community organisers to ignite a renaissance of learning. 
We aim to work so that: 
Our providers are empowered, connected agents of their own success. 
Chalklers enjoy a buffet of great learning experiences.
Our team is inspired, confident and learning. 

TEAM
Silv
Matt
Ants
Josh

Photos and descriptions. 
ADVISORY & SUPPORT
Geoff
Linc
Will 
Thomas
Doris
Akina
Enspiral
ALUMNI
Since inception, a fantastic group of people have worked to bring Chalkle to where it stands today, in order of appearance:
Linc Gasking, Joshua Vial, Brandon Mikel, Leticia Murillo Esteban, Amy Peng, Kiesia Carmine, Nanz Nair, Nicola Price, Hannah Varnell, Liz Willoughby-Martin, Craig Ambrose, Mitzi Borren, 
 -->

<div class="container" id="partners-page">

  <section id="byline" class="row">
    <div class="text-center">
      <br /><br />
      <h2 class="flush">
        We are surrounded by opportunities to learn. 
      </h2>
      <p>
        Chalkle provides software and resources which enables that learning.
      </p>
    </div>
  </section>

  <br /><br />
  
  <section id="software" class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="col-md-6 flush">
        
        <div class="col-sm-12 platform-image-holder">
          <div class="admin-image"></div>
        </div>

        <div id="admin" class="col-sm-12">
          <h1>Software to help you organise your classes</h1>
          <ul>
            <li class="col-sm-6">Set up classes</li>
            <li class="col-sm-6">Organise teachers</li>
            <li class="col-sm-6">Performance metrics</li>
            <li class="col-sm-6">Automated emails & reminders</li>
            <li class="col-sm-6">Bookings & payments management</li>
            <li class="col-sm-6">Promote your classes</li>
          </ul>
        </div>
      </div>

      <div class="col-md-6 flush">

        <div class="col-sm-12 platform-image-holder">
          <div class="computer-games-image"></div>
          <div class="ipad-image"></div>
        </div>

        <div id="platform" class="col-sm-12">
          <h1>Your own branded provider on our shared publishing platform</h1>
          <p>Publish your classes on your own branded provider. Profile your teachers and promote your classes to an active community of learners on chalkle.com</p>
        </div>

      </div>
    </div>

  </section>

  <section id="benefits" class="row">
    <h1 class="col-xs-12">Chalkle will help you:</h1>

    <div class="benefits col-xs-12 col-sm-6 benefits-community benefits-top">
      <div>
        <h2>Meet new people and grow your community</h2>
        Launch your own provider on Chalkle.com and promote your classes to a wider audience.
      </div>
    </div>

    <div class="benefits col-xs-12 col-sm-6 benefits-revenue benefits-top benefits-right">
      <div>
        <h2>Earn revenue and save money</h2>
        Set your own prices for your classes, set your own rates for paying teachers and community organisers.
      </div>
    </div>


    <div class="benefits col-xs-12 col-sm-6 benefits-organise benefits-bottom">
      <div>
        <h2>Make organising classes easy</h2>
        We make it easy to manage your bookings, and connect with your learners and give you access to resources to help you get started running great classes.
      </div>
    </div>

    <div class="benefits col-xs-12 col-sm-6 benefits-classes benefits-bottom benefits-right">
      <div>
        <h2>Deliver great classes to lifelong learners!</h2>
        We take away the stress so you can focus on what you do best; <strong>teach great classes</strong>.
      </div>
    </div>

  </section>


  <section id="who" class="row">
    <h1 class="col-sm-12">Who uses Chalkle?</h1>

    <div class="who col-sm-3">
      <h1>Teachers</h1>
      <div class="teacher-hero"></div>
      <h3>Brandon’s Ukes</h3>
      <p>
        Brandon is a ukulele teacher in Wellington who has used Chalkle to grow a community of learners and a personal brand around these ukulele classes.
      </p>
    </div>

    <div class="who col-sm-3">
      <h1>Community Groups</h1>
      <div class="community-hero"></div>

      <h3>Innermost Gardens</h3>
      <p>
        Innermost Gardens hosts local food production, preparation and natural building workshops through Chalkle to a growing community of learners.
      </p>
    </div>

    <div class="who col-sm-3">
    <h1>Small Business</h1>
      <div class="business-hero"></div>
      <h3>Enspiral</h3>
      <p>
        Enspiral hosts highly practical Social Entrepreneurship development classes, delivered by a network of practicing Entrepreneurs.
      </p>
    </div>

    <div class="who col-sm-3">
    <h1>Libraries</h1>
      <div class="library-hero"></div>

      <h3>Te Takere</h3>
      <p>
        Te Takere is a Cultural Community Centre and Library in Horowhenua. They use Chalkle to manage and promote their classes and run a huge range of lifelong learning opportunities.
      </p>
    </div>
  </section>
</div>
<div class="plans-and-pricing-wrapper">
  <div class="container">
    <section id="plans-and-pricing" class="row">
    <a name="prices"></a>
      <h1 class="col-sm-12">Plans & Pricing</h1>  
      <h2 class="col-sm-12">Our focus on providing accessible, diverse learning opportunities means we refuse to let cost be a barrier to organisations committed to delivering great classes.
      </h2>
    
      <div class="col-sm-6 col-md-4 col-md-offset-1">
        <div id="community-plan">
          <h3>Community Plan</h3>

          <div class="price-circle">
            <div class="price">$2</div>
            <div class="per">per learner</div>
            <div class="class">per class</div>
          </div>

          <ul>
            <li>
              Launch your own branded provider<br />
              <span class="feature-url">
              <%= image_tag asset_path("partners/globe.png"), width: 14, height: 14 %> 
              yourprovider.<span class="white">chalkle.com</span></span>
            </li>
            <li>
              Manage up to 10 teachers and 50 classes per month 
            </li>
            <li>
              No Subscription Fees
            </li>
            <li>
              Full control of class pricing
            </li>
            <li>
              Up to 2 free classes per month
            </li>
          </ul>

        </div>
      </div>
      
      <div class="col-sm-6 col-md-4 col-md-offset-1">
        <div id="enterprise-plan">
          <h3>Enterprise Plan</h3>
          <p>We can tailor software and support packages for you.</p>
        
          <div class="who-its-for">
            <h4>Perfect For</h4>
            Libraries, local councils, and Adult Community Education providers!
          </div>

          <ul>
            <li>Full use of all community plan features</li>
            <li>Priority support and feature requests*</li>
            <li>Manage unlimited: <br />
              Teachers, Admins, and Free classes</li>
            <li>Setup, training & launch packages</li>
            <li>Design & promotional services</li>
          </ul>
          <p>
            <small>*all enterprise customers receive priority support and feature requests. Chalkle will filter feedback and requests into our product development cycles.</small>
          </p>
        </div>
      </div>

    </section>
  </div>
</div>

<br /><br />
<section id="keen">
  <div class="container">
    <div class="text-center">
      <h1>Keen to learn more or join us? <em>Let's chat</em>.</h1>
      <br />
     <%= link_to "Say Hello", partners_say_hello_path, class: 'col-sm-6 col-sm-offset-3 col-xs-12hello-button btn btn-primary'  %>
    </div>
  </div>
</section>
<br /><br />
<div class="container">
  <section id="faq" >
    <h1 class="col-sm-12">FAQs</h1>
    <div class="row">
      <div class="col-sm-6">
        <strong>How does the class price work?</strong>
          <p>
            The price of classes is completely flexible, determined by the provider partner and teacher. Chalkle calculates an advertised price per chalkler for each class based on:
          </p>
          <p>
            <span class="left-hand-equation white">
              teacher fee + provider admin fee + chalkle success fee
            </span> <br /> x 
            <span class="right-hand-equation">
              a transaction processing fee of 4.0%
            </span>
          </p>
      </div>

      <div class="col-sm-6 ">
        <strong>What are the success fees?</strong>
          <p>
            The success fee is a fixed chalkle fee of $2 (+GST) per chalkler, per class. This fee is automatically added to the advertised price of a class and deducted before delivering payments to provider organisations. This is our way of remaining agnostic and providing equal value to all our customers, from independent teachers and volunteer community groups to larger enterprises.
          </p>
      </div>
      <div class="clear"></div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <strong>Teacher fee</strong>
          <p>
            For each class teachers are asked to calculate a cost per chalkler (how much would they like to earn, per person in the class).
          </p>
      </div>

      <div class="col-sm-6">
        <strong>Payments</strong>
          <p>
            Classes are pre-paid by chalklers when they sign up to a class online. Chalkle collects all payments from classes and makes payments to teachers and provider organizations monthly.
          </p>
      </div>
    </div>
  </section>
  <section id="legals">
      <div class="text-center">
        <h1>Legals</h1>
        <p>Chalkle is commited to created a safe and happy environment for everyone.</p>
        <a href="<%= terms_path %>">Terms & Conditions for Learners</a> <br />
        <a href="<%= teacher_terms_path %>">Terms & Conditions for Teachers</a>  <br />
        <a href="<%= provider_terms_path %>">Terms & Conditions for Providers</a>  <br />
      </div>
   </section>
  </div>
</div>





