<section id="hello" class="row"> 
  <div class="col-sm-7 col-sm-offset-2">
  <p>
    In order to be as helpful as possible, we’d love to learn a little bit more about your organisation. Answer the questions below and we’ll be in touch directly with the next steps.
  </p>
  <p>
  Or if you have a question, grab us directly here: <%= mail_to "hello@chalkle.com", 'hello@chalkle.com' %>.
  </p>

</section>

<section class="row" id="hello-form">

  <div class="col-sm-8 col-sm-offset-2">


    <%= bootstrap_form_for 'said_hello', url: 'said_hello' do |f| %> 
      
      <% if @partner_inquiry.errors.any? %>

        
        <div class="col-sm-12 errors">
          <h3>There were some errors on your form: </h3>
          <% @partner_inquiry.errors.full_messages.each do |msg| %>
            <div class="error"><%= msg %></div>
          <% end %>
        </div>

      <% end %>

      <div class="col-sm-12 flush">
        <h1 class="col-sm-12">Contact Details</h1>

        <div class="form-item">
          <%= f.label :name, "What is your name?*", class: "col-sm-5" %>
          <%= f.text_field :name, class: "col-sm-6" %> 
        </div>

        <div class="form-item">
          <%= f.label :organisation, "What is your organisation called?", class: "col-sm-5" %>
          <%= f.text_field :organisation, class: "col-sm-6" %>
        </div>

        <div class="form-item">
          <%= f.label :location, "Where are you based?", class: "col-sm-5" %> 
          <%= f.text_field :location, class: "col-sm-6" %>
        </div>

        <div class="form-item">
          <%= f.label :contact_details, "What email or phone number is best used to contact you?*", class: "col-sm-5" %>
          <%= f.text_field :contact_details, class: "col-sm-6" %>
        </div>

      </div>

      <div class="col-sm-12">
        <div class="form-item">
          <%= f.label :comment, "What do you want to achieve with Chalkle°?", class: "col-sm-12" %>
          <%= f.text_area :comment, class: "col-sm-12", rows: 4  %> 
        </div>
        <br />
        <div class="submit-wrapper col-sm-12">
          <%= f.submit "Say Hello", class: 'hello-button'%> 
        </div>
      </div>

    <% end %>
  </div>

</section>