%table
  %thead
    %tr
      %th Name
      %th Teacher
      %th Category
      %th Channel
      %th Price

  %tbody
    -courses.each do |course|
      %tr
        %td #{link_to(course.name, admin_course_path(course))}
        %td #{course.teacher.present? ? (link_to(course.teacher.name, admin_chalkler_path(course.teacher))) : "No Teacher"}
        %td #{course.category_name}
        %td #{course.channel.name if course.channel}
        %td #{number_to_currency course.cost}
