%table
  %thead
    %tr
      %th Name
      %th Teacher
      %th Category
      %th Channel
      %th Comments
      %th Price

  %tbody
    -lessons.each do |lesson|
      %tr
        %td #{link_to(lesson.name, admin_lesson_path(lesson))}
        %td #{lesson.teacher.present? ? (link_to(lesson.teacher.name, admin_chalkler_path(lesson.teacher))) : "No Teacher"}
        %td #{lesson.category_name}
        %td #{lesson.channel.name}
        %td #{(comment = ActiveAdmin::Comment.where{(resource_type.eq "Lesson") & (resource_id.eq lesson.id.to_s)}.order("created_at").last).nil? ? nil : comment.body}
        %td #{number_to_currency lesson.cost}
