%table
  %thead
    %tr
      %th Name
      %th Teacher
      %th Category
      %th Channel
      %th Price

  %tbody
    -lessons.each do |lesson|
      %tr
        %td #{link_to(lesson.name, admin_lesson_path(lesson))}
        %td #{lesson.teacher.present? ? (link_to(lesson.teacher.name, admin_chalkler_path(lesson.teacher))) : "No Teacher"}
        %td #{lesson.category_name}
        %td #{lesson.channel.name if lesson.channel}
        %td #{number_to_currency lesson.cost}
