-channels.each do |c|
  %h3
    #{c.name} Channel
  %h5 
    Financial
  %table
    %thead
      %tr
        %th Period
        %th Revenue
        %th Cost
        %th Profit

    %tbody
      -days.each do |day|
        %tr
          %td Last #{day} days
          %td #{number_to_currency Lesson.total_revenue(day,c.id)}
          %td #{number_to_currency Lesson.total_cost(day,c.id)}
          %td #{number_to_currency Lesson.total_revenue(day,c.id) - Lesson.total_cost(day,c.id)}

  %h5 
    Volume
  %table
    %thead
      %tr
        %th Period
        %th Not cancelled classes
        %th Cancelled classes
        %th Attendees (percent filled)
        %th Members (New / % active) 
        %th Paid classes / Unpaid classes

    %tbody
    -days.each do |day|
      %tr
        %td Last #{day} days
        %td #{Lesson.not_cancel(day,c.id).sum} classes (#{Lesson.not_cancel(day,c.id).first} new / #{Lesson.not_cancel(day,c.id).last} repeat)
        %td #{Lesson.cancel(day,c.id).sum} classes (#{Lesson.cancel(day,c.id).first} new / #{Lesson.cancel(day,c.id).last} repeat)
        %td #{Lesson.attendee(day,c.id)} ( #{number_to_percentage Lesson.fill_fraction(day,c.id)} )


     
