-channels.each do |c|
  %h3
    #{c.name} Channel
  %h4 
    Financial
  %table
    %thead
      %tr
        %th Week
        %th Revenue
        %th Cost*
        %th Profit

    %tbody
      -last_day = Date.today().end_of_week(start_day= :wednesday)
      -(1..num_weeks).each do |i|
        %tr
          -start_date = (Date.today() - last_day.weeks_ago(i) ).to_i
          -end_date = [(Date.today() - last_day.weeks_ago(i-1) ).to_i,0].max
          %td #{last_day.weeks_ago(i).strftime("%d %b")} - #{last_day.weeks_ago(i-1).strftime("%d %b")}
          %td #{number_to_currency Lesson.total_revenue(start_date,end_date,c.id)}
          %td #{number_to_currency Lesson.total_cost(start_date,end_date,c.id)}
          %td #{number_to_currency ( Lesson.total_revenue(start_date,end_date,c.id) - Lesson.total_cost(start_date,end_date,c.id) )}
  %p
    *Cost includes teacher, venue and material cost

  %h4 
    Classes
  %table
    %thead
      %tr
        %th Week
        %th Classes ran
        %th Cancelled classes
        %th Paid classes / Unpaid classes
        %th New Teachers

    %tbody
      -(1..num_weeks).each do |i|
        %tr
          -start_date = (Date.today() - last_day.weeks_ago(i) ).to_i
          -end_date = [(Date.today() - last_day.weeks_ago(i-1) ).to_i,0].max
          %td #{last_day.weeks_ago(i).strftime("%d %b")} - #{last_day.weeks_ago(i-1).strftime("%d %b")}
          %td #{Lesson.classes_run(start_date,end_date,c.id).sum()} ( #{Lesson.classes_run(start_date,end_date,c.id).first} new / #{Lesson.classes_run(start_date,end_date,c.id).last} repeat )
          %td #{Lesson.classes_cancel(start_date,end_date,c.id).sum()} ( #{Lesson.classes_cancel(start_date,end_date,c.id).first} new / #{Lesson.classes_cancel(start_date,end_date,c.id).last} repeat )
          %td #{Lesson.classes_pay(start_date,end_date,c.id).first} paid classes / #{Lesson.classes_pay(start_date,end_date,c.id).last} free classes

  %h5
    Top five categories are:


  %h4 
    Chalklers
  %table
    %thead
      %tr
        %th Period
        %th Attendees
        %th New members
        %th Active members*

    %tbody
      -(1..num_weeks).each do |i|
        %tr
          -start_date = (Date.today() - last_day.weeks_ago(i) ).to_i
          -end_date = [(Date.today() - last_day.weeks_ago(i-1) ).to_i,0].max
          %td #{last_day.weeks_ago(i).strftime("%d %b")} - #{last_day.weeks_ago(i-1).strftime("%d %b")}
          %td #{Lesson.attendee(start_date,end_date,c.id)} chalklers attended ( Average class is #{number_to_percentage(Lesson.fill_fraction(start_date,end_date,c.id),:precision => 0) } filled )
          %td #{Chalkler.new_chalklers(start_date,end_date,c.id)}
          %td #{number_to_percentage(Chalkler.percent_active(last_day.weeks_ago(i-1),c.id),:precision => 0)}
  %p
    *A chalkler is active if he has RSVP activities within the last 3 months






     
