<li role="presentation" class="_notification clearfix <%= 'unactioned' unless notification.actioned? %> <%= 'unseen' unless notification.seen? %> ">
  <%= link_to me_show_notification_path notification do %>
    <div class="avatar64">
      <div class="img" style="background-image: url(<%= notification.image %>)">
      </div>
    </div>
    <p class="small">
      <%= quick_date_time notification.valid_from %>
    </p>
    <%= to_html(notification.message) %>
  <% end %>
</li>
<li class="divider flush"></li>