
<% content_for :header do %>
  <%= javascript_include_tag "sudo" %>
<% end %>

<div id="metrics-filters">
  <h3 id="current_month"><%= @month.first_day.strftime("%B, %Y") %></h3>
  <span class="light">Change Month</span>
  <input class="typeahead form-control" id="month_select" type="text" placeholder="Month, Year">
</div>
<hr />

<div id="overview">
</div>

<script>
  $(function(){

    var months = [
      <% (Date.new(2012,7,1)..Date.current).map{|d| Month.new(d.year,d.month) }.uniq.each do |month| %>
        {value: '<%= month.first_day.strftime("%Y-%m-%d") %>', name: '<%= month.first_day.strftime("%B, %Y") %>'},
      <% end %>
    ];

    function init_typeahead(){
      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
          var matches, substrRegex;
       
          // an array that will be populated with substring matches
          matches = [];
       
          // regex used to determine if a string contains the substring `q`
          substrRegex = new RegExp(q, 'i');
       
          // iterate through the pool of strings and for any string that
          // contains the substring `q`, add it to the `matches` array
          $.each(strs, function(i, str) {
            if (substrRegex.test(str.name)) {
              // the typeahead jQuery plugin expects suggestions to a
              // JavaScript object, refer to typeahead docs for more info
              matches.push({ name: str.name , value: str.value });
            }
          });
          cb(matches);
        };
      };
       
      $('#metrics-filters .typeahead').typeahead({
        hint: true,
        highlight: true,
        minLength: 1
      },
      {
        name: 'months',
        displayKey: 'name',
        valueKey: 'value',
        source: substringMatcher(months)
      });
    }

    function load_overview(){
      var selected = $("#month_select").typeahead('val');
      var val = months.filter(function(month){ return month.name == selected});
      var data = {}
      if(val.length > 0){
        data = { month: val[0].value};
      }
      $("#overview").html("Loading...");
      $.post("<%= overview_sudo_metrics_path %>", data , function(view){
        $("#overview").html(view);
        $("#current_month").text($('#hidden_current_month').val());
      });
    }

    $('#month_select').bind('typeahead:selected', load_overview);

    init_typeahead();
    load_overview();
  });
</script>







