!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    Hello #{@chalkler.name.split[0]}, 
    %br/
    Here is your chalkle #{@frequency.to_s} digest for #{Date.today()}
    
    -if @new_lessons.count > 0
      New chalkle Classes, Tailored For You:
      %table
        %thead
          %tr
            %th Title
            %th Date of class
            %th What will we do
        %tbody
          -@new_lessons.each do |lesson|
            %tr
              %td= link_to lesson.name, lesson.meetup_data.present? ? lesson.meetup_data["event_url"] : "http://www.chalkle.com"
              %td= lesson.start_at
              %td= lesson.do_during_class

    -if @still_open_lessons.count > 0
      There is still time to sign up for these classes:
      %table
        %thead
          %tr
            %th Title
            %th Date of class
            %th 
        %tbody
          -@still_open_lessons.each do |lesson|
            %tr
              %td= lesson.name
              %td= lesson.start_at
              %td= link_to "Join" + lesson.attendance.to_s + " other chalklers", lesson.meetup_data.present? ? lesson.meetup_data["event_url"] : "http://www.chalkle.com"
    %p
      #{link_to 'See More',"http://www.meetup.com/" + ( @chalkler.channels.present? ? @chalkler.channels.collect{|c| c.url_name}.first : "sixdegrees" ) + "/events/calendar/?scroll=true"} chalkles?

    %p
      Thank you for supporting chalkle and we look forward to seeing you soon!
      %br/
      chalkle

    %p
      What do you think of this email? #{link_to 'Let us know!',"mailto:learn@chalkle.com"}
