-channels.each do |c|
  %h3
    #{c.name} Channel
  %h4
    Financials
  %table
    %thead
      %tr
        %th Week
        %th Turnover (total collected from classes)
        %th % Change turnover
        %th Costs*
        %th % Change cost
        %th Gross Profit after paying GST
        %th % Change profit

    %tbody
      -first_day = StatsPolicy.new(Date.current().midnight - num_weeks*period).stats_begin_date
      -financial_table = c.financial_table(first_day,1.week,num_weeks)

      -financial_table.each do |x|
        %tr
          %td #{x.start.strftime("%d %b")} - #{(x.start + period).strftime("%d %b")} #{ "(projected)" if Time.now < (x.start + period)}
          %td #{number_to_currency x.turnover}
          %td #{number_to_percentage( x.percent_turnover, :precision => 0)}
          %td #{number_to_currency x.cost}
          %td #{number_to_percentage( x.percent_cost, :precision => 0)}
          %td #{number_to_currency x.profit}
          %td #{number_to_percentage( x.percent_profit, :precision => 0)}
      %tr
        %td <strong> Average of #{num_weeks} weeks </strong>
        %td <strong> #{number_to_currency( financial_table.average("turnover") )} </strong>
        %td <strong> #{number_to_percentage( financial_table.average("percent_turnover") , :precision => 0 )} </strong>
        %td <strong> #{number_to_currency( financial_table.average("cost")  )} </strong>
        %td <strong> #{number_to_percentage( financial_table.average("percent_cost") , :precision => 0 )} </strong>
        %td <strong> #{number_to_currency( financial_table.average("profit")  )} </strong>
        %td <strong> #{number_to_percentage( financial_table.average("percent_profit") , :precision => 0 )} </strong>

  %p
    *Costs include teacher, venue and material costs

  %h4
    Classes
  %table
    %thead
      %tr
        %th Week
        %th Classes announced
        %th % Change Classes announced
        %th Classes ran
        %th % Change classes ran
        %th Cancellations
        %th % Change cancellations

    %tbody
      -courses_table = c.courses_table(first_day,1.week,num_weeks)
      -courses_table.each do |x|
        %tr
          %td #{x.start.strftime("%d %b")} - #{(x.start + period).strftime("%d %b")} #{ "(projected)" if Time.now < (x.start + period)}
          %td #{x.courses_announced} ( #{x.new_courses_announced} new / #{x.courses_announced - x.new_courses_announced} repeat )
          %td #{number_to_percentage( x.percent_courses_announced, :precision => 0)}
          %td #{x.courses_ran} ( #{x.paid_courses} paid classes / #{x.courses_ran - x.paid_courses} free classes )
          %td #{number_to_percentage( x.percent_courses_ran, :precision => 0)}
          %td #{x.cancelled_courses} ( #{x.new_cancelled_courses} new / #{x.cancelled_courses - x.new_cancelled_courses} repeat )
          %td #{number_to_percentage( x.percent_cancelled_courses, :precision => 0)}
      %tr
        %td <strong> Average of #{num_weeks} weeks </strong>
        %td <strong> #{number_to_human courses_table.average("courses_announced")} classes </strong>
        %td <strong> #{number_to_percentage( courses_table.average("percent_courses_announced"), :precision => 0)} </strong>
        %td <strong> #{number_to_human courses_table.average("courses_ran")} classes </strong>
        %td <strong> #{number_to_percentage( courses_table.average("percent_courses_ran"), :precision => 0)} </strong>
        %td <strong> #{number_to_human courses_table.average("cancelled_courses")} classes </strong>
        %td <strong> #{number_to_percentage( courses_table.average("percent_cancelled_courses"), :precision => 0)} </strong>

  %h4
    Chalklers
  %table
    %thead
      %tr
        %th Period
        %th Attendees
        %th % Change attendees
        %th New members
        %th % Change new members
        %th Active members*

    %tbody
      -chalkler_table = c.chalkler_table(first_day,1.week,num_weeks)
      -chalkler_table.each do |x|
        %tr
          %td #{x.start.strftime("%d %b")} - #{(x.start + period).strftime("%d %b")} #{ "(projected)" if Time.now < (x.start + period)}
          %td #{x.attendee} chalklers ( The average class is #{number_to_percentage(x.fill_fraction, :precision => 0)} filled )
          %td #{number_to_percentage(x.percent_attendee, :precision => 0)}
          %td #{x.new_chalklers}
          %td #{number_to_percentage(x.percent_new_chalklers, :precision => 0)}
          %td #{number_to_percentage(x.percent_active,:precision => 0)}

      %tr
        %td <strong> Average of #{num_weeks} weeks </strong>
        %td <strong> #{number_to_human chalkler_table.average("attendee")} chalklers </strong>
        %td <strong> #{number_to_percentage( chalkler_table.average("percent_attendee"), :precision => 0)} </strong>
        %td <strong> #{number_to_human chalkler_table.average("new_chalklers")} chalklers </strong>
        %td <strong> #{number_to_percentage( chalkler_table.average("percent_new_chalklers"), :precision => 0)} </strong>
        %td <strong> #{number_to_percentage( chalkler_table.average("percent_active"), :precision => 0)} </strong>

  %p
    * A chalkler is active if they have RSVP activities within the last 2 months





