Hi #{teachers},

%p Here are the attendees we have on record for your class, <b>#{title}</b> and their answers to the preclass question, "what are you looking forward to learning from this class?"
%table{:style=>"border: 1px; width: 60%"}
  %col{:width => "20px"}
  %col{:width => "5px"}
  %col{:width => "300px"}
  %tbody
    -bookings.each do |b|
      %tr
        -if b.guests.nil? || b.guests == 0
          %td= "#{b.chalkler.name}"
        -else
          %td= "#{b.chalkler.name} + #{b.guests} guests"         
        -if price > 0
          - if b.paid == true
            %td= "(paid)"
          - else
            %td= ""
        %td= render "/admin/bookings/answers", :answers => b.answers if b.answers
        
%p Please reply to this email after the class if actual class attendance differs from this list.
%p Have a great class and I shall follow up with you subsequent to the class.
%p Chalkle

%hr

-if price > 0
  %p Hi
  %p Thank you for signing up to the upcoming chalkle&deg class, #{title}. Here are the details of your class:
  %p
    Time: <b> #{start_time.strftime("%l:%M %p %A %d %B")} </b>
    %br/
    Location: <b> #{venue} </b>
    %br/
    Teacher: <b> #{teachers} </b>
    %br/
    Price: <b> #{number_to_currency price} per person</b>, please pay before the class at Te Takere service desk or by bank transfer using these details:

  %p
    Account number: 38-9012-0815531-04
    %br/
    Name: Chalkle Limited
    %br/
    Reference number: #{reference} - Your name

  %p You can view further details about this class, and sign up for more chalkle&deg classes by visiting chalkle's #{link_to 'Horowhenua website',"http://my.chalkle.com/channels/3"}.
  %p Thank you for supporting chalkle&deg and we look forward to seeing you soon!
  %p Chalkle&deg

%hr

%p Hi,

%p The upcoming chalkle class #{title}, has been cancelled due to insufficient sign-ups. If you require a refund for this class, please contact accounts@chalkle.com with your bank account number. 

%p Thank you for supporting chalkle&deg and we look forward to seeing you in another chalkle&deg class.

%p Your Chalkle Administrator
