#{lesson.name.downcase}

%br
Start time: #{lesson.start_at.present? ? lesson.start_at.to_formatted_s(:long) : nil}
%br
End time: #{ (lesson.start_at.present? && lesson.duration.present?) ? (lesson.start_at + lesson.duration).to_formatted_s(:long) : nil}

%br
Location: #{lesson.venue.present? ? lesson.venue : nil}

.meetup_image{ :style => 'margin: 1em 0;' }
  =image_tag lesson.image.url if lesson.image

%br
%br
%b what we are doing
%br
#{simple_format lesson.do_during_class}

%br
%b what you will learn
%br
#{simple_format lesson.learning_outcomes}

%br
%b type of class
#{lesson.lesson_type.downcase if lesson.lesson_type?}

%br
%br
%b skill required
#{lesson.lesson_skill.downcase if lesson.lesson_skill?}

%br
%br
%b your chalkler will be
%br
#{simple_format lesson.teacher_bio}

%br
%b what to bring
%br
#{lesson.prerequisites.blank? ? "None" : (simple_format lesson.prerequisites)}

%br
%b cost

#{lesson.cost? ? (cost = number_with_precision(lesson.cost, :precision => 2, :significant => false)) + "(incl. GST, if any)" : "free"} 
%br
-if lesson.cost?
  %br
  %b how to book and pay
  %br
  We expect pre-payment for all classes.
  %br
  RSVP and pay using this paypal link or
  %br
  deposit #{cost} into chalkle's Kiwibank account:
  %br
  \#38-9012-0815531-00
  %br
  Reference: #{lesson.meetup_id.present? ? lesson.meetup_id : "Event Meetup ID"} - Your name

%br
%br
%b note
%br
we require a minimum of #{lesson.min_attendee} people for this class to go ahead.
%br
%br
disclaimer
%br
whilst every possible assistance will be offered, chalkle&deg, the Event Organisers/hosts and members cannot be held responsible for any accident, injuries or losses sustained leading up to, during, or after a class.
%br
%br 
our cancellation policy
%br
if you RSVP for a class and fail to show up, you will get a "no show". Three no shows means you will be removed from chalkle&deg. You may request to rejoin after six months.
%br
if you cancel your RSVP:
%br
\- less than 3 days before = no refund
%br
\- after 7pm the night before = no refund and a "no show" will be recorded
%br
%br
%b about chalkle&deg
%br
chalkle&deg connects people interested in teaching and learning from each other face-to-face -- in a fun, social environment!
%br
choose from many affordable lessons up for grabs (from intros to master classes) in agriculture, art and craft, business, construction, digital media, food, languages, music and performance, science, technology and zombie survival... and many of the lessons are free!
