
#{lesson.category.present? ? lesson.category.name : nil} : #{lesson.name}

%p
Date: #{lesson.start_at.present? ? lesson.start_at : nil}

%p
Location: #{lesson.venue.present? ? lesson.venue : nil}

%p
%b what we are doing
%br
#{simple_format lesson.do_during_class}

%p
%b what you will learn
%br
#{simple_format lesson.learning_outcomes}

%p
%b type of class 
#{lesson.lesson_type}

%p
%b skill required 
#{lesson.lesson_skill}

%p
%b your chalkler will be
%br
#{simple_format lesson.teacher_bio}

%p
%b what you need to bring
%br
#{lesson.prerequisites.blank? ? "None" : (simple_format lesson.prerequisites)}

%p
%b cost 
#{lesson.cost? ? (cost = number_with_precision(lesson.cost*1.15, :precision => 2, :significant => false)) : "free"} (incl. GST)

-if lesson.cost
  %p
  %b how to book and pay:
  %br
  RSVP and pay using this paypal link or 
  %br
  deposit #{cost} into chalkle's Kiwibank account:
  %br
  \#38-9012-0815531-00
  %br
  Reference: #{lesson.meetup_id.present? ? lesson.meetup_id : "Event Meetup ID"} - Your name
  %br
  We expect pre-payment for all classes.

%p
We require a minimum of #{lesson.min_attendee} people to run this class.
%p
%b our cancellation policy
%br
If you RSVP for a class and fail to show up, you will get a "no show". Three no shows means you will be removed from chalkle&deg. You may request to rejoin after six months.
%p
If you cancel your RSVP:
%br
\- less than 3 days before = no refund
%br
\- after 7pm the night before = no refund and a "no show" will be recorded
%p

%b about chalkle&deg
%br
chalkle&deg connects people interested in teaching and learning from each other face-to-face -- in a fun, social environment!
%p
Choose from many affordable lessons up for grabs (from intros to master classes) in agriculture, art and craft, business, construction, digital media, food, languages, music and performance, science, technology and zombie survival... and many of the lessons are free!



