%table
  %thead
    %tr
      %th Name
      %th Email
      %th Guests
      %th Status       
      %th Paid
      -if role!="super"
        %th Answers
      -if role=="super"
        %th Cost
        %th Booking
        %th Email them
      %th May cancel
      %th Cash
  %tbody
    -bookings.each do |b|
      %tr
        %td= link_to b.chalkler.name, admin_chalkler_path(b.chalkler)
        -if b.chalkler.meetup_id.present?
          %td= link_to b.chalkler.meetup_id, "http://www.meetup.com/" + group_url.first + "/message/?recipientId=#{b.chalkler.meetup_id}"
        -elsif b.chalkler.email.present?
          %td= mail_to b.chalkler.email
        -else
          %td= "no contact"
        %td= b.guests
        %td= b.status
        %td= b.paid
        -if role!="super"
          %td
            =render "/admin/bookings/answers", :answers => b.answers if b.answers
        -if role=="super"
          %td= number_to_currency b.cost
          %td= link_to 'View', admin_booking_path(b) if can? :read, b
          -if b.reminder_email_choice
            %td= link_to ( b.status=='no-show' ? 'No-show' : 'Reminder' ), "http://www.meetup.com/" + group_url.first + "/message/?recipientId=#{b.chalkler.meetup_id}&subject=#{email_subject(b.chalkler.name,lesson.name)}&body=Hi+#{b.chalkler.name.split[0]},#{reminder_email_content(b.reminder_email_choice, lesson.name, (lesson.meetup_id.present? ? lesson.meetup_id : ""),(lesson.cost.present? ? lesson.cost : 0)*1.15)}"
          -else
            %td= ""
        -if lesson.class_may_cancel
          %td= link_to 'Email them', "http://www.meetup.com/" + group_url.first + "/message/?recipientId=#{b.chalkler.meetup_id}&subject=#{email_subject(b.chalkler.name,lesson.name)}&body=Hi+#{b.chalkler.name.split[0]},#{may_cancel_email(lesson.name, lesson.min_attendee)}"
        -else
          %td= ""
        -if (b.cost.present? ? b.cost : 0) > 0 && b.paid != true
          %td= link_to "Pay #{number_to_currency b.cost*1.15}", record_cash_payment_admin_booking_path(b)
