%table
  %thead
    %tr
      %th Name
      %th Email
      %th Guests
      %th Status
      %th Cost
      %th Paid
      %th Answers
      %th Booking
      %th Cash
  %tbody
    -bookings.each do |b|
      %tr
        %td= link_to b.chalkler.name, admin_chalkler_path(b.chalkler)
        - if b.chalkler.email.present?
          %td= mail_to b.chalkler.email
        - else
          %td= link_to b.chalkler.meetup_id, "http://www.meetup.com/sixdegrees/message/?recipientId=#{b.chalkler.meetup_id}"
        %td= b.guests
        %td= b.status
        %td= number_to_currency b.cost
        %td= b.paid
        %td
          =render "/admin/bookings/answers", :answers => b.answers if b.answers
        %td= link_to 'View', admin_booking_path(b) if can? :read, b
        -if (b.cost.present? ? b.cost : 0) > 0 && b.paid != true
          %td= link_to "Pay #{number_to_currency b.cost*1.15}", record_cash_payment_admin_booking_path(b)
