Hi #{teachers},

%br
Here are the attendees we have on record for your class, #{title}

%br
%table{:style=>"border: 1px; width: 30%"}
  %thead
    %tr

  %tbody
    -bookings.each do |b|
      %tr
        -if b.guests > 0
          %td= "#{b.chalkler.name} + #{b.guests} guests"
        - else
          %td= "#{b.chalkler.name}"
        - if b.paid == true
          %td= "(paid)"
        - else
          %td= ""
%br
You can expect to receive cash payment of $#{price*1.15} per person including GST from those who were not able to pay electronically. 
%br
Have a great class and I shall follow up with you subsequent to the class.

