<div class="sudo_outgoing row alert-<%= outgoing_payment.status_color %>">
  <%= link_to sudo_outgoing_payment_path(outgoing_payment.id) do %>
    <div class="col-xs-6 col-sm-2">
      <%= outgoing_payment.id %>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="alert-default light">
        <%= pretty_time_range(outgoing_payment.first_booking.created_at,outgoing_payment.last_booking.created_at, true) %>
      </span>
    </div>
    <div class="col-xs-4 col-sm-2">
      <%= outgoing_payment.name  %>
    </div>
    <div class="col-xs-4 col-sm-2">
      $<%= outgoing_payment.total %>
    </div>
    <div class="col-xs-4 col-sm-2">
      <%= outgoing_payment.status_formatted %>
    </div>
  <% end %>
</div>