= simple_form_for(@chalkler_email_preferences, url: me_preferences_path, html: { method: :put, class: 'form-vertical' }) do |f|
  = f.error_notification

  .jumbotron
    %h2 Set Your Email Preferences
    %p We will never clutter your inbox with emails. Use the form below to tell us how you want us to contact you

  .form-inputs
    %h4
      What email do you want us to contact you at?
    = f.input :email, :label => false

    %h4
      How often do you want to hear from us?
    = f.input :email_frequency, :label => false, :collection => Chalkler.email_frequency_select_options, include_blank: false

    %h4 Which regions do you want to hear about channels from?
    = f.input :email_regions, as: :check_boxes, collection: Region.all, include_blank: false, label: false

    %h4
      Send me emails about classes in the following categories
    %div{ :"data-toggle" => "checkboxes", class: "unchecked" }
      = link_to "Select All", "#",  class: "checkbox-toggle-button"
      .form-group.check_boxes.optional.chalkler_preferences_email_categories
        - Category.primary.alphabetical.each do |category|
          .checkbox
            = check_box_tag "chalkler_preferences[email_categories][]", category.id, f.object.has_email_category?(category.id), id: "chalkler_preferences_email_categories_#{category.id}"
            = label_tag "chalkler_preferences[email_categories][]", category.name, for: "chalkler_preferences_email_categories_#{category.id}"
          - category.children.each do |child|
            .checkbox
              = check_box_tag "chalkler_preferences[email_categories][]", child.id, f.object.has_email_category?(child.id), id: "chalkler_preferences_email_categories_#{child.id}"
              &nbsp;&nbsp;&nbsp;
              = label_tag "chalkler_preferences[email_categories][]", child.name, for: "chalkler_preferences_email_categories_#{child.id}"


    %h4
      Channels that I'm following
    - subscriptions = current_chalkler.channels.order('name ASC')
    %ul.subscription-list
    - subscriptions.each do |channel|
      %li 
        = link_to channel.name, channel_path(channel)
    %br/
    %b Note:
    even if you choose not to receive emails about classes from us, you will still receive our transactional emails, such as messages related to classes you have signed up to or information about your account.

  .form-actions
    = f.button :submit, 'Save Email Preferences', class: 'btn-primary'
