<div class="_teacher_heading row">
  <div class="col-xs-12">
    <div  class="avatar pull-left" href="<%= provider_teacher_path @provider_teacher.path_params %>" title="<%= @provider_teacher.name %>">
      <div class="img contain hidden-xs" style="background-image: url(<%= @provider_teacher.avatar %>)">
      </div>
       <div class="img visible-xs" style="background-image: url(<%= @provider_teacher.avatar %>)">
      </div>
    </div>

    <div class="_heading_title flush">
      <%= link_to 'Edit', edit_provider_teacher_path(@provider_teacher.path_params), class: 'btn btn-default edit_btn col-xs-12 col-sm-2 pull-right margin-top' if policy(@provider_teacher).edit? && !current_page?(edit_provider_teacher_path(@provider_teacher.path_params)) %>
      <h2>
        <%= link_to @provider_teacher.name, provider_teacher_path(@provider_teacher.path_params) %>
      </h2>
    </div>

    <p>
      <% if @provider_teacher.bio.present? %>
        <%= to_html @provider_teacher.bio %>
      <% else %>
        <%= @provider_teacher.name %> is a teacher for <%= @provider_teacher.provider.name %>
      <% end %>
    </p>
  </div>
</div>