<%= render 'heading' %>
<div class="hidden-xs col-sm-2">
</div>
<div class="new_form_wrapper col-xs-12 col-sm-8">
  <%= bootstrap_form_for(@provider_teacher, wrapper: :simple_bootstrap3, url: provider_teacher_path(@provider_teacher.path_params), html: { method:  :put, class: 'form-horizontal', role: 'form', enctype: "multipart/form-data" }) do |f| %>

    <%= render partial: 'fancy_header', locals: { fancy_title: "Photo" } %>

    <div class="row">
      <div class="col-sm-4">
        <div class="avatar image-preview">
          <div class="img avatar_preview" style="background-image: url(<%= f.object.avatar %>);"></div>
        </div>
      </div>
      <div class="col-sm-7">
        <%= f.input :avatar, as: :styled_file, input_html: { value: "", :'data-preview' => 'avatar_preview', class: 'styled_upload' }, wrapper_html: { class: 'no-label' } %>
      </div>
    </div>

    <%= render partial: 'fancy_header', locals: { fancy_title: "Details" } %>

    <%= f.input :name, label: "Name", wrapper: :horizontal %>

    <% if @provider_teacher.chalkler.present? %>
      
      <span data-toggle="tooltip" data-placement="right" title="Email is read only as it is set on the teacher's Chalkle account">
        <%= f.input :email, label: "Teacher's Email", input_html: { :'data-error-message' => 'You must write a name', readonly: 'readonly', disabled: 'disabled' }, wrapper: :horizontal %>
      </span>

      <% if policy(@provider_teacher.provider).admin? && !@provider_teacher.provider.provider_chalklers.include?(@provider_teacher.chalkler) %>
        <%= f.input :can_make_classes, collection: [['Can Publish Classes',true],['Cannot Publish Classes',false]],include_blank: false,  label: "Permissions", wrapper: :horizontal %>
      <% end %>

    <% else %>
      <%= f.input :email, as: :email, label: "Teacher's Email", input_html: { :'data-error-message' => 'You must write a name' }, wrapper: :horizontal %>
    <% end %>
    <%= f.input :bio, as: :text, label: "About", wrapper: :horizontal %>

    <label class="exists-success" style="display:none">
      <hr />
      Great, that person is already registered on Chalkle. <br /> We'll add them as a teacher for the provider <%= @provider_teacher.provider.name %>
      <hr />
    </label>

    <label class="exists-warning" style="display:none">
      <hr />
      Even though that person isn't on Chalkle yet, they can still be a teacher - you can make classes for them and they'll receive reminders and notices via email.<br /><br />At any point in time they can sign up to Chalkle to take advantage of the website's features. We'll email them to let them know.
      <hr />
    </label>

    <%= render partial: 'fancy_header', locals: { fancy_title: "Payments" } %>

    <div class="row">
       <%= f.input :account, label: "Bank account number", input_html: { :'data-error-message' => 'You must set a name' }, wrapper: :horizontal %>

       <%= f.input :tax_number, label: "GST number", input_html: { :'data-error-message' => 'You must set a name' }, wrapper: :horizontal %>
       <div class="col-sm-8 col-md-7 col-sm-offset-5">
         <p class="small grey center">
          Only include a GST Number if you are GST registered
         </p>
       </div>
    </div>
    <br /><br /><br />
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="center col-md-4">
        <input class="btn btn-primary col-xs-12" value="Save" type="submit" />  
      </div>
      <div class="col-md-4">
      </div>
    </div>
  <% end  %>
</div>
<div class="hidden-xs col-sm-2">
</div>