<div class="_provider">
  <%= link_to(provider_path(provider.url_name)) do %>
    <% if provider.logo.file %>
      <div  class="avatar32 pull-right" href="<%= provider_path provider %>" title="<%= provider.name %>">
        <div class="img visible-xs" style="background-image: url(<%= provider.logo %>)"></div>
      </div>
    <% end %>
    <h5 class="inline">
      <%= provider.name %>
      <% upcoming_count = provider.courses.upcoming.taught_by_chalkler(current_user).count %> 
      <% if upcoming_count > 0 %>
          <%= "(#{upcoming_count})" %>
      <% end %>
    </h5>
  <% end %>
</div>
