<div class="col-xs-12 big center light">
 <%= link_to booking.name, chalkler_path(booking.chalkler.id) %>
  <div class="col-xs-12 light">
    <span class="grey inline vmid">
      Booking cost:
    </span>
    <span class="big inline vmid">
      $<%= booking.cost_formatted %>
    </span> 
  </div>
  <% if booking.course.class? %>
    <%= quick_date_time booking.course.start_at %>
  <% else %>
  <% count = 0 %>
    <% booking.course.classes.each do |lesson| %>
      <span class="strong">
        Class <%= count+=1 %> -
      </span>
      <%= quick_date_time lesson.start_at %><br />
    <% end %>
  <% end %>
</div> 