<div class="bookings">
  <div class="col-xs-12 big clearfix light hidden-xs light">
    <div class="col-sm-2">
      Booking
    </div>
    <div class="col-sm-2">
      Booker
    </div>
    <div class="col-sm-2">
      Learner
    </div>
    <div class="col-sm-2">
      Paid
    </div>
    <div class="col-sm-4">
      Note to teacher
    </div>
  </div> 

  <% count = 0 %>
  <% @bookings.each do |booking| %>
    <% next if !booking.confirmed? && @hide_unconfirmed == true %>
    <% count+=1 %>
    <div class="col-xs-12 big clearfix <%= count%2 ==0 ? 'even' : 'odd'  %>">
      <div class="col-xs-2">
        <% unless current_user.super? %>
          <%= link_to booking.id, booking.course.path %>
        <% else %>
          <%= link_to booking.id, sudo_booking_path(booking) %>
        <% end %>
      </div>
      <div class="col-xs-4 col-sm-2">
        <%= link_to booking.booker.name, chalkler_path(booking.chalkler) %>
      </div>
      <div class="col-xs-4 col-sm-2">

        <% if booking.chalkler != booking.booker %>
          <%= link_to booking.chalkler.name, chalkler_path(booking.chalkler) %>
        <% else %>
          <% if booking.name == booking.booker.name %>
            <%= link_to booking.name, chalkler_path(booking.chalkler) %>
          <% else %>
            <%= booking.name %>
          <% end %>
        <% end %>

      </div>
      <div class="col-xs-6 col-sm-2 light">
        <span class="inline vmid">
          <% unless booking.confirmed? %>
            <span class="text text-danger"><%= booking.status_formatted %></span>
          <% else %>
            $<%= booking.paid_formatted %>
          <% end %>
        </span> 
      </div>
      <div class="col-xs-12 col-sm-2 light">
        <% unless booking.cancelled? %>
          <%= booking.note_to_teacher %>
        <% else %>
          <%= booking.cancelled_reason %>
        <% end %>
      </div>
      <div class="col-xs-6 col-sm-2 light">
        <% if booking.custom_fields.present? && booking.custom_fields != [""] %>
          <button class="btn btn-info small" data-toggle="modal" data-target=".booking-modal-lg" data-title="Booking #<%= booking.id %> for <strong><%= booking.name %></strong>" data-content="<ul>
            <% booking.custom_fields_merged.each_pair { |k,v| %>
              <li>
                <%= k %><br />
                <% if v.present? %>
                  <strong><%= v.is_a?(Array) ? v.join(', ') : v  %></strong>
                <% else %>
                  <em>— No Answer —</em>
                <% end %>
                <br />
              </li> <% } %>
            </ul>" >
              Custom Fields
            </button>
        <% end %>
      </div>
    </div> 
  <% end %>
</div>

<script>
  $(function () {
    $('#bookingsModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var title = button.data('title');
      var content = button.data('content');
      var modal = $(this);
      modal.find('.modal-title').html(title);
      modal.find('.modal-body').html(content);
    });
  });
</script>
<div class="modal fade booking-modal-lg" id="bookingsModal" aria-labelledby="bookingsModalLabel" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="bookingsModalLabel"></h4>
      </div>
      <div class="modal-body">
      
      </div>
    </div>
  </div>
</div>