%li
  %h4= link_to booking.lesson_name.capitalize, booking_path(booking)
  .booking-details
    = "#{l booking.lesson_start_at, :format => :long_without_year} | #{booking.lesson_venue}"
  .booking-actions
    %strong
      - unless booking.paid?
        = "#{booking.formatted_price} Payment outstanding"
        != "| #{link_to 'How to pay', booking_path(booking)}"
      != "| #{link_to 'Cancel booking', '#cancelModal', :'data-toggle' => 'modal'}".html_safe

#cancelModal.modal.hide.fade{ :'tabindex' => '-1', :'role' => 'dialog', :'aria-labelled-by' => 'Cancel booking', :'aria-hidden' => true }
  .modal-header
    %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} &times;
    %h3 Cancel this booking
  .modal-body
    :markdown
      Are you sure you want to cancel your booking for the class:

      #{booking.lesson_name.capitalize}

    -if booking.paid?
      -if booking.refundable?
        Please email #{link_to 'Amy', 'mailto:accounts@chalkle.com'} at chalkle&deg accounts with your bank account number for refund
      -else
        Because you are choosing to cancel less than 3 days before the class, you will not be eligible for a refund

  .modal-footer
    %button.btn{ :'data-dismiss' => 'modal', :'aria-hidden' => 'true' } No
    %button.btn{ :'data-confirm' => 'modal', :'aria-hidden' => 'true' } Yes
