%li
  %h4= link_to booking.lesson_name.capitalize, booking_path(booking)
  .booking-details
    = "#{l booking.lesson_start_at, :format => :long_without_year} | #{booking.lesson_venue}"
  .booking-actions
    %strong
      - unless booking.paid?
        = "#{booking.formatted_price} Payment outstanding |"
        != "#{link_to 'How to pay', booking_path(booking)} |"
        != "#{link_to 'Edit', edit_booking_path(booking)} |"
      != "#{link_to 'Cancel booking', "#cancelModal#{booking.id}", :'data-toggle' => 'modal'}"


.modal.fade
  .modal-dialog
    .modal-content
      .modal-header

.modal.fade{ :tabindex => '-1', :role => 'dialog', 'aria-labelled-by' => 'Cancel booking', 'aria-hidden' => true, :id => "cancelModal#{booking.id}" }
  .modal-dialog
    .modal-content
      = simple_form_for(booking, :url => cancel_booking_path(booking)) do |f|
        .modal-header
          %button.close{:type => 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} &times;
          %h3 Cancel this booking

        .modal-body
          %p Are you sure you want to cancel your booking?
          %p.big= booking.lesson_name.capitalize

          - if booking.paid?
            - if booking.refundable?
              %p
                %strong This booking is refundable.
                Email #{mail_to 'mailto:accounts@chalkle.com', 'Accounts', subject: "Refund for #{booking.id}"} with your bank account number for refund.
            - else
              %p
                %strong This booking is non-refundable.
                Your class begins in less than three days.

        .modal-footer
          %button.btn{ :'data-dismiss' => 'modal', :'aria-hidden' => 'true' } No
          %button.btn.btn-primary{ :'id' => 'submit', :'type' => 'submit', :'name' => 'submit'} Yes
