%li
  %h4= link_to booking.lesson_name.capitalize, booking_path(booking)
  .booking-details
    = "#{l booking.lesson_start_at, :format => :long_without_year} | #{booking.lesson_venue}"
  - unless booking.paid?
    .payment-actions
      %strong
        = "#{booking.formatted_price} Payment outstanding"
        != "| #{link_to 'How to pay', booking_path(booking)}"
