<% noun = @course.course? ? 'Course' : 'Class' %>
<%= f.error_notification %>
  
<% if @course.spaces_left > 1 %>
  <%= f.input :guests, :type => :select, collection: @course.guest_values, :label => 'Bring a friend! (or two)', :selected => 0, wrapper: :horizonal  %>
<% end %>

<%= f.input :course_id, :as => :hidden, :input_html => { :value => @course.id } %>
  <div class="center">
    The <strong><%= noun %></strong> runs on 
    <ul>
      <% @course.lessons.each do |lesson| %>
        <li>
          <%= day_ordinal_month(lesson.start_at, true, false) %>,
          <%= pretty_time_range(lesson.start_at, lesson.end_at) %>
        </li>
      <% end %>
    </ul>

  <div class="col-xs-12">
    <% if @course.cost? && @course.cost > 0 %>
      The cost to attend is $<%= number_with_precision(@course.cost, precision: 2) %>
    <% else %>
      This <%= noun %> is free to attend  
    <% end %>
  </div>
  <div class="col-xs-12">
    <br />
    The <%= noun %> is run by <strong><%= @course.channel.name %></strong>
  </div>

  <% if @course.address.present? %>
    <div class="row">
    <br /><br />
      <div class="col-sm-6">
        <input type="hidden" id="longitude" value="<%= @course.longitude %>" />
        <input type="hidden" id="latitude" value="<%= @course.latitude %>" />
        
        <div id="map-canvas"></div>
        <div class="text-right">
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <div class="col-sm-5 text-right">
          <span class="light">Taught by</span>
        </div>
        <div class="col-sm-7">
          <span id="summary_teacher_id"><%= @course.teacher.name %></span>
        </div>
        <br />
        <br />
        <div class="col-sm-5 text-right">
          <span class="light">at</span>
        </div>
        <div class="col-sm-7">
          <p id="summary_venue_address" class="light grey">
            <%= @course.address %>
          </p>
        </div>
        <div class="col-sm-5 text-right">
          <span class="light">Details</span>
        </div>
        <div class="col-sm-7">
          <p id="summary_venue" class="light grey">
            <%= @course.venue %>
          </p>
        </div>
      </div>
    </div>
  <% else %>
    <em>at</em> <br />
    <%= @course.venue %>
  <% end %>


  <div class="col-md-3 hidden-xs">
  </div>
  <div class="col-md-6 col-xs-12 center">
    <br /><br />
    <% if f.object.new_record? %>
      <div class="checkbox center">
        <label id="teaching_agreeterms" data-error-message="You must agree in order to continue">
          <input type="checkbox" id="booking_terms_and_conditions" name="booking[terms_and_conditions]"><span style="position:relative; bottom:10px;"> I agree to the <a target="_blank" href="/terms">Terms and Conditions</a></span>
        </label>
      </div>
    <% end %>
    <input type="submit" value="Book the <%= noun %>" class="btn btn-primary col-xs-12" />
  </div>
  <div class="col-md-3 hidden-xs">
  </div>
