<%= f.error_notification %>
<%= f.input :course_id, :as => :hidden, :input_html => { :value => @course.id } %>

<div class="center">
  <div class="col-md-6 col-md-offset-3 col-md-inset-3 col-xs-12 center">
    <br />
    <div class="text-left">
      <%= f.input :name, label: '<span class="small light grey">Attendee Name</small>' %>
      <%= f.input :note_to_teacher, as: :text, label: '<span class="small light grey">Note to Teacher</small>' %>
      <% if @course.custom_fields %>
        <% @course.custom_fields.each do |field| %>
          <%= f.input :custom_fields, 
              input_html: { name: "custom_fields[#{field[:prompt]}]"+(field[:type]=='check_boxes' ? '[]' : ''), 
              value: (params[:custom_fields].is_a?(Hash) ? params[:custom_fields][field[:prompt]] : '') }, 
              as: field[:type], 
              label: field[:prompt], 
              collection: field[:options], 
              checked: (params[:custom_fields].is_a?(Hash) ? params[:custom_fields][field[:prompt]] : '') %>
        <% end %>
      <% end %>
    </div>
    <% if policy(@course).admin? && @course.paid? %>
      <br/><br />
      <div class="alert-danger alert clearfix">
        <div class="light small col-xs-6">
          Admin options
        </div>
        <div class="checkbox col-xs-6">
          <label id="wavefees">
            <input type="checkbox" id="wavefees" name="remove_fees" value="1" />
            <span style="position:relative; bottom:10px;">Waive fees</span>
          </label>
        </div>
      </div>
    <% end %>
    <br /><br />
    <% if f.object.new_record? %>
      <div class="checkbox center">
        <label id="teaching_agreeterms" data-error-message="You must agree to the terms and conditions to continue">
          <input type="checkbox" id="booking_terms_and_conditions" value="1" />
          <span style="position:relative; bottom:10px;"> I agree to the <a data-toggle="modal" href="#termsModal">Terms and Conditions</a></span>
        </label>
      </div>
    <% end %>
    <input type="submit" value="Complete Booking" class="btn btn-primary col-xs-12" />
  </div>
</div>
