<% count = 0 %>
<div class="col-xs-12 x1-25 clearfix light hidden-xs light">
  <div class="col-sm-1">
    ID
  </div>
  <div class="col-sm-3">
    Name
  </div>
  <div class="col-sm-4">
    Paid
  </div>
  <div class="col-sm-4">
    Note to teacher
  </div>
</div> 
<% @bookings.each do |booking| %>
  <% count+=1 %>
  <div class="col-xs-12 x1-25 clearfix <%= count%2 ==0 ? 'even' : 'odd'  %>">
    <div class="col-xs-2 col-sm-1">
      <%= booking.id %>
    </div>
    <div class="col-xs-4 col-sm-3">
      <%= link_to booking.name, chalkler_path(booking.chalkler.id) %>
    </div>
    <div class="col-xs-6 col-sm-4 light">
      <span class="inline vmid">
        <% unless booking.confirmed? %>
          <span class="text text-danger"><%= booking.status %></span>
        <% else %>
          $<%= booking.paid_formatted %>
        <% end %>
      </span> 
    </div>
    <div class="col-xs-12 col-sm-4 light">
      <% unless booking.cancelled? %>
        <%= booking.note_to_teacher %>
      <% else %>
        <%= booking.cancelled_reason %>
      <% end %>
    </div>
  </div> 
<% end %>