<% 
  @page_title = @course.name
  @page_subtitle = "Book to attend"
  @page_title_logo = @course.course_upload_image if @course.course_upload_image.present?
%>
<div class="row">
  <div class="col-md-2 hidden-xs">
  </div> 
  <div class="col-md-8 col-xs-12">
    <div class="fancy-header">
      <h3>Booking for <%= current_user.name %></h3>
      <hr />
    </div>
    
    <%= bootstrap_form_for(@booking, url: course_bookings_path) do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
    <% end %>



  </div>
  <div class="col-md-2 hidden-xs">
  </div>
</div>



<div class="row">
  <div class="col-md-12">
    <section class="booking">
      <div class="row">
        <div class="col-md-6">
          <div class="course-summary">
            <h3>Booking summary</h3>
            <ul class="unstyled">
              <li>
                <strong>Class:</strong>
                <%= @course.name.capitalize %>
              </li>
              <li>
                <strong>Time:</strong>
                <%= l @course.start_at, :format => :long_without_year %>
              </li>
              <li>
                <strong>Where:</strong>
                <%= @course.venue %>
              </li>
              <li>
                <strong>Price:</strong>
                <span id="coursePrice">
                  <%= @course.formatted_price %>
                </span>
                <div class="hide" id="courseBasePrice">
                  <%= @course.cost %>
                </div>
              </li>
            </ul>
            <div class="payment-descriptions">
              <div class="payment-cash hide">
                <h4>Cash payment</h4>
                <p>Cash Payment at Te Takere service desk prior to course.</p>
              </div>
              <div class="payment-bank hide">
                <h4>Bank Transfer</h4>
                <p>Deposit the payment into the following account:</p>
                <ul>
                  <li>
                    <strong>Account number:</strong>
                    <%= @course.channel.account %>
                  </li>
                  <li>
                    <strong>Reference:</strong>
                    <%= "#{@course.id} - #{current_chalkler.name}" %>
                  </li>
                </ul>
                <p>Please ensure payment before your class begins.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          
        </div>
      </div>
    </section>
  </div>
</div>
<%= render partial: 'terms' %>
