- title "Booking: #{@lesson.name}"

%h2 New Booking

.row
  .col-md-12
    %section.booking
      .row
        .col-md-6
          .lesson-summary
            %h3 Booking summary
            %ul.unstyled
              %li
                %strong Class:
                = @lesson.name.capitalize
              %li
                %strong Time:
                = l @lesson.start_at, :format => :long_without_year
              %li
                %strong Where:
                = @lesson.venue
              %li
                %strong Price:
                %span#lessonPrice= @lesson.formatted_price
                #lessonBasePrice.hide= @lesson.cost
            %div.payment-descriptions
              .payment-cash.hide
                %h4 Cash payment
                %p Cash Payment at Te Takere service desk prior to course.
              .payment-bank.hide
                %h4 Bank Transfer
                %p Deposit the payment into the following account:
                %ul
                  %li
                    %strong Account number:
                    = @lesson.channels.first.account
                  %li
                    %strong Reference:
                    = "#{@lesson.id} - #{current_chalkler.name}"
                %p Please ensure payment before your class begins.

        .col-md-6
          = bootstrap_form_for(@booking, url: channel_lesson_bookings_path) do |f|
            %h3 Enter booking details
            = render partial: 'form', locals: { f: f }
            :coffeescript
              $('#booking_payment_method').change (e) ->
                $('.payment-descriptions').children().hide()
                $('.payment-descriptions .payment-' + $(this).val()).show()

              unless $('#lessonPrice').text() == 'Free'
                $('#booking_guests').change (e) ->
                  basePrice = Number $('#lessonBasePrice').text()
                  guests = Number $(this).val()
                  $('#lessonPrice').text '$' + (basePrice * (guests + 1)).toFixed 2

= render partial: 'terms'