<div class="row flush">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="hidden-xs">
      <%= render 'courses/heading' %>
    </div>
    <div class="new_form_wrapper new_booking">
      <%= render partial: 'fancy_header', locals: { fancy_title: "New Booking" } %>
      <div id="booking_names">
        <div class="col-xs-12 col-sm-4 name-list-container">
          <ol></ol>
        </div>
      </div>
      <input type="hidden" id="current_user_name" value="<%= current_user.name %>" />

      <div class="col-xs-12 col-sm-8">
       
        <%= bootstrap_form_for(@booking_set, url: provider_course_bookings_path(@course.path_params), html: { method: :post, class: 'form-horizontal', role: 'form'}) do |f| %>   
          <div class="row">

            <div class="part-form parts col-xs-12">
              <%= f.error_notification %>
              <div id="attendees" class="col-xs-12">
                <% f.object.bookings.unshift(Booking.new) %>
                <% template_done = false %>
                <% f.object.bookings.each do |booking| %>
                  <% unless template_done %>
                    <div id="attendee_template">
                  <% end %>
                    <div class="attendee">
                      <%= f.fields_for "bookings[]", booking do |bf| %>
                      
                        <%= bf.input :course_id, :as => :hidden, :input_html => { :value => @course.id } %>

                        <%= bf.input :name, as: :string, label: '<span class="small light grey">Attendee Name</small>', input_html: { class: 'form-control booking_names' } %>
                        
                        <%= bf.input :email, as: 'email', label: '<span class="small light grey">Email (optional)</small>', input_html: { class: 'form-control string email_input' } %>

                        <div class="form-group booking-email-info" style="display:none;">
                          <small class=''>We found a user with this account. This booking will be transferred to them automatically.</small>
                        </div>

                        <%# bf.input :invite_chalkler, as: :check_boxes, label: '<span class="small light grey">Invite this attendee to chalkle. This booking will be transferred to them when they sign up.</span>', class: 'form-control invite_chalkler', style: "display:none;" %>

                        <div class="form-group check_boxes optional booking_set_bookings_invite_chalkler">
                          <label class="check_boxes optional" for="booking_set_bookings__invite_chalkler">
                            <input class="check_boxes optional" id="booking_set_bookings__invite_chalkler" name="booking_set[bookings][][invite_chalkler]" type="checkbox" value="true" checked=true>
                            <span class="small light grey">Invite this attendee to chalkle. This booking will be transferred to them when they sign up.</span>
                          </label>
                        </div>

                        <% if @course.custom_fields %>
                          <% @course.custom_fields.each do |field| %>
                            <% name_append = field[:type] == 'check_boxes' ? "[]" : ""  %>
                            <%= bf.input :custom_fields, 
                                input_html: { 
                                  class: ( field[:type] == 'string' || field[:type] == 'text' ? 'form-control' : ''),
                                  name: "booking_set[bookings][][custom_fields][][#{field[:prompt]}]#{name_append}",
                                  value: bf.object.custom_fields.is_a?(Hash) ? bf.custom_fields[field[:prompt]] : "" },
                                as: field[:type],
                                label: field[:prompt],
                                collection: field[:options],
                                checked: bf.object.custom_fields.is_a?(Hash) ? bf.custom_fields[field[:prompt]] : "" %>
                          <% end %>
                        <% end #if custom_fields %>

                      <% end #fields_for %>
                      

                    </div>
                  <% unless template_done %>
                    </div>
                    <% template_done = true %>
                  <% end %>
                <% end #each booking %>

              </div>
              <div class="text-right">
                <div class="continue btn btn-primary">Continue</div>
              </div>
            </div>

            <div class="part-summary parts col-xs-12">

              <div id="booking-summary" data-cost="<%= @course.cost %>">
                <strong class="total-cost"></strong> <span class="booking-count"></span> x <%= @course.name %>      
              </div>
              <br /><br />
              <div class="form-group col-xs-12 flush text optional booking_set_bookings_note_to_teacher">
                <label class="text optional" for="booking_set_bookings__note_to_teacher">
                  <span class="small light grey">Note for <%= @course.provider.name %></span>
                </label>
                <textarea class="text optional form-control" cols="40" id="booking_set_bookings__note_to_teacher" name="note_to_teacher" rows="20" placeholder="Additional information about your booking for the provider."></textarea>
                <br />
              </div>

              <div class="center col-xs-12">
                <% if policy(@course).admin? && @course.paid? %>
                  <div class="alert-danger alert row">
                    <div class="col-xs-6">
                      <strong>Admin options</strong>
                    </div>
                    <div class="col-xs-6">
                      <div class="checkbox">
                        <label id="wavefees">
                          <input type="checkbox" id="wavefees" name="remove_fees" value="1" />
                          <span style="position:relative; bottom:10px;">Waive fees</span>
                        </label>
                      </div>
                    </div>
                  </div>
                <% end #policy %>
                
                
                <div class="checkbox col-xs-12">
                  <label id="teaching_agreeterms" data-error-message="You must agree to the terms and conditions to continue">
                    <input type="checkbox" id="booking_terms_and_conditions" value="1" />
                    <span style="position:relative; bottom:10px;"> I agree to the <a data-toggle="modal" href="#termsModal">Terms and Conditions</a></span>
                  </label>
                </div>
                <br />
                <br />
                <div class="row">
                  <%= f.submit (@course.free? ? "Complete Booking" : "Purchase"), class: 'btn btn-primary col-xs-12' %>
                  <br />
                  <br />
                  <div class="btn no-btn back col-xs-12 margin-top-20"><span class="fa fa-angle-double-left"></span> Previous</div>
                </div>
               
                
              </div>
            </div>
          </div>
        <% end #form %>

      </div>

    </div>

  </div>
</div>
<div class="visible-xs">
  <hr />
  <%= render 'courses/heading' %>
</div>
<%= render 'terms' %>

