- title "Booking: #{@booking.course_name.capitalize}"

%h2= "Booking: #{@booking.course_name.capitalize}"

.row
  .col-md-12
    %section.booking
      .row
        .col-md-6
          .course-summary
            %h3 Summary
            %ul.unstyled
              %li
                %strong Class:
                = link_to @booking.course_name.capitalize, channel_course_path(@booking.course.channel, @booking.course)
              %li
                %strong Time:
                = l @booking.course_start_at, :format => :long_without_year
              %li
                %strong Where:
                = @booking.course_venue
              - if @booking.course_prerequisites
                %li
                  %strong What to bring:
                  = simple_format @booking.course_prerequisites
              %li
                %strong Price:
                = @booking.formatted_price
              - if @booking.guests?
                %li
                  %strong Attendees:
                  = "You and #{@booking.guests} guests"
        .col-md-6
          .payment-summary
            - if @booking.paid?
              %h3 Payment received, thanks!
            -else
              %h3 How to pay
              - if @booking.payment_method == 'cash'
                %h4 Cash payment
                %p Cash Payment at Te Takere service desk prior to course.
              - elsif @booking.payment_method == 'bank'
                %h4 Bank Transfer
                %p Deposit the payment into the following account:
                %ul.unstyled
                  %li
                    %strong Account number:
                    = @booking.course.channel.account
                  %li
                    %strong Reference:
                    = "#{@booking.course.id} - #{current_chalkler.name}"
                %p Please ensure payment before your class begins.
              - elsif @booking.payment_method == 'free'
                %h4 Free Booking
                %p
                  This class is free. If you cannot attend this class, please
                  contact your channel curator so that other's may take part.
