<%= 
   t("payment.receipt.body.text_1", booker_name: @chalkler.name, provider_name: @provider.name)
%>

<%= t("payment.receipt.breakdown.details") %>

<%= t("payment.receipt.breakdown.item") %>: <%= @course.name %>

<%= t("payment.receipt.breakdown.count") %>: <%= @payment.bookings.count %>

<%= t("payment.receipt.breakdown.price") %>: <%= @payment.inital_amount_paid %>

==================================

<%= t("payment.receipt.provider.name") %>: <%= @provider.name %>

<% if @provider.tax_registered? %>
  <%= t("payment.receipt.provider.tax") %>: <%= @provider.tax_number %>
<% end %>
<% if @provider.has_location? %>
  <%= t("payment.receipt.provider.address") %>: <%= @provider.physical_address %>
<% end %>
<% if @provider.has_phone? %>
  <%= t("payment.receipt.provider.phone") %>: <%= @provider.phone %></td>
<% end %>
<% if @provider.email.present? %>
  <%= t("payment.receipt.provider.email") %>: <%= @provider.email %>
<% end %>

===================================

<%= 
   t("payment.receipt.body.text_2") $<%=  @payment.inital_amount_paid %>
%>