<% set_titles %>
<%= render 'sub_menu' %>
<div>
  <%= "Booked on: "+day_ordinal_month(@booking.created_at,true,true) %>
</div>
<div>
  <%= "Class Date: "+day_ordinal_month(@booking.start_at,true,true) %>
</div>
<br />
<div>
  <%= "Paid: $"+@booking.paid_formatted %>
</div>
<div>
  <br />
  <%= link_to "Class:"+@booking.course.name, @booking.course.path, class: 'btn btn-default' %>
</div>
<div>
  <br />
  <% if @booking.chalkler  %>
    <%= link_to("Learner:"+@booking.chalkler.name, chalkler_path(@booking.chalkler.id), class: 'btn btn-default') %>
  <% else %>
    <button disabled="disabled" class="btn btn-danger">! No Learner</button>
  <% end %>
</div>
<div>
  <br />
  <% if @booking.payment %>
    <%= link_to 'Learner Payment $'+@booking.paid_formatted, sudo_payment_path(@booking.payment.id), class: 'btn btn-default' %>
  <% else %>
    <button disabled="disabled" class="btn btn-danger">! No Payment</button>
  <% end %>
  <% if @booking.provider_payment %>
    <%= link_to 'Provider Payment $'+money_formatted(@booking.provider_payment.total), sudo_outgoing_payment_path(@booking.provider_payment), class: 'btn btn-default' %>
  <% else %>
    <button disabled="disabled" class="btn btn-danger">No Provider Payment</button>
  <% end %>
  <% if @booking.teacher_payment %>
    <%= link_to 'Teacher Payment $'+money_formatted(@booking.teacher_payment.total), sudo_outgoing_payment_path(@booking.teacher_payment), class: 'btn btn-default' %>
  <% else %>
    <button disabled="disabled" class="btn btn-danger">No Teacher Payment</button>
  <% end %>
</div>
<div>
  <br />
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      <%= @booking.status_formatted %>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu text-left" role="menu" aria-labelledby="dropdownMenu1">
      <% Booking::BOOKING_STATUSES.each do |status| %>
        <li>
          <%= link_to 'Mark: '+Booking.status_formatted(status), set_status_sudo_booking_path(@booking.id, status: status) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
