<h3 style="border-bottom: solid 1px #ececec; padding-bottom: 5px;">
Hello <%= @chalkler.name %>,
</h3>
Just a friendly reminder, your course is coming up really soon.
<br/>
The  booking is for <%= @booking.name %>
<br/>
<%= @course.name %>
<br/>
The course will be delivered by <%= @course.channel.name %>
<br/>
<br/>
<%= day_ordinal_month @course.start_at %><br />
<%= pretty_time_range @course.start_at, @course.end_at %><br />
<%= @course.address %> <br />
<%= @course.venue %><br />
<br />
Check out the class noticeboard to make sure you have everything you need. If you have any questions please contact the course provider directly. 
<br />
Enjoy your class!
<br />
Cheers! 
<br />