=form_tag do_reconcile_admin_payment_path(payment), method: 'post', remote: true, id: "payment_form_#{payment.id}", class: 'payment_form', 'data-type' => 'html' do
  =select_tag "booking_id", options , include_blank: true, :class => 'chosen-input payment_select_booking', :id => "payment-#{payment.id}"
  =submit_tag "Reconcile"

:javascript
  $("#payment_form_#{payment.id}").bind('ajax:error', function(evt, data, status, xhr) {
    alert('error updating database');
  });
  $("#payment_form_#{payment.id}").bind('ajax:success', function(e, data, status, xhr) {
    $("#payment_#{payment.id}").effect("highlight");
    $("#payment_#{payment.id}").fadeOut();
  });
