  <div class="outgoing_break_down">
    <div class="outgoing_course">
      <h4 class="flush upper">Courses and Bookings</h4>
      <br />
      <div class="row light hidden-xs">
        <div class="col-xs-3">
          Date
        </div>
        <div class="col-xs-2">
          ID
        </div>
        <div class="col-xs-3">
          NAME
        </div>
        <div class="col-xs-2">
          Fee 
        </div>
        <div class="col-xs-2">
          Tax
        </div>
      </div>
      <br />
      <% outgoing_payment.courses.sort_by{|o|o.start_at}.each do |course|
        bookings = outgoing_payment.bookings.where(course_id: course.id).select{|b|b.paid?}
      %>
        <% if bookings.present? %>
          <div>
            <div class="alert-success alert no-margin clearfix">
              <div class="row">
                <%= link_to course_path(course.id), target: :blank do %>
                  <div class="col-sm-3">
                    <%= quick_date course.start_at %>
                  </div>
                  <div class="col-sm-2">
                    <%= course.id %>
                  </div>
                  <div class="col-sm-3">
                    <%= course.name %>
                  </div>
                  <div class="col-sm-2">
                    <span class="visible-xs">Fee</span>
                    $<%= outgoing_payment.for_teacher? ? course.teacher_income : course.provider_income %> 
                  </div>
                  <div class="col-sm-2">
                    <span class="visible-xs">Tax</span>
                    $$<%= outgoing_payment.for_teacher? ? course.teacher_income_tax : course.provider_income_tax %> 
                  </div>
                <% end %>
              </div>

              <% if course.flat_fee? %>
                <div class="flush alert alert-danger">
                  <div class="row">
                    <div class="col-sm-8">
                      Teacher flat fee
                    </div>
                    <div class="col-sm-2 border-bottom">
                      <span class="visible-xs">Teacher Fee</span>
                      $<%= course.teacher_cost %>
                    </div>
                    <div class="col-sm-2">
                     
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-8">
                    </div>
                    <div class="col-sm-2">
                      <span class="visible-xs">Teacher Fee</span>
                      $<%= course.teacher_cost %>
                    </div>
                    <div class="col-sm-2">
                    </div>
                  </div>
                </div>
              <% end %>

            </div>
            <div class="clearfix">
              <% bookings.each do |booking | %>
                <% if booking.paid? && !booking.free? %>
                  <%= link_to ( current_user.super? ? sudo_booking_path(booking.id) : course_bookings_path(course.id)), class: 'clearfix', target: :blank do %>
                    <div class="col-sm-3">
                      <%= quick_date booking.start_at %>
                    </div>
                    <div class="col-xs-2">
                      <%= booking.id %>
                    </div>
                    <div class="col-xs-3">
                      <%= booking.name %>
                    </div>
                    <div class="col-xs-2">
                      $<%= outgoing_payment.for_teacher? ? booking.teacher_fee : booking.provider_fee  %>
                    </div>
                    <div class="col-xs-2">
                      $<%= outgoing_payment.for_teacher? ? booking.teacher_gst : booking.provider_gst %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <br />
          </div>
        <% end %>
      <% end %>
    </div>
  </div>