<%= render partial: 'fancy_header', locals: { fancy_title: "Remittance ##{@outgoing_payment.id}" } %>
<% outgoing_payment_courses = @outgoing_payment.courses.with_income.by_date %>
<div class="row">

  <div class="col-xs-12 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
    
     <div class="row _outgoing_for_course">
        
        <% if @outgoing_payment.paid? %>
          <div class="col-xs-12 pad-top-10 small text-center">
              Paid <strong><%= day_ordinal_month(@outgoing_payment.paid_date, false, true) %></strong>
              <% if @outgoing_payment.account.present? %>
                to <strong> <%= @outgoing_payment.account %> </strong>
              <% end %>
          </div>
        <% else %>
          <div class="row margin-top-20">
            <p class="alert alert-warning">Admin Preview only - not yet paid</p>
          </div>
        <% end %>

        <div class="col-xs-12 pad-top-10">

          <div class="_outgoing_total row pad-bottom-10">
            <div class="col-xs-12">
              <%= render partial: 'fancy_header', locals: { fancy_title: "Payment Summary", small: true } %>
         
              <% outgoing_payment_courses.each do |course| %>
                <div class="row flush">
                  <div class="col-xs-8">
                    <div>
                      <%= "##{course.id} #{limit_text(course.name, 20)}" %>
                    </div>
                  </div>

                  <div class="col-xs-4 text-right">
                    <%= number_to_currency (@outgoing_payment.teacher_fees_for_course(course)+@outgoing_payment.teacher_tax_for_course(course)) %>
                  </div>
                </div>

              <% end %>

            
              <div class="col-xs-12 pad-top-10">

                <div class="row">
                  <div class="col-xs-8">
                    <div class="upper strong">
                      Total Payment
                    </div>
                  </div>

                  <div class="col-xs-4 text-right">
                    <div class="strong">
                      <%= number_to_currency @outgoing_payment.total %>
                    </div>
                  </div>
                </div>
                
                <% if @outgoing_payment.tax != 0 %>
                  <div class="row">
                    <div class="col-xs-8">
                      <small>incl. GST of</small>
                    </div>
                    <div class="col-xs-4 text-right">
                      <small>
                        <%= number_to_currency @outgoing_payment.tax %>
                      </small>
                    </div>
                  </div>
                <% end %>

              </div>

            </div>

          </div>
          
        </div>
      </div>

  </div>



  <% outgoing_payment_courses.each do |course| %>
    
    <div class="col-xs-12 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3">
      
      <div class="row _outgoing_for_course pad-top-20">
        
        <div class="col-xs-12 col-md-9">
          <%= link_to provider_course_path(course.path_params) do %>
            <h4 class="flush"><%= "##{course.id} #{limit_text(course.name, 100)}" %></h4>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3 text-right">
          <small><%= day_ordinal_month course.start_at, false, true %></small>
        </div>
        
       

        <div class="col-xs-12 pad-top-10">
          <div class="col-xs-6">
            Payment Type
          </div>

          <div class="col-xs-6 text-right">
            <em><%= course.teacher_pay_type %></em>
          </div>
          
          <% unless course.flat_fee? %>
            <% course.bookings.confirmed.map(&:teacher_fee).uniq.each do |amount| %>
              <div class="col-xs-9">
                Bookings @ <%= number_to_currency amount %>
              </div>
              <div class="col-xs-3 text-right"> 
                <%= course.bookings.confirmed.select{|b| b.teacher_fee == amount}.count %> 
              </div>
            <% end %>
          <% end %>

          <div class="pad-top-10 pad-bottom-10">
            
            <% if @outgoing_payment.teacher_tax_for_course(course) != 0 %>
              <div class="col-xs-6">
                Earnings
              </div>

              <div class="col-xs-6 text-right">
                <%= number_to_currency @outgoing_payment.teacher_costs_for_course(course) %>
              </div>

              <div class="col-xs-12 text-right">
                <small>
                  incl. GST of <%= number_to_currency @outgoing_payment.teacher_tax_for_course(course) %>
                </small>
              </div>
            <% end %>

          </div>
        </div>


        
        
        <div class="col-xs-12 pad-top-10">
          <div class="odd row pad-top-10 pad-bottom-10">
            
            <div class="col-xs-6">
              <div class="upper strong">
                Remittance for <%= "##{course.id}" %>
              </div>
            </div>

            <div class="col-xs-6 text-right">
              <div class="strong">
                <%= number_to_currency (@outgoing_payment.teacher_fees_for_course(course)+@outgoing_payment.teacher_tax_for_course(course)) %>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  <% end %>


</div>