= simple_form_for(@chalkler_teaching, url: chalklers_teachings_path, html: { method: :post, class: 'form-vertical' }) do |f|
  = f.error_notification

  .row
    .jumbotron
      %h2 At chalkle&deg;, anyone can be a teacher
      %p So tell us about your idea and take the first step towards being a chalkle&deg; teacher

  .row
    .form-inputs
      %h3
        Class overview
      = f.input :title, :label => "What is the title of your class?", :as => :text, :input_html => { :rows => 1, :class => "span12" }, :placeholder => "A catchy title will help to attract more chalklers. For example: protect your assets - yours, mine or ours?"
      = f.input :do_during_class, :label => "What will we do during the class?", :as => :text, :placeholder => "Enter a short paragraph to give people an overview of the class. For example: An introduction to protecting personal assets. This class will cover specific protection mechanisms, trusts and touch on wills.", :input_html => { :rows => 1, :class => "span12" }
      = f.input :learning_outcomes, :label => "What will we learn from this class?", :as => :text, :placeholder => "List what people will learn. For example: Identify the various ways personal assets can be protected; Identify the most suitable asset protection for the circumstances.", :input_html => { :rows => 2, :class => "span12" }
      = f.input :category_primary_id, :label => "What is the primary category of this class?", :collection => Category.select_options, required: true
      -if @chalkler_teaching.channels.length > 1
        = f.input :channel_id, :label => "Which channel would you like to hold this class in?", :collection => Channel.select_options(@chalkler_teaching.channels), required: true
      -else
        = f.hidden_field :channel_id, value: @chalkler_teaching.channels.first.id
      = f.input :lesson_skill, :label => "What is the skill level of this class?", :collection => [['Beginner', 'Beginner'], ['Intermediate','Intermediate'], ['Advanced','Advanced']], :input_html => { :multiple => false }
      = f.input :bio, :label => "Why are you a great teacher for this class?", :as => :text, :placeholder => "Tell us about the relevant experience or background you have. For example: I am a litigator with 13 years of experience in property and commercial law.", :input_html => { :rows => 2, :class => "span12" }

      %h3
        Class Details
      = f.input :availabilities, :label => "When are you available to teach this class?", :placeholder => "What dates or time of day are you available to teach this class?", :as => :text, :input_html => { :rows => 1, :class => "span12" }
      =f.input :venue, :label => "If you would like to teach the class in your own venue, please tell us where it is and when it is available.", :placeholder => "For example: Level 4, 19 Hargreaves Street, Ponsonby, Auckland. Available weekdays after 6pm.", :as => :text, :input_html => { :rows => 1, :class => "span12" }
      = f.input :prerequisites, :label => "What equipment or resources do you need for this class?", :placeholder => "For example: a projector or all attendees must have a laptop.", :as => :text, :input_html => { :rows => 1, :class => "span12" }
      = f.input :suggested_audience, :label => "What type of audience would this class be appropriate for?", :as => :text, :placeholder => "For example: age, ethnicity, occupation, gender", :input_html => { :rows => 1, :class => "span12" }
      = f.input :duration, :label => "How long is the class?", :placeholder => "Enter time in hours", :wrapper => :append do
        = f.input_field :duration
        = content_tag :span, "Hours", :class => "add-on"

      = f.input :free_lesson, :label => false, :inline_label => "Check here if you want this class to be offered for free", as: :boolean

      = f.input :teacher_cost, :label => "How much money do you need to run this class? Note this must include any GST or materials you may need to purchase for this class. Chalkle&deg will add its fee and any applicable taxes to this to calculate the advertised price for the class.", :wrapper => :prepend do
        = content_tag :span, "$", :class => "add-on"
        = f.input_field :teacher_cost, :placeholder => "0.00"
        = content_tag :span, "Per attendee", :class => "add-on"
      =f.input :price, :label => "Pending confirmation from your Channel Curator, this class will be advertised for approximately", :wrapper => :prepend do
        = content_tag :span, "$", :class => "add-on"
        = f.input_field :price, :readonly => true
        = content_tag :span, "Per attendee", :class => "add-on"

      = f.input :max_attendee, :label => "What is the maximum number of attendees for this class?", :wrapper => :append do
        = f.input_field :max_attendee
        = content_tag :span, "People", :class => "add-on"

      = f.input :min_attendee, :label => "What is the minimum number of attendees for this class?", :wrapper => :append do
        = f.input_field :min_attendee
        = content_tag :span, "People", :class => "add-on"

      %h3
        Anything else?
      -if @chalkler_teaching.channels.length == 1 && @chalkler_teaching.channels.where{ name == 'Horowhenua' }.present?
        = f.input :additional_comments, :label => "Is there anything else you would like to tell us about this class?", as: :text, :placeholder => "For example, if you would like to donate earnings from this class to Te Takere Trust", :input_html => { :rows => 2, :class => "span12" }
      -else
        = f.input :additional_comments, :label => "Is there anything else you would like to tell us about this class?", as: :text, :input_html => { :rows => 2, :class => "span12" }

    .form-actions
      = f.button :submit, 'Submit my class', class: 'btn-primary'

:javascript
  var channel_Index=new Array("#{@chalkler_teaching.channels.map {|i| i.id}.join('","')}");
  var teacher_Percentages=new Array("#{@chalkler_teaching.channels.map {|i| i.teacher_percentage}.join('","')}");
  var channel_Percentages=new Array("#{@chalkler_teaching.channels.map {|i| i.channel_percentage}.join('","')}");
