<div class="row">
  <div class="col-xs-6 col-sm-2"> 
    Payment ID:
  </div>
  <div class="col-xs-6 col-sm-10">
    <%= @payment.id %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-2"> 
    Date:
  </div> 
  <div class="col-xs-6 col-sm-10">
    <%= day_ordinal_month @payment.created_at, false, true %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-2"> 
    Inital Amount: 
  </div>
  <div class="col-xs-6 col-sm-10">
    $<%= @payment.inital_amount_paid %>
  </div>
   <div class="col-xs-6 col-sm-2"> 
    Refunds: 
  </div>
  <div class="col-xs-6 col-sm-10">
    $<%= @payment.refunded %>
  </div>
  <div class="col-xs-6 col-sm-2"> 
    Total: 
  </div>
  <div class="col-xs-6 col-sm-10">
    $<%= @payment.total %>
  </div>
</div>

<% if @payment.outgoings.present? %>
  <div class="row">
    <div class="fancy-header">
      <h3>Outgoings</h3>
      <hr />
    </div>
  </div>
  <div class="row">
    <% @payment.outgoings.each do |outgoing| %>
      <div class="col-xs-6">
        <%= outgoing.for_teacher? ? "Teacher" : "Provider" %><br />
        <%= link_to '$'+money_formatted(outgoing.total), sudo_outgoing_payment_path(outgoing), class: 'btn btn-default' %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="fancy-header">
    <h3>Bookings</h3>
    <hr />
  </div>
</div>
<% @payment.bookings.each do |booking| %>
  <div class="row">
    <div class="col-xs-12">
      <strong>
        Booking for <%= booking.name %> 
        <span class="label label-<%= booking.status_color %>"> <%= booking.status_formatted %></span>
      </strong>
    </div>
    <div class="col-xs-12 col-sm-4">
      Booking<br />
      <%= link_to booking.id, sudo_booking_path(booking.id), class: 'btn btn-default' %>
    </div>
    <% if booking.chalkler == booking.booker %>
       <div class="col-xs-12 col-sm-8">
        Learner + Booker<br />
        <%= link_to booking.chalkler.email, chalkler_path(booking.chalkler.id), class: 'btn btn-primary' %>
      </div>
    <% else %>
      <div class="col-xs-12 col-sm-4">
        Learner<br />
        <%= link_to booking.chalkler.email, chalkler_path(booking.chalkler.id), class: 'btn btn-primary' %>
      </div>
      <div class="col-xs-12 col-sm-4">
        Booker<br />
        <%= link_to "#{booking.booker.email}", chalkler_path(booking.booker.id), class: 'btn btn-primary' %>
      </div>
    <% end %>
    <hr />
  </div>
<% end %>
