.lesson_compact_container
  %a.lesson_compact{href: path_for_lesson(lesson), class: lesson_classes(lesson)}
    %span.time.coloured>
      .parts
        - if local_assigns[:show_date]
          %span.date= day_title lesson.start_at.to_date
        %span.number= lesson.start_at.strftime('%l:%M').strip
        %span.am_pm= lesson.start_at.strftime('%p').strip
    %span.image_container.coloured
      - if lesson.lesson_upload_image.present?
        = image_tag(lesson.lesson_upload_image.url(:mini))
    %span.details.blackboard>
      .lesson_title<
        = lesson.name
