.lesson-details
  %ul.unstyled
    %li.lesson-start-time= l lesson.start_at, :format => :long
    %li
      %strong Location:
      = lesson.venue
    %li
      %strong Cost:
      -if lesson.cost?
        = "#{number_to_currency(lesson.cost)} (incl GST)"
      -else
        Free
    %li
      %strong Chalkler:
      = lesson.teacher.name
    -if lesson.lesson_skill?
      %li
        %strong Skill level:
        = lesson.lesson_skill
    %li
      %strong Suitable for:
      -if lesson.suggested_audience?
        = lesson.suggested_audience
      -else
        Everyone
