.details
  %ul.unstyled
    %li.start-time= l lesson.start_at, :format => :long_without_year
    %li
      %strong Location:
      = lesson.venue
    %li
      %strong Cost:
      = lesson.formatted_price
    -if lesson.lesson_skill?
      %li
        %strong Skill level:
        = lesson.lesson_skill
    %li
      %strong Suitable for:
      -if lesson.suggested_audience?
        = lesson.suggested_audience
      -else
        Everyone
