%section.month
  %header.calendar_titles
    %h3
      - if relative_name = relative_month_name(month)
        %span.part.main_part= relative_name
      %span.part= month_title month
  %table.month_calendar_view
    %thead
      %tr
        %th
          .title Monday
        %th
          .title Tuesday
        %th
          .title Wednesday
        %th
          .title Thursday
        %th
          .title Friday
        %th.weekend
          .title Saturday
        %th.weekend
          .title Sunday
    %tbody
      - month.to_weeks.each do |week|
        %tr
          - week.each do |day|
            - active = month.contains?(day)
            - classes = [relative_date_class(day)]
            - classes << 'weekend' if Week.on_weekend?(day)
            - classes << 'active' if active
            - classes << 'has_classes' if lessons[day]

            %td{class: classes}
              .inner
                - if month.contains?(day)
                  .lesson_for_day
                    .day_title
                      %span.day_letter= day.strftime('%A').first
                      %span.date= day.strftime('%d %b')
                      %i.fa.fa-expand
                      %i.fa.fa-compress
                    %ul.lessons
                      - if lessons[day]
                        - lessons[day].each_with_index do |lesson, index|
                          %li{class: (index > 2 ? 'more' : 'viewable')}
                            %a{href: path_for_lesson(lesson), class: lesson_classes(lesson)}
                              %div
                                %span.time>= lesson.start_at.strftime('%l:%M %p').strip
                                %span.title>= lesson.name
                  .lesson_count
                    &hellip;and
                    %span.number X
                    more
  - next_month = month.next
  = link_to specific_month_lessons_path(channel_id: @channel, year: next_month.year, month: next_month.month, format: :js), {:remote => true, 'data-append' => 'months', 'data-remove-on-success' => true, :class => 'next-calendar-section'} do
    %i.fa.fa-arrow-down
    Show next month
