%section.upcoming_lessons
  %header.calendar_titles
    %h2 Upcoming chalkle° classes
  .lesson_list
    - lessons.each do |lesson|
      %a.lesson{href: channel_lesson_path(@channel, lesson), class: ('no-image' unless lesson.lesson_upload_image.present?)}
        .time_details
          .contents
            .time>
              .number= lesson.start_at.strftime('%l:%M').strip
              .am_pm= lesson.start_at.strftime('%p').strip
            .date
              .name= lesson.start_at.strftime('%a').strip
              .day= lesson.start_at.strftime('%d %b').strip
        .image_container
          - if lesson.lesson_upload_image.present?
            = image_tag(lesson.lesson_upload_image.url(:medium))
        .lesson_body
          .contents
            %h3= lesson.name
            .description= simple_format lesson.description
            .details
              .price
                %i.icon-money
                = lesson.formatted_price
              - if lesson.venue
                .location
                  %i.icon-map-marker
                  = truncate lesson.venue, length: 20
              .availability
                - if lesson.limited_spaces?
                  - if lesson.spaces_left?
                    %i.icon-thumbs-up
                    = pluralize lesson.spaces_left, 'spot'
                    left
                  - else
                    %i.icon-thumbs-down
                    fully booked!
                - else
                  %i.icon-ok
                  No size limit
              .attending
                %i.icon-user
                = lesson.attendance
                attending


    = paginate lessons
