%section.upcoming_lessons
  .lesson_list
    - lessons.each do |lesson|
      %a.lesson{href: path_for_lesson(lesson), id: dom_id(lesson), class: ('no-image' unless lesson.lesson_upload_image.present?)}
        .time_details
          .contents
            .time>
              .number= lesson.start_at.strftime('%l:%M').strip
              .am_pm= lesson.start_at.strftime('%p').strip
            .date
              .name= lesson.start_at.strftime('%a').strip
              .day= lesson.start_at.strftime('%d %b').strip
        .image_container
          - if lesson.lesson_upload_image.present?
            = image_tag(lesson.lesson_upload_image.url(:medium))
        .lesson_body
          .contents
            %h3= lesson.name
            .description= simple_format (lesson.do_during_class.blank? ? lesson.description : lesson.do_during_class)
            .details
              .price
                %i.icon-money
                = lesson.formatted_price
              - unless lesson.venue.blank?
                .location
                  %i.icon-map-marker
                  = truncate lesson.venue, length: 20
              .availability
                - if lesson.limited_spaces?
                  - if lesson.spaces_left?
                    %i.icon-thumbs-up
                    = pluralize lesson.spaces_left, 'spot'
                    left
                  - else
                    %i.icon-thumbs-down
                    fully booked!
                - else
                  %i.icon-ok
                  No size limit
              .attending
                %i.icon-user
                = lesson.attendance
                attending
  - if lessons.present?
    = link_to upcoming_lessons_path(channel_id: @channel, page: page + 1, format: :js), {:remote => true, 'data-append' => 'upcoming', 'data-remove-on-success' => true, :class => 'next-calendar-section'} do
      %i.icon-arrow-down
      Show more
