%section.week
  %header.calendar_titles
    - relative_name = relative_week_name(week)
    %h2{class: ('has_relative' if relative_name)}
      - if relative_name
        %span.part.main_part.relative_part= relative_name
      %span.part.calendar_part= week_title week
  .week_calendar_view
    - week.each do |day|
      .day{:class => [relative_date_class(day), ('has_classes' if lessons[day].present?)]}
        - if day >= Date.today
          %h3.day_title
            .day_title_inner= relative_day_title(day)
          .lessons
            - if lessons[day]
              - lessons[day].each do |lesson|
                = render partial: 'lesson_compact', locals: {lesson: lesson}
  - if show_next
    - next_week = week.next
    = link_to specific_week_lessons_path(channel_id: @channel, year: next_week.first_day.year, month: next_week.first_day.month, day: next_week.first_day.day, format: :js), {:remote => true, 'data-append' => 'weeks', 'data-remove-on-success' => true, :class => 'next-calendar-section'} do
      %i.icon-arrow-down
      Show next week
