%section.week
  %header.calendar_titles
    %h2
      - if relative_name = relative_week_name(week)
        %span.part.main_part= relative_name
      %span.part= week_title week
  .week_calendar_view
    - week.each do |day|
      .day{:class => [relative_date_class(day), ('has_classes' if lessons[day].present?)]}
        - if day >= Date.today
          %h3.day_title= relative_day_title(day)
          .lessons.row
            - if lessons[day]
              - lessons[day].each_with_index do |lesson|
                .lesson.col-lg-4.col-md-4.col-sm-6.col-xs-12{class: ('no-image' unless lesson.lesson_upload_image.present?)}
                  %a{href: channel_lesson_path(@channel, lesson)}
                    %span.time>
                      %span.number= lesson.start_at.strftime('%l:%M').strip
                      %span.am_pm= lesson.start_at.strftime('%p').strip
                    %span.image_container
                      - if lesson.lesson_upload_image.present?
                        = image_tag(lesson.lesson_upload_image.url(:mini))
                    %span.details>
                      .lesson_title<
                        = lesson.name
  - if show_next
    - next_week = week.next
    = link_to specific_week_channel_lessons_path(@channel.id, next_week.first_day.year, next_week.first_day.month, next_week.first_day.day, format: :js), {:remote => true, 'data-append' => 'weeks', 'data-remove-on-success' => true, :class => 'next-calendar-section'} do
      %i.icon-arrow-down
      Show next week
