.browse_lessons
  .container
    %h1.page-title
      - if chalkler_signed_in?
        = "Welcome #{current_chalkler.name}, try these upcoming chalkles."
      - else
        = "Welcome, try these upcoming chalkles."
  .search_panel
    .container
      %ul.simple-nav#browse_type
        %li.active
          %a{:href => "#weeks", 'data-toggle' => "tab"}
            %i.icon-list
            Week View
        %li
          %a{:href => "#months", 'data-toggle' => "tab"}
            %i.icon-calendar
            Month View
      .tab-content
        #weeks.tab-pane.active
          = render partial: 'weeks_calendar_view', locals: {week_lessons: @week_lessons}
        #months.tab-pane
          = render partial: 'months_calendar_view', locals: {month_lessons: @month_lessons}
