.browse_lessons
  .page_header_panel
    .container
      %h1.page-title
        - if @channel
          - if chalkler_signed_in?
            = "Welcome to chalkle° in #{@channel.name} #{current_chalkler.name}"
          - else
            = "Welcome to chalkle° in #{@channel.name}"
        - else
          - if chalkler_signed_in?
            = "Welcome #{current_chalkler.name}, try these upcoming chalkles"
          - else
            = "Welcome, try these upcoming chalkles"
      .filters
        %ul.types
          %li.part.title
            .part-container
              %h2
                Upcoming Classes
            .arrow-down
          %li.part.regions.dropdown
            %h3.dropdown-toggle{'data-toggle'=>'dropdown'}
              All regions
              %i.fa.fa-chevron-down
            = render partial: 'regions_dropdown', locals: { regions: @regions }
          %li.part.channels.dropdown
            %h3.dropdown-toggle{'data-toggle'=>'dropdown'}
              All channels
              %i.fa.fa-chevron-down
            = render partial: 'channels_dropdown', locals: { channels: @channels }
          %li.part.categories.dropdown
            %h3.dropdown-toggle{'data-toggle'=>'dropdown'}
              All categories
              %i.fa.fa-chevron-down
            = render partial: 'categories_dropdown', locals: { categories: @categories }
        .resets
          %p 
            Show all chalkles

  .search_panel.full_page
    .container
      %ul.simple-nav#browse_type
        %li.active
          %a{:href => "#weeks", 'data-toggle' => "tab"}
            %i.fa.fa-list
            Week View
        %li
          %a{:href => "#months", 'data-toggle' => "tab"}
            %i.fa.fa-calendar
            Month View
      .tab-content
        #weeks.tab-pane.active
          = render partial: 'weeks_calendar_view', locals: {week_lessons: @week_lessons}
        #months.tab-pane
          = render partial: 'months_calendar_view', locals: {month_lessons: @month_lessons}
