.browse_lessons
  .page_header_panel
    .container
      %h1.page-title
        - if chalkler_signed_in?
          = "Welcome #{current_chalkler.name}, try these upcoming chalkles."
        - else
          = "Welcome, try these upcoming chalkles."
  .search_panel.full_page
    .container
      %ul.simple-nav#browse_type
        %li.active
          %a{:href => "#upcoming", 'data-toggle' => "tab"}
            %i.icon-tasks
            List View
        %li
          %a{:href => "#weeks", 'data-toggle' => "tab"}
            %i.icon-list
            Week View
        %li
          %a{:href => "#months", 'data-toggle' => "tab"}
            %i.icon-calendar
            Month View
      .tab-content
        #upcoming.tab-pane.active
          %header.calendar_titles
            %h2 Upcoming chalkle° classes
          = render partial: 'upcoming_view', locals: {lessons: @upcoming_lessons, page: @page}
        #weeks.tab-pane
          = render partial: 'weeks_calendar_view', locals: {week_lessons: @week_lessons}
        #months.tab-pane
          = render partial: 'months_calendar_view', locals: {month_lessons: @month_lessons}
