.browse_lessons
  .page_header_panel
    .container
      %h1.page-title
        - if @channel
          - if chalkler_signed_in?
            = "Welcome to chalkle° in #{@channel.name} #{current_chalkler.name}"
          - else
            = "Welcome to chalkle° in #{@channel.name}"
        - else
          - if chalkler_signed_in?
            = "Welcome #{current_chalkler.name}, try these upcoming chalkles"
          - else
            = "Welcome, try these upcoming chalkles"
      .instructions
        .part.part1
          %h2
            %i.icon-list
            Discover a class you are interested in
          %p Browse our buffet of upcoming classes below.
        .part.part2
          %h2
            %i.icon-hand-up
            Sign up today &amp; learn with your fellow chalkers
          %p Click on "Join" to make a booking and sign up to your favourite class!
        .part.part3
          %h2
            %i.icon-undo
            Change your reservation
          %p Just click on "Bookings" above and scroll down to the booking you want to change.
        .part.part4
          %h2
            %i.icon-money
            Pay for your class
          %p
            If you haven't paid for your booking, click on "Bookings" above and follow the
            payment instructions shown. Your spot in the class is not guaranteed until
            you have paid!


  .search_panel.full_page
    .container
      %ul.simple-nav#browse_type
        %li.active
          %a{:href => "#weeks", 'data-toggle' => "tab"}
            %i.icon-list
            Week View
        %li
          %a{:href => "#months", 'data-toggle' => "tab"}
            %i.icon-calendar
            Month View
      .tab-content
        #weeks.tab-pane.active
          = render partial: 'weeks_calendar_view', locals: {week_lessons: @week_lessons}
        #months.tab-pane
          = render partial: 'months_calendar_view', locals: {month_lessons: @month_lessons}
