- title "Upcoming Classes - #{@channel.name}"

%h2= "Welcome to chalkle° in #{@channel.name}"

%h4= "Discover a class you are interested in"
%p= "Browse our buffet of upcoming classes below"
%h4= "Sign up today and learn with your fellow chalklers"
%p= "Click on “Join” to make a booking and sign up to your favourite class!"
%h4= "Change your reservation?"
%p=  "Just click on “Bookings” above and scroll down to the booking you want to change"
%h4= "Pay for your class"
%p= "If you haven’t paid for your booking, click on “Bookings” above and follow the payment instructions shown. Your spot in the class is not guaranteed until you have paid!"

.lesson-list
  - @lessons.each do |lesson|
    = render :partial => "lessons/list_item", :locals => { :lesson => lesson }

:coffeescript
  signedIn = () ->
    if _.isString(_.find(document.cookie.split('; '), (a)-> return a == 'signed_in=1')) then true else false

  $('.join-lesson.btn').click (e)->
    unless signedIn()
      e.preventDefault()

  unless signedIn()
    $('.join-lesson.btn').popover
      placement: 'top'
      html: true
      title: 'Sign in to join a class'
      content: 'Please <a href="/chalklers/sign_in">sign in</a> or <a href="/chalklers/sign_up">create an account</a> to make a booking.'