- title @lesson.name

%h2= @lesson.name.capitalize

.row
  .span8.content-left
    .lesson-description
      %h3 What we are doing
      = simple_format @lesson.do_during_class
      %h3 What you will learn
      = simple_format @lesson.learning_outcomes
      %h6 Note
      = "We require a minimum of #{@lesson.min_attendee} people for this class to go ahead. If the minimum number of attendees is not reached, a decision to cancel will be made 3 days before the class. If the class is cancelled, you will be notified via email with refund instructions."
  .span4.content-right
    .booking-actions
      - if chalkler_signed_in?
        - if current_chalkler.lessons.where{bookings.status.eq 'yes'}.exists? @lesson
          %p.text-success
            %strong You are attending
        - elsif @lesson.bookable?
          .btn.btn-primary= link_to 'Join this class', new_channel_lesson_booking_path(@channel, @lesson), :id => 'join-lesson'
      - elsif @lesson.bookable?
        .btn.btn-primary= link_to 'Join this class', new_channel_lesson_booking_path(@channel, @lesson), :id => 'join-lesson'

    = render :partial => 'lessons/lesson_details', :locals => { :lesson => @lesson }
    = render :partial => 'chalklers/teacher_details', :locals => { :teacher => @lesson.teacher }

:coffeescript
  signedIn = () ->
    if _.isString(_.find(document.cookie.split('; '), (a)-> return a == 'signed_in=1')) then true else false

  $('#join-lesson').click (e)->
    unless signedIn()
      e.preventDefault()

  unless signedIn()
    $('#join-lesson').popover
      placement: 'top'
      html: true
      title: 'Sign in to join a class'
      content: 'Please <a href="/chalklers/sign_in">sign in</a> or <a href="/chalklers/sign_up">create an account</a> to make a booking.'
