- if params[:format] == 'js'
  = render partial: 'upcoming_view', locals: {lessons: @upcoming_lessons, page: @page}
- else
  .browse_lessons
    .container
      %h1.page-title
        - if chalkler_signed_in?
          = "Welcome #{current_chalkler.name}, try these upcoming chalkles."
        - else
          = "Welcome, try these upcoming chalkles."
    .search_panel
      .container
        #upcoming
          = render partial: 'upcoming_view', locals: {lessons: @upcoming_lessons, page: @page}
