<% @page_title = "Sign in" %>

<div class="clearfix" id='sign-in'>
  

  <div class="col-xs-12 col-sm-5 col-sm-offset-1">
    <h1>Log In</h1>
    <p>
      Find and offer fun courses and learning oppertunities in your community today. 
    </p>

    <%= link_to learn_path do %>
      <div class="under-button-alternatives">
        <p>Not a member of chalkle yet?</p>
        <h3>Click here to join</h3>
      </div>
    <% end %>

  </div>

  <div class="col-xs-12 col-sm-5 col-sm-inset-1">
    <div class="content text-right">
      <%= render partial: '/devise/sessions/omniauth_buttons' %>
    </div>

    <h3>– Or –</h3>

    <div class="well">
      <%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: 'form' }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, :autofocus => true, placeholder: 'Email' %>
            <%= f.input :password, :required => true, placeholder: 'Password' %>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <%= f.check_box :remember_me, :as => (:boolean if devise_mapping.rememberable?) %>
              Remember me?
            </label>
          </div>
        </div>
        <div class="sign-in-buttons">
          <input class="btn btn-primary" value="Sign in" type="submit" name="commit" />
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>

  
  </div>



</div>
