<% @page_title = "Sign in" %>

<div class="row" id='sign-in'>
  


  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <h1 class="">Log In</h1>
    <div class="content text-right clearfix">
      <%= render partial: '/devise/sessions/omniauth_buttons' %>
    </div>

    <h3>– Or –</h3>

    <div class="sign-in-form">
      <%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: 'form' }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, :autofocus => true, placeholder: 'Email' %>
            <%= f.input :password, :required => true, placeholder: 'Password' %>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <%= f.check_box :remember_me, :as => (:boolean if devise_mapping.rememberable?) %>
              Remember me?
            </label>
          </div>
        </div>
        <div class="sign-in-buttons">
          <input class="btn btn-primary" value="Sign in" type="submit" name="commit" />
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>


  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h3>What are you waiting for?</h3>
    <%= link_to new_chalkler_registration_path do %>
      <div class="under-button-alternatives">
        <h3>Join Chalkle Now</h3>
      </div>
    <% end %>

  </div>




</div>
