<% @page_title = "Sign in"  %>
<div class="row">
  <div class="hidden-xs col-md-4">
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="under-button-alternatives">
          Not a member of chalkle yet?
          <%= link_to "Join here", new_chalkler_registration_path, class: 'btn btn-primary' %>
    </div>
    <br />
    <div class="well">
      <%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: 'form' }) do |f| %>
        <input name="redirect_to" type="hidden" value="<%= params[:redirect_to] %>"></input>
        <%= f.input :email, :required => false, :autofocus => true %>
        <%= f.input :password, :required => false %>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <%= f.check_box :remember_me, :as => (:boolean if devise_mapping.rememberable?) %>
              Remember me?
            </label>
          </div>
        </div>
        <div class="sign-in-buttons">
          <input class="btn btn-primary" value="Sign in" type="submit" name="commit" />
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
    <div class="content text-right">
      <%= render partial: '/devise/sessions/omniauth_buttons' %>
    </div>
  </div>
  <div class="hidden-xs col-md-4">
  </div>
</div>
