<% @page_title = "Sign in" %>

<div class="row" id='sign-in'>
  

  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-3 sign-in-wrapper">
    <div class="row text-center">
      <div class="col-xs-12 flush-xs">
        <h1>Login</h1>

        <div class="sign-in-form col-xs-12 new_form_wrapper">
          
          <%= render partial: '/devise/sessions/omniauth_buttons' %>

          <h4>– Or –</h4>
          <br />
          <%= bootstrap_form_for(:chalkler, :url => chalkler_session_path, :html => { class: 'form' }) do |f| %>
          
            <%= f.input :email, as: :email, :autofocus => true, required: true, placeholder: 'Email' %>
            <%= f.input :password, required: true, placeholder: 'Password' %>

            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <%= f.check_box :remember_me, :as => (:boolean if devise_mapping.rememberable?) %>
                  Remember me?
                </label>
              </div>
            </div>
            
            <div class="col-sm-6 hidden-xs">
              <h5 class="alternative no-margin pad-top">Not a member yet?</h5>
              <a href="<%= new_chalkler_registration_path %>" class="link-line">Sign up now</a>
              <br /><br />
            </div>

            <div class="col-xs-12 col-sm-6 flush-xs">
              <br class="visible-xs" />
              <input type="submit" value="Login Now" class="btn btn-lg btn-primary col-xs-12" />
            </div>

            <div class="col-xs-12 visible-xs">
              <br />
              <h5 class="alternative no-margin pad-top">Not a member yet?</h5>
              <a href="<%= new_chalkler_registration_path %>" class="link-line">Sign up now</a>
            </div>
            

          <% end %>
        </div>
        
 
        
        <div class="col-xs-12">
          <br />
            <%= render "devise/shared/links" %>
          <br />
        </div>

      </div>
    </div>



  </div>





</div>
