<% @page_title = "Sign in" %>

<div class="row" id='sign-in'>
  

  <div class="col-xs-12 col-sm-5 col-sm-offset-1">
    <h1 class="hidden-xs">Sign up</h1>
    <p class="hidden-xs">
      Find and offer fun courses and learning opportunities in your community today. 
    </p>

    <%= link_to new_chalkler_registration_path do %>
      <div class="under-button-alternatives">
        <p>Not a member of chalkle yet?</p>
        <h3>Join Now</h3>
      </div>
    <% end %>

  </div>

  <div class="col-xs-12 col-sm-5 col-sm-inset-1">
    <h1 class="hidden-xs">Log In</h1>
    <div class="content text-right">
      <%= render partial: '/devise/sessions/omniauth_buttons' %>
    </div>

    <h3 class="flush">– Or –</h3>

    <div class="sign-in-form">
      <%= bootstrap_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { class: 'form' }) do |f| %>
            <%= f.error_notification %>
            <%= f.input :email, :autofocus => true, placeholder: 'Email' %>
            <%= f.input :password, :required => true, placeholder: 'Password' %>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <%= f.check_box :remember_me, :as => (:boolean if devise_mapping.rememberable?) %>
              Remember me?
            </label>
          </div>
        </div>
        <div class="sign-in-buttons">
          <input class="btn btn-primary" value="Sign in" type="submit" name="commit" />
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>

  
  </div>



</div>
