<div class="sidebar admin-sidebar col-xs-12">
  <h4 class="text-center">Administration</h4>
  
  <div class="admin-links row">
    <%= link_to "Bookings", provider_bookings_path(@provider.url_name), class: 'border-bottom' %>
    <%= link_to "Followers", provider_followers_path(@provider.url_name), class: 'border-bottom border-left' %>
    <%= link_to "Metrics", provider_metrics_path(@provider.url_name) %>
    <%= link_to "Settings", provider_settings_path(@provider.url_name), class: 'border-left' %>
  </div>

  <%= link_to "New Class", new_course_path, class: 'block' %>

  <%= link_to "New Teacher", new_provider_teacher_path(@provider.url_name), class: 'block' %>
  <%= link_to "Current Teachers", provider_teachers_path(@provider.url_name), class: 'block' %>

  <%= link_to "New Admin", new_provider_admin_path(@provider.url_name), class: 'block' %>
  <%= link_to "Current Admins", provider_admins_path(@provider.url_name), class: 'block' %>
</div>