<div class="admin-sidebar col-xs-12">
  <%= link_to "New Class", new_course_provider_path(@provider), class: 'btn primary'  %>

  <div class="admin-links admin-section row">
    <%= link_to "Bookings", provider_bookings_path(@provider), class: 'border-bottom' %>
    <%= link_to "Settings", edit_provider_path(@provider), class: 'border-bottom border-left' %>
    <%= link_to "Teachers", provider_teachers_path(@provider), class: '' %>
    <%= link_to "Admins", provider_admins_path(@provider), class: 'border-left' %>

    <%# link_to "Followers", provider_subscriptions_path(@provider), class: 'border-bottom border-left' %>
    <%# link_to "Metrics", metrics_provider_path(@provider) %>
  </div>
  
  <% classes_teaching = current_user.courses_teaching.in_future.where(provider_id: @provider.id) %>
  <% if classes_teaching.present? %>
    <h5>
      <%= link_to "You're Teaching", provider_admins_path(@provider) %>
    </h5>

    <div class="admin-section row">
      <div class="col-xs-12 admin-list">
        <% classes_teaching.each do |course| %>
          <div class="admin-list-item">
            <%= link_to course.name, provider_course_path(course.path_params) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>