<div class="admin-sidebar col-xs-12">
  <%= link_to "Edit Class", edit_provider_course_path(@course.path_params), class: 'btn primary' unless @course.new_record?  %>
  

  <div class="admin-links admin-section row">
    <%= link_to "Duplicate", clone_provider_course_path(@course) %>
    <%= link_to "Cancel", cancel_provider_course_path(@course), class: 'border-left' if policy(@course).cancel? %>
  </div>
  
  
  <div class="admin-subtitle row">
    <h3 class="text-<%= @course.status_color %>"><%= @course.status %></h3>
  </div>
  

  <h5>
    <%= link_to "Bookings", provider_bookings_path(@provider) %>
  </h5>

  <div class="admin-section row">
    <div class="col-xs-12 person-links">
      <% @course.bookings.each do |booking| %>
        <div class="person-link">
          <%= link_to booking.name %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12">
      <%= link_to "+ New Booking", new_provider_admin_path(@provider), class: 'btn btn-stub' %>
    </div>
  </div>
</div>