<div class="admin-sidebar col-xs-12">
  <div class="admin-subtitle row">
    <h3 class="text-<%= @course.status_color %>"><%= @course.status %></h3>
  </div>
  
  <div class="admin-links admin-section row">
    <%= link_to "View", provider_course_path(@course.path_params), class: 'border-bottom' %>
    
    <% if @course.publishable? %>
      <%= link_to "Publish", change_status_provider_course_path(@course.path_params.merge(status: 'Published')), method: :post, class: 'border-left border-bottom' %>
    <% elsif @course.unpublishable?   %>
      <%= link_to "Unpublish", change_status_provider_course_path(@course.path_params.merge(status: 'Preview')), method: :post, class: 'border-left border-bottom' %>
    <% elsif @course.cancellable? %>
      <%= link_to "Cancel", cancel_provider_course_path(@course.path_params), class: 'border-left border-bottom' %>
    <% end %>

    <% if @course.editable? %>
      <%= link_to "Edit", edit_provider_course_path(@course.path_params) %>
    <% else %>
      <a href="#" class="disabled" data-toggle="popover" data-placement="bottom" title="<%= @course.status %>" data-content="You cannot no longer edit this class. To run the class again, use 'Duplicate'.">
        Edit
      </a>
    <% end %>

    <%= link_to "Duplicate", clone_provider_course_path(@course.path_params), method: :post, class: 'border-left' %>
    
   
  </div>
  
  <h5>
    <span class='badge'><%= @course.bookings.confirmed.count %></span> Bookings so far</h5>

  <div class="admin-section row">
    <% if @course.bookings.present? %>
      <div class="col-xs-12">
        <%= link_to "Booking Details", provider_course_bookings_path(@course.path_params), class: 'btn btn-stub' %>
      </div>
    <% end %>
    <div class="col-xs-12 admin-list">
      <% @course.bookings.confirmed.each do |booking| %>
        <div class="admin-list-item">
          <%= link_to booking.name, chalkler_path(booking.chalkler) %> 
          <%= link_to '×', cancel_provider_course_booking_path(booking.path_params), class: 'pull-right' if policy(booking).cancel? && booking.course.cancellable?  %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12">
      <%= link_to "+ New Booking", new_provider_course_booking_path(@course.path_params), class: 'btn btn-stub' %>
    </div>
  </div>
</div>