<div class="admin-sidebar col-xs-12">
  
  <div class="row">
    <div class="col-xs-12">
      <%= link_to "New Class", new_provider_class_path(provider), class: 'btn btn-grey' %>
    </div>
    <div class="col-xs-12">
      <%= link_to " <span class='badge'>#{provider.courses.advertisable.in_future.count}</span> #{"Published Class".pluralize(provider.courses.advertisable.in_future.count)}".html_safe, provider_path(provider), class: '' %>
    </div>

    <div class="<%= policy(provider).admin? ? 'col-xs-7' : 'col-xs-12' %>">
      <%= link_to "<span class='badge'>#{provider.subscriptions.count}</span> #{"Follower".pluralize(provider.subscriptions.count)}".html_safe, provider_subscriptions_path(provider), class: '' %>
    </div>

   
    <% if policy(provider).admin? %>
      <div class="col-xs-5">
        <%= link_to "+ Followers", new_provider_subscription_path, class: 'btn btn-grey btn-small' %>
      </div>

      <div class="col-xs-12">
        <%= link_to "<span class='badge'>#{provider.provider_teachers.visible.count}</span> #{"Teacher".pluralize(provider.provider_teachers.visible.count)}".html_safe, provider_teachers_path(provider), class: '' %>
      </div>
      <div  class="col-xs-12">
        <%= link_to "<span class='badge'>#{provider.provider_admins.visible.count}</span> #{"Admin".pluralize(provider.provider_admins.visible.count)}".html_safe, provider_admins_path(provider), class: '' %>
      </div>
    <% end %>
  </div>


  <% if policy(provider).admin? %>
    <div class="admin-section row">
      <h3 class="strong small col-xs-12 text-center">
        Admin Area
      </h3>
      <div class="col-xs-12">
        <%= link_to "<span class='badge'>#{provider.bookings.confirmed.in_future.uniq.count}</span> #{"Upcoming Bookings".pluralize(provider.bookings.confirmed.in_future.uniq.count)}".html_safe, bookings_provider_path(provider), class: ''  %>
      </div>

      <% if provider.outgoing_payments.paid.any? %>  
        <div class="col-xs-12 text-center">
          <%= "#{provider.name} has received #{provider.outgoing_payments.paid.count} #{"payment".pluralize(provider.outgoing_payments.paid.count)}" %>
        </div>
        <div class="col-xs-12">
          <%= link_to "<span class='badge'>#{provider.outgoing_payments.paid.count}</span> #{"Remittance".pluralize(provider.outgoing_payments.paid.count)}".html_safe, provider_outgoings_path(provider), class: '' %>
        </div>
      <% end %> 

      <div class="col-xs-7">
        <%= link_to "<span class='badge'>#{provider.provider_teachers.visible.count}</span> #{"Teacher".pluralize(provider.provider_teachers.visible.count)}".html_safe, provider_teachers_path(provider), class: '' %>
      </div>
      <div class="col-xs-5">
        <%= link_to "+ Teachers", new_provider_teacher_path(provider), class: 'btn btn-grey btn-small' %>
      </div>
      <div class="col-xs-7">
        <%= link_to "<span class='badge'>#{provider.provider_admins.visible.count}</span> #{"Admin".pluralize(provider.provider_admins.visible.count)}".html_safe, provider_admins_path(provider), class: '' %>
      </div>
      <div class="col-xs-5">
        <%= link_to "+ Admins", new_provider_admin_path(provider), class: 'btn btn-grey btn-small' %>
      </div>

      <div class="col-xs-12">
        <%= link_to "Provider Settings", edit_provider_path(provider), class: 'btn btn-grey btn-small'  %>
      </div>


    </div>
  <% end %>


  <% classes_teaching = current_user.courses_teaching.in_future.by_date.where(provider_id: provider.id) %>
  <% if classes_teaching.present? %>
    <h5>
      <%= link_to "You're Teaching", provider_admins_path(provider) %>
    </h5>
    <div class="admin-section row">
      <div class="admin-list col-xs-12">
        <% classes_teaching.each do |course| %>
          <div class="admin-list-item small row">
            <div class="col-xs-4 small">
              <%= day_ordinal_month course.start_at %>
            </div>
            <div class="col-xs-8">
              <%= link_to course.name, provider_course_path(course.path_params), class: 'link-line' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

</div>