<div class="sidebar <%= 'sidebar-open' if current_user.sidebar_open %>">
  
  <% if current_user.providers.count > 1 %>
    <div class="sidebar-switch">
        <button class="btn no-btn" data-toggle="modal" data-target="#switch_provider_modal">
          <span class="fa fa-random strong"></span>
        </button>  
    </div>
  <% end %>

  <div class="sidebar-tab">
    <span class="fa fa-expand fa-2x sidebar-open"></span>
    <span class="fa fa-compress fa-2x sidebar-shut"></span>
    <h4><%= @provider.name %></h4>
  </div>
  <div class="sidebar-content">
    <%= render partial: '/layouts/sidebars/provider', locals: { provider: @provider } %>
  </div>
</div>


<% if current_user.providers.count > 1 %>
  <div class="modal fade" id="switch_provider_modal" tabindex="-1" role="dialog" aria-labelledby="switch_provider_modal_label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="switch_provider_modal_label">
            Switch Providers
          </h4>
          <table class="table">
            <% current_user.providers.sort_by(&:name).each do |provider| %>
              <tr>
                <td class="<%= 'active' if provider == @provider %>">
                  <%= link_to provider.name, provider_path(provider), method: :put %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>