<% if params[:view] == "grid" %>
  <%# grid view %>
  <div class="course col-sm-6">
    <%= link_to course.name, channel_course_path(course.channel.url_name,course.url_name,course.id) %>
  </div>

<% else %>
  <%# list view %>
  <article class="course row">
    <div class="col-sm-2">
      <div class="porthole">
        <a href="<%= course.path %>" title="<%= course.name %>">
          <% if course.course_upload_image.present? %>
          <div class="img" style="background-image: url(<%= course.course_upload_image.url(:large).html_safe %>);">
          </div>
          <% elsif course.category %>
            <%= category_image course, 150 %>
          <% else %>
            <%= image_tag(
              "categories/grey.png",
              alt: course.name,
              title: course.name,
              class: 'course_image'
            ) %>
          <% end %>
        </a>
      </div>
    </div>
    <div class="col-sm-10">
      <header class="clearfix">
        <div class="title-wrapper">
        <div class="availability-wrapper">
          <a href="<%= new_course_booking_path course.id %>" class="availability nowrap btn-3d bg-colour<%= course.best_colour_num %>">
            <%= course_call_to_action course %>
          </a>
        </div>
          <h3 class="title">
            <%= link_to course.name, channel_course_path(course.channel.url_name,course.url_name,course.id), { :class => "colour"+course.best_colour_num.to_s } %>
          </h3>
          <h5 class="category">
            <% unless course.category.nil? %>
              <%= link_to course.category.name, category_path(course.category.url_name), { :class => "colour"+course.best_colour_num.to_s } %>
            <% else %>
              <br />
            <% end %>
          </h5>
        </div>
        
      </header>
      <div class="details clearfix">
        <a href="<%= channel_path(course.channel.url_name) %>" title="<%= course.channel.name %>" >
          <img class="channel-img pull-left" src=<%= course.channel.logo %> />
        </a>
        <div class="pull-left">
          <div class="grey upper smaller">Provided By</div>
          <%= link_to course.channel.name, channel_path(course.channel.url_name) %>
        </div>
        <div class="vertical-seperator pull-left"></div>
        <div class="pull-left">
          <div class="grey upper smaller">Your Teacher</div>
          <% if course.teacher  %>
            <%= link_to course.teacher.name, channel_channel_teacher_path(course.channel.url_name,course.teacher) %>
          <% else %>
            No teacher assigned
          <% end %>
        </div>
        <% if false #course.has_reviews %> 
          <div class="reviews small grey">
            <span class="fa fa-heart"></span>
            <span class="pull-right text-right">
              <%= course.review_percent || '?' %>%
            </span>
            <div class="small">
              <%= course.reviews.count %> reviews
            </div>
          </div>
        <% end  %>
      </div>
      <footer>
        <span class="small grey">
          <span class="fa fa-clock-o"></span>
          <%= day_ordinal_month course.start_at %>
          <%= pretty_time_range course.start_at, course.end_at %>
          <%# pretty_time course.start_at %>
          <span class="fa fa-map-marker"></span>
          <%= course.venue_truncated %>
        </span>
        <div class="cost pull-right hidden-xs">
          <% if course.cost? %>
            $<%= course.cost %>
          <% else %>
            FREE
          <% end %>
        </div>
      </footer>
    </div>
  </article>
<% end %>
