.course_medium_container
  %a.course_medium{href: path_for_course(course), class: course_classes(course), id: dom_id(course)}
    %span.datetime>
      - time = course.start_at
      .parts
        .time
          %span.number= time.strftime('%l:%M').strip
          %span.am_pm= time.strftime('%p').strip
          .duration= pluralize(course.duration.to_f / 60 / 60, "hour") if course.duration
        .date
          %span.weekday= time.strftime('%a').strip
          %span.monthday= time.strftime('%-d %b').strip
    %span.image_container.coloured
      - if course.course_upload_image.present?
        = image_tag(course.course_upload_image.url(:medium), class: 'course_image')
      = category_image course, 150
    %span.details.blackboard>
      .inner
        .title_and_description
          .course_title<
            = course.name
          .description
            = course.description
        .footer
          %span.part
            = course_availability(course)
          %span.part.attendance
            = course_attendance(course)
  = course_channel_link course
