<% if policy(@course).admin?  %>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <% if @course.status == 'Published' %>
          <div class="alert alert-warning clearfix text-right" role="alert"> 
            <% if @course.bookings.empty?  %>
              <span class="pad-top inline pull-left">   
                <strong><%= @course.status+'!' %></strong> 
                You can unpublish while there are no bookings
              </span>
              <%= bootstrap_form_for(@course, wrapper: :simple_bootstrap3, url: change_status_course_path(@course.id), html: { id: 'publish_course'}) do |f| %>
                <input name="_method" type="hidden" value="put" />
                 <%= f.input :status, as: :hidden, input_html: { value: 'Unreviewed' } %>
              <% end #form %>
               <button class="btn btn-default" onclick="document.getElementById('publish_course').submit()">Unpublish</button>
            <% else #elsif no? bookings%>
              <span class="inline pad-top pull-left">   
                <strong><%= pluralize(@course.bookings.confirmed.count,'booking','bookings') %></strong> confirmed
              </span>
            <% end #end if bookings?%>
              <% if @course.can_be_cancelled? %>
                <%= link_to "Cancel", cancel_course_path(@course.id), class: 'btn btn-danger' %>
              <% else %>
                <small class="text-right"><%= @course.type.capitalize %> runs in the next 24 hours<br />Cannot be Cancelled</small>
              <% end %>
          </div>
        
        <% elsif @course.status == 'Unreviewed' && policy(@course).change_status?  %>
        
          <div class="alert alert-danger clearfix text-right" role="alert"> 
            <span class="pad-top inline pull-left">   
              <strong>Your class is a Draft!</strong> No one else can see it. Would you like to publish?
            </span>           
            <%= bootstrap_form_for(@course, wrapper: :simple_bootstrap3, url: change_status_course_path(@course.id), html: { id: 'publish_course'}) do |f| %>
              <input name="_method" type="hidden" value="put" />
               <%= f.input :status, as: :hidden, input_html: { value: 'Published' } %>
            <% end %>
            <button class="btn btn-default" onclick="document.getElementById('publish_course').submit()">Publish</button>
            <% if @course.status == 'Published' %>
              <% if @course.can_be_cancelled? %>
                <%= link_to "Cancel", cancel_course_path(@course.id), class: 'btn btn-danger' %>
              <% else %>
                <small class="text-right"><%= @course.type.capitalize %> runs in the next 24 hours<br />Cannot be Cancelled</small>
              <% end %>
            <% else %>
                Class is <%= @course.status %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
      <% if @course.bookings? %>
        <div class="row">
          <div class="text-right col-xs-12 col-sm-10 col-sm-offset-1">
            This <%= @course.type %> has <strong><%= @course.bookings.count %></strong> bookings
            <br />
            <strong>
              <%= link_to 'more details', course_bookings_path(@course.id)  %>
            </strong>
            <hr />
          </div>
        </div>
      <% end %>
  <% end %>