<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <% if policy(@course).read?  %>

      <% if @course.status == 'Published' %>
        <div class="alert alert-warning clearfix text-right" role="alert"> 
     
          <span class="pad-top inline pull-left">   
            <strong><%= @course.status+'!' %></strong> 
            Chalklers can view and book this <%= @course.type %>
          </span>
            
          <div class="col-xs-12 pull-right col-lg-6 center flush">
            <%= link_to 'View Bookings ('+@course.bookings.confirmed.count.to_s+")", course_bookings_path(@course.id), class: 'btn btn-success'  %>
          
            <% if policy(@course).write? %>
            
              <% unless @course.bookings.present? %>
            
                <div class="hidden">
                  <%= bootstrap_form_for(@course, wrapper: :simple_bootstrap3, url: change_status_course_path(@course.id), html: { id: 'publish_course', class: 'hidden'}) do |f| %>
                    <input name="_method" type="hidden" value="put" />
                    <%= f.input :status, as: :hidden, input_html: { value: 'Draft' } %>
                  <% end %>
                </div>

                <button class="btn btn-default" onclick="document.getElementById('publish_course').submit()">Unpublish</button>

              <% end %>

              <% if policy(@course).cancel? %>
                <%= link_to "Cancel", cancel_course_path(@course.id), class: 'btn btn-danger' %>
              <% else %>
                <small class="text-right"><%= @course.type.capitalize %> runs in the next 24 hours<br />Cannot be Cancelled</small>
              <% end %>

            <% end %>
          </div>
        </div>
      
      <% elsif @course.status == 'Draft' %>
      
        <div class="alert alert-danger clearfix text-right" role="alert"> 
          
          <% if policy(@course).change_status? %>

            <span class="pad-top inline pull-left">   
              <strong>Your class is a Draft!</strong> Would you like to publish it?
            </span>    

            <%= bootstrap_form_for(@course, wrapper: :simple_bootstrap3, url: change_status_course_path(@course.id), html: { id: 'publish_course'}) do |f| %>
              <input name="_method" type="hidden" value="put" />
               <%= f.input :status, as: :hidden, input_html: { value: 'Published' } %>
            <% end %>
            <button class="btn btn-default" onclick="document.getElementById('publish_course').submit()">Publish</button>

            <% if false #TODO: publish repeat_course @course.repeating? %>
              <%= bootstrap_form_for(@course, wrapper: :simple_bootstrap3, url: change_status_course_path(@course.id), html: { id: 'publish_series'}) do |f| %>
                <input name="_method" type="hidden" value="put" />
                 <%= f.input :status, as: :hidden, input_html: { value: 'publish_series' } %>
              <% end %>
              <button class="btn btn-default" onclick="document.getElementById('publish_series').submit()">Publish</button>
            <% end %>

          <% else %>
            <span class="pad-top inline pull-left text-left">   
              <strong>Your class is a Draft!</strong><br /> To publish it you'll need to contact an adminstrator of the provider <em><%= link_to @course.provider.name, providers_admins_path(@course.provider.url_name) %></em>
            </span> 

          <% end %>

          <% if @course.status == 'Published' %>

            <% if @course.can_be_cancelled? %>
              <%= link_to "Cancel", cancel_course_path(@course.id), class: 'btn btn-danger' %>
            <% else %>
              <small class="text-right"><%= @course.type.capitalize %> runs in the next 24 hours<br />Cannot be Cancelled</small>
            <% end %>

          <% elsif @course.status != 'Draft' %>
              Class is <%= @course.status %>
          <% end %>

        </div>
      <% end %>
    <% end %>

    <%# public visibility below  %>
    <% if @course.status == 'Cancelled' %>

      <div class="alert alert-danger clearfix text-right">
          <div class="pad-top pull-left text-left">   
            <h3 class="flush"><%= @course.status %></h3> 
            <p><strong>Reason:</strong> <%= @course.cancelled_reason %></p>
          </div>

        <% if policy(@course).write? %>
          <div class="hidden">
            <%= bootstrap_form_for(@course, wrapper: :simple_bootstrap3, url: change_status_course_path(@course.id), html: { id: 'cancel_course'}) do |f| %>
              <input name="_method" type="hidden" value="put" />
              <%= f.input :status, as: :hidden, input_html: { value: 'Published' } %>
            <% end #form %>
          </div>
          <button class="btn btn-success" onclick="document.getElementById('cancel_course').submit()">Republish</button>
        <% end %>

      </div>

    <% elsif @course.status == 'Completed' %>

      <div class="alert alert-success clearfix">
        <h3 class="flush">Completed</h3>
        <p>
          As of <%= day_ordinal_month(@course.start_at,true,true) %>
        </p>
      </div>

    <% elsif @course.status == 'Published' %>

      <% if @course.between_start_and_end %>

        <% if @course.lesson_in_progress %>
          <div class="alert alert-warning clearfix">

            <h3 class="flush">In Progress</h3>
            <p>
              Class finishes at <%= pretty_time @course.lesson_in_progress.end_at %>
            </p>
          </div>
        <% end %>

        <% if @course.course? %>
          <div class="alert alert-warning clearfix">
            <p>
              The classes in this course have already started. <%= link_to "Check out the provider's other courses as it may run again", provider_path(@course.provider.url_name)  %>
            </p>
          </div>
        <% end %>
        
      <% end %>

    <% end %>
  </div>
</div>