<br />
<br />
<% unless current_user.providers_adminable.present? %>

  <div class="alert alert-default text-center">
    <p>
      Before you get starting making classes, you need to make a <em>provider</em> to host them.
      <%= link_to "Create Provider", new_provider_path, class: 'btn btn-primary' %>
    </p>
  </div>
  <div class="text-center">
    <%= link_to 'Learn more about teaching on Chalkle', teach_path %>
  </div>

<% else %>

  <div class="fancy-header">
    <h3>Which provider is this course for?</h3>
    <hr />
  </div> 

  <% current_user.providers_adminable.each do |provider| %>
    

    <div class="_provider">
  
      <%=  link_to new_provider_class_path(provider), class: 'avatar64', style: "background-color: #{provider.header_color if provider.logo.blank? }" do %>

        <div class="img" style="background-image: url(<%= provider.logo %>)"></div>
      <% end %>

      <div class="details">

        <%= link_to limit_text(provider.name, 20), new_provider_class_path(provider), class: 'provider_name', title: provider.name %>

        <%= link_to new_provider_class_path(provider), class: 'add_info' do %>
          <% course_count = provider.courses.in_future.displayable.count %>
          <%= course_count %> upcoming <%= "class".pluralize(course_count) %>
        <% end %>
          
      </div>
    </div>

  <% end %>

<% end %>