<div class="course-show">
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h2 class="visible-xs">
        <%= @course.name %>
      </h2>

      <div class="right-col">
        <%= render 'social_links' %>
        <%= render 'show_my_booking' %>

        <% if @course.bookable? || policy(@course).write?(true) %>    
          <a href="<%= new_provider_course_booking_path @course.id %>" class="join-link bg-colour<%= @course.best_colour_num %> btn btn-default">
            BOOK NOW
          </a>
        <% else %>
          <a href="#" class="btn btn-default join-link">
            Not Bookable
          </a>
        <% end %>
        <div class="text-right small light grey">
          <% if @course.limited_spaces?  %>
            <%= @course.spaces_left? ? @course.spaces_left.to_s + " spots left" : "Booked out" %> 
          <% end %>
        </div>
        <br />
        <div class="meta clearfix">
          <% if @course.reviews? %> 
            <div class="reviews small grey">
              <span class="fa fa-heart"></span>
              <span class="text-right">
                <%= @course.review_percent || '?' %>%
              </span>
              <div class="small">
                <%= @course.reviews.count %> reviews
              </div>
            </div>
          <% end  %>
          <div class="cost">
            <% if @course.cost? %>
              $<%= @course.cost_formatted %>
            <% else %>
              FREE
            <% end %>
          </div>

          <div class="col-xs-12 center small grey class-repeats">
           <br />
            <% if @course.next_class.present? && (@course.next_class.status == 'Published' || policy(@course).read?) %>
                <div class="upper">CLASS REPEATS</div>
                <div>- next class -</div>
                <div>
                  <%= link_to quick_date_time(@course.next_class.start_at), @course.next_class.path %>
                </div>
            <% elsif Course.similar_to(@course).count > 1 %>
              <%= link_to "Find similar #{ @course.type.pluralize }", course_series_provider_path(@course.provider.url_name, @course.url_name) %>
            <% end %>
          </div>

          <% if @course.course? %>
            <div class="col-xs-12 center small grey class-repeats">
              <br />
              <div class="upper">MULTIPLE CLASSES</div>
              <div>- dates -</div>
              <% @course.classes.each do |lesson| %>
                 <div>
                  <%= quick_date_time lesson.start_at %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <h1 class="hidden-xs">
        <%= @course.name %>
      </h1>
      <%= to_html @course.learning_outcomes %>
      <br /><br />
      <small>
        <%= to_html @course.do_during_class %>
      </small>
    </div>
  </div>
  <div class="row">
    <% if @course.suggested_audience.present?  %>
      <div class="col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 light small">
        <h5 class="upper">This class is suitable for</h5>
        <p>
          <%= to_html @course.suggested_audience %>
        </p>
      </div>
    <% end %>
    <% if @course.prerequisites.present?  %>
      <div class="col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 light small">
        <h5 class="upper">Be sure to bring</h5>
        <p>
          <%= to_html @course.prerequisites %>
        </p>
      </div>
    <% end %>
  </div>
  <br /> <hr /> <br />
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1 col-xs-6 clearfix">
      <% if @course.teacher.present? %>
        <%= link_to provider_teacher_path(@course.provider, @course.teacher) do %>
          <div class="teacher">
            <div class="avatar64" style='background-image: url(<%= @course.teacher.avatar %>)'>
            </div>
            <div class="light grey upper small">Your Teacher</div>
            <%= @course.teacher.name %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-4 hidden-xs small grey light pad-top">
      <a href="#map-canvas">
        <span class="fa fa-map-marker"></span>
        <%= @course.address || to_html(@course.venue) %>
      </a>
    </div>
    <div class="col-sm-3 col-xs-6 small grey light pad-top">
      <span class="fa fa-calendar"></span>
      <%= day_ordinal_month @course.start_at, true, false, true %>
      <br />
      <span class="fa fa-clock-o"></span>
      <%= pretty_duration(@course) %> - 
      <%= pretty_time_range @course.start_at, @course.end_at %>
    </div>
  </div>
  <br />
  <hr />
  <br class="hidden-sm hidden-xs" /><br class="hidden-xs hidden-sm" />
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12 light small">
      <% if @course.additional_comments.present?  %>
        <h5 class="upper">Additional information</h5>
        <p>
          <%= to_html @course.additional_comments %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <%= render partial: 'notice_board' %>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="map-wrap"> 
      <div class="col-sm-6 col-xs-12 map-overlay">
        <div class="col-xs-12 xol-sm-10 col-sm-offset-2">
          <p class="grey light">
            <%= to_html @course.venue_truncated(200) %>
          </p>
          <p class="grey light hidden-xs">
            <%= @course.address_formatted %>
          </p>
          <p class="grey light visible-xs">
            <%= @course.address %>
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <input type="hidden" id="longitude" value="<%= @course.longitude %>" />
        <input type="hidden" id="latitude" value="<%= @course.latitude %>" />
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>