<div class="course-show">
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
      <div class="row flush-xs">
        
        <% if !@course.published? %>
          <% if @course.has_public_status? || policy(@course).change_status?  %>
            <div class="alert alert-default text-right margin-bottom-20">
              <h3 class="pull-left no-margin"><%= @course.status %></h3>
              
              <% if @course.publishable? %>
                <%= link_to "Publish", change_status_provider_course_path(@course.path_params.merge(status: 'Published')), method: :post, class: 'btn btn-default' %>
              <% elsif @course.unpublishable?   %>
                <%= link_to "Unpublish", change_status_provider_course_path(@course.path_params.merge(status: 'Preview')), method: :post, class: 'btn btn-default' %>
              <% elsif @course.cancellable? %>
                <%= link_to "Cancel", cancel_provider_course_path(@course.path_params), class: 'btn btn-default' %>
              <% end %>

              <% if @course.cancelled? %>
                <p class="pad-20 pull-right"><%= @course.cancelled_reason %></p>
              <% elsif @course.completed? %>
                <p><%= link_to "See more courses from #{@course.provider.name}", provider_path(@course.provider) %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <div class="text-right">
          <%= render 'courses/social_links' %>
        </div>
        <%= render 'courses/heading' %>
        <div class="col-xs-12 flush">
          <div class="right-col">
            
            <%= render 'show_my_booking' %>

            <% if @course.bookable? || policy(@course).write?(true) %>    
              <a href="<%= new_provider_course_booking_path @course.path_params %>" class="join-link sign-in-first btn btn-default" title="New Booking" style="background-color: <%= @course.color %> ">
                <%= current_chalkler.attending?(@course) ? 'BRING A FRIEND' : 'BOOK NOW' %>
                <div class="small light">
                  <% if @course.cost? %>
                    $<%= @course.cost_formatted %>
                  <% else %>
                    FREE
                  <% end %>
                </div>
              </a>
            <% else %>
              <a href="#" class="btn btn-default join-link">
                Not Bookable
              </a>
            <% end %>

            <div class="cost">
              <% if @course.limited_spaces?  %>
                <%= @course.spaces_left? ? @course.spaces_left.to_s + " spots left" : "Booked out" %> 
              <% end %>
            </div>

            <div class="meta row">
              <% if @course.reviews? %> 
                <div class="reviews small grey">
                  <span class="fa fa-heart"></span>
                  <span class="text-right">
                    <%= @course.review_percent || '?' %>%
                  </span>
                  <div class="small">
                    <%= @course.reviews.count %> reviews
                  </div>
                </div>
              <% end  %>
              
              <% if @course.next_class.present? && (@course.next_class.status == 'Published' || policy(@course).read?) %>
                <div class="col-xs-12 center small grey class-repeats">
                  <div class="upper">CLASS REPEATS</div>
                  <div>- next class -</div>
                  <div>
                    <%= link_to quick_date_time(@course.next_class.start_at), @course.next_class.path %>
                  </div>
                </div>
              <% elsif Course.similar_to(@course).count > 1 %>
                <div class="col-xs-12 center small grey class-repeats">
                  <%= link_to "Find similar #{ @course.type.pluralize }", course_series_provider_path(@course.provider.url_name, @course.url_name) %>
                </div>
              <% end %>
              
              
              <% if @course.teacher.present? %>
                <div class="col-xs-12 text-left">
                  <%= render partial: 'provider_teachers/provider_teacher' , locals: { hide_next_date: true, provider_teacher: @course.teacher }  %>
                </div>
              <% end %>

            </div>

          </div>

          <div class="left-col">
            <div class="row flush">
              <div class="fancy-header">
                <h4>Details</h4>
                <hr class="small" />
              </div>

              <div class="col-xs-12">
                <%= to_html @course.learning_outcomes %>
              </div>

            </div>
          </div>
        </div>
      </div>
    

      <div class="row flush-xs">
        <div class="col-xs-12">
          <div class="fancy-header row">
            <h4>What we'll be doing</h4>
            <hr class="small" />
          </div>
            
          <%= to_html @course.do_during_class %>
        </div>

        <% if @course.suggested_audience.present?  %>
          <div class="col-xs-12">
            <div class="fancy-header row">
              <h4>Who this is suitable for</h4>
              <hr class="small" />
            </div>
            <%= to_html @course.suggested_audience %>
          </div>
        <% end %>

      </div>

      <div class="row flush-xs">
        <div class="row">
          <% if @course.prerequisites.present?  %>
            <div class="col-md-6 col-xs-12">
              <div class="fancy-header">
                <h4>Be sure to bring</h4>
                <hr class="small" />
              </div>
              <div class="col-xs-12">
                <%= to_html @course.prerequisites %>
              </div>
            </div>
          <% end %>

          <% if @course.additional_comments.present?  %>
            <div class="col-md-6 col-xs-12">
              <div class="fancy-header">
                <h4>Additional information</h4>
                <hr class="small" />
              </div>
              <div class="col-xs-12">
                <%= to_html @course.additional_comments %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  
  </div>

  <br /> <hr /> <br />
  <div class="row">
    <%= render partial: 'notice_board' %>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="map-wrap"> 
      <div class="col-sm-6 col-xs-12 map-overlay">
        <div class="col-xs-12 xol-sm-10 col-sm-offset-2">
          <p class="grey light">
            <%= to_html @course.venue_truncated(200) %>
          </p>
          <p class="grey light hidden-xs">
            <%= @course.address_formatted %>
          </p>
          <p class="grey light visible-xs">
            <%= @course.address %>
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <input type="hidden" id="longitude" value="<%= @course.longitude %>" />
        <input type="hidden" id="latitude" value="<%= @course.latitude %>" />
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>