<div class="course-show">
  
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-xl-6 col-xl-offset-3">
      <div class="row flush-xs">
        
        <% if !@course.published? %>
          <% if @course.has_public_status? || policy(@course).change_status?  %>
            <div class="alert alert-default  margin-bottom-20">
              
                <h3 class="no-margin"><%= @course.status %></h3>
                <p> 
                  <% if @course.publishable? %>
                    Only admins and teachers of <%= @provider.name %> can see this page. When you are ready to accept bookings, <%= link_to "publish the class", change_status_provider_course_path(@course.path_params.merge(status: 'Published')), method: :post %>.
                  <% end %>

                  <% if @course.cancelled? %>
                    <%= @course.cancelled_reason %>
                  <% end %>

                  <% if @course.completed? %>
                    <%= link_to "See more classes from #{@course.provider.name}", provider_path(@course.provider) %>
                  <% end %>
                </p>

                <% if @course.publishable? %>
                  <div class="text-right">
                    <%= link_to "Publish", change_status_provider_course_path(@course.path_params.merge(status: 'Published')), method: :post, class: 'btn btn-default' %>
                  </div>
                <% end %>

            </div>
          <% end %>
        <% end %>

        <div class="text-right">
          <%= render 'courses/social_links' %>
        </div>
        <%= render 'courses/heading' %>
        
        <%= render 'courses/booking_module' %>

        <div class="row">
          <%= render partial: 'fancy_header', locals: { fancy_title: "Details", small: true } %>
          <div class="col-xs-12">
            <%= to_html @course.learning_outcomes %>
          </div>
        </div>

      </div>
    

      <div class="row flush-xs">
        <div class="col-xs-12">

        <%= render partial: 'fancy_header', locals: { fancy_title: "What we'll be doing", small: true } %>
            
          <%= to_html @course.do_during_class %>
        </div>

        <% if @course.suggested_audience.present?  %>
          <div class="col-xs-12">
          
            <%= render partial: 'fancy_header', locals: { fancy_title: "Who this is suitable for", small: true } %>
          
            <%= to_html @course.suggested_audience %>
          </div>
        <% end %>

      </div>

      <div class="row flush-xs">
        <div class="row">
          <% if @course.prerequisites.present?  %>
            <div class="col-md-6 col-xs-12">

              <%= render partial: 'fancy_header', locals: { fancy_title: "Be sure to bring", small: true } %>
              
              <div class="col-xs-12">
                <%= to_html @course.prerequisites %>
              </div>
            </div>
          <% end %>

          <% if @course.additional_comments.present?  %>
            <div class="col-md-6 col-xs-12">
              
              <%= render partial: 'fancy_header', locals: { fancy_title: "Additional information", small: true } %>
              
              <div class="col-xs-12">
                <%= to_html @course.additional_comments %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  
  </div>

  <br /> <hr /> <br />
  <div class="row">
    <%= render partial: 'notice_board' %>
  </div>
  <br />
  <hr />
  <br />
  <div class="row">
    <div class="map-wrap"> 
      <div class="col-sm-6 col-xs-12 map-overlay">
        <div class="col-xs-12 xol-sm-10 col-sm-offset-2">
          <p class="grey light">
            <%= to_html @course.venue_truncated(200) %>
          </p>
          <p class="grey light hidden-xs">
            <%= @course.address_formatted %>
          </p>
          <p class="grey light visible-xs">
            <%= @course.address %>
          </p>
        </div>
      </div>
      <div class="col-xs-12">
        <input type="hidden" id="longitude" value="<%= @course.longitude %>" />
        <input type="hidden" id="latitude" value="<%= @course.latitude %>" />
        <div id="map-canvas"></div>
      </div>
    </div>
  </div>
</div>