!!! 5
%html
  %head
    = analytics_init if Rails.env.production?
    = render 'layouts/meta'
    %title= content_for?(:title) ? yield(:title) : 'chalkle°'
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    = csrf_meta_tag
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = google_webfonts_init(google: 'Shadows Into Light Two')

  %body{ class: body_class }
    .front_end_body
      = yield
