<div class="chalkler">

  <div class="col-xs-12">
 
    <% if current_user.chalkler == @chalkler || current_user.super?  %>

      <% if @chalkler.provider_teachers.any? %>
        
        <%= render partial: 'fancy_header', locals: { fancy_title: "Teacher Profiles" } %>
        
        <div class="col-xs-12">
          <%= render @chalkler.provider_teachers %>  
        </div>
      <% end %>

    <% else %>
      <%= to_html @chalkler.bio %> 
    <% end %>

  </div>

  <div class="follows col-xs-12">
    
    <%= render partial: 'fancy_header', locals: { fancy_title: "Following" } %>

    <% if @chalkler.providers_following.empty? %>
      <div class="text-center">
        <% if @chalkler == current_user.chalkler %>
          <p>Opps, you aren't following any providers yet.</p>
          <p>
            <small>Why don't you live a little?</small>
          </p>

          <%= link_to "Browse Providers", providers_path, class: 'btn btn-default' %>
        <% else %>
          <p><%= @chalkler.name %> isn't following any providers yet.</p>
        <% end %>
      </div>
    <% end %>

    <%= render @chalkler.providers_following %>
      

  </div>
</div>