<div class="chalkler">

  <div class="col-xs-12">
 
    <% if current_chalkler == @chalkler || current_chalkler.super?  %>

      <% if @chalkler.provider_teachers.any? %>
        <div class="fancy-header">
          <h3>Teacher Profiles</h3>
          <hr />
        </div>
        <div class="col-xs-12">
          <%= render @chalkler.provider_teachers %>  
        </div>
      <% end %>

    <% else %>
      <%= to_html @chalkler.bio %> 
    <% end %>

  </div>

  <div class="favourites col-xs-12">
    <div class="fancy-header">
      <h3>Following</h3>
      <hr />
    </div>

    <% if @chalkler.providers_following.empty? %>
      <div class="text-center">
        <% if @chalkler == current_chalkler %>
          <p>Opps, you aren't following any providers yet.</p>
          <p>
            <small>Why don't you live a little?</small>
          </p>

          <%= link_to "Browse Providers", root_path, class: 'btn btn-default' %>
        <% else %>
          <p><%= @chalkler.name %> isn't following any providers yet.</p>
        <% end %>
      </div>
    <% end %>

    <% @chalkler.providers_following.each do |provider| %>
      <div role="presentation" class="_favourite row">
        <div class="col-xs-10">
          <%= link_to provider_path(provider.url_name) do %>
            <div class="avatar64">
              <div class="img" style="background-image: url(<%= provider.logo %>)">
              </div>
            </div>
            <div class="content">
              <h4 class="flush">
               <%= provider.name %>
              </h4>
              <p>
                <% course_count = provider.courses.in_future.displayable.count %>
                <%= course_count %> upcoming <%= "class".pluralize(course_count) %>
              </p>
            </div>
          <% end %>
        </div>
        <div class="col-xs-2 text-right">
          <% subscription = current_user.subscriptions.where(provider_id: provider.id) %>
          <% unless subscription.present? %>
            <%= bootstrap_form_for(Subscription.new, url: provider_subscriptions_path(provider), html: { method: :post }) do |f| %>
              <input value="Follow" type="submit" class="btn btn-success" /> 
            <% end %>
          <% else %>
            <%= bootstrap_form_for(subscription[0], url: provider_subscription_path(provider, subscription[0].id), html: { method: :delete }) do |f| %>
              <input type="hidden" name="return_to" value="<%= chalkler_path(@chalkler) %>" />
              <input value="Unfollow" type="submit" class="btn btn-warning" /> 
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>