<% if @providers.empty? || @bad_location.present? %>
  
  <% 
    if @providers.empty?
      problem = "No results "
      problem += ' for "'+params["search"]+'" ' if params[:search].present?
    else
      problem = @bad_location
    end    
  %>

    <div class="alert alert-warning center">
       <%= problem %>    
    </div>
<% end %>



<div class="row flush">
  <%= render partial: 'providers/provider', collection: paginate_these(@providers) %>
</div>

<div class="pagination-wrapper">
  <% if page_max > 0 %>
    <ul class="pagination inline">
      <% if page_min > 0 %>
        <li>
          <a class="fetch_this" data-page="1" title="Page 1" data-toggle="tooltip" data-placement="top" onmouseover="$(this).tooltip('show')">&laquo;</a>
        </li>
      <% end %>
      <% (page_min..page_max).each do |i| %>
        <li class="<%= 'active' if paginate_position == i %>">
          <a class="fetch_this" data-page="<%= i+1 %>" >
            <%= i+1 %> 
            <% if paginate_position == i %>
              <span class="sr-only">(current)</span>
            <% end %>
          </a>
        </li>
      <% end %>
      <% if paginate_count > page_max %>
        <li><a class="fetch_this" data-page="<%= paginate_count+1 %>" title="Page <%= paginate_count+1 %>" data-toggle="tooltip" onmouseover="$(this).tooltip('show')" data-placement="top" >&raquo;</a></li>
      <% end %>
    </ul>
  <% end %>

  <% if @providers.count > 10 %>
    <div class="paginate-take" data-take="<%= paginate_take %>">
      <div class="dropup btn btn-primary">
        <a id="paginateTakeLabel" data-target="#" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
          Show <%= paginate_take %> Results
          <span class="caret"></span>
        </a>

        <ul class="dropdown-menu dropup" role="menu" aria-labelledby="paginateTakeLabel">
          <li><a class="fetch_this" data-page="1" data-take="10">Show 10</a></li>
          <li><a class="fetch_this" data-page="1" data-take="30">Show 30</a></li>
          <% if @providers.count > 30 %>
            <li><a class="fetch_this" data-page="1" data-take="50">Show 50</a></li>
          <% end %>
          <% if @providers.count > 50 %>
            <li><a class="fetch_this" data-page="1" data-take="100">Show 100</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

</div>