<div class="sessions-new">
  <div class="row" id='sign-in'>
    <div class="modal fade" id="signInFirstModal" tabindex="-1" role="dialog" aria-labelledby="signInFirstModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="row text-center">
              <div class="col-xs-12 flush-xs">
                <h1>Login</h1>

                <div class="sign-in-form col-xs-12 new_form_wrapper">
                  
                  <%= render partial: '/devise/sessions/omniauth_buttons' %>
    
                  <h4>– Or –</h4>
                  <br />
                  <%= bootstrap_form_for(:chalkler, :url => chalkler_session_path, :html => { class: 'form' }) do |f| %>
                  
                    <%= f.input :email, as: :email, :autofocus => true, required: true, placeholder: 'Email' %>
                    <%= f.input :password, required: true, placeholder: 'Password' %>

                    <div class="control-group">
                      <div class="controls">
                        <label class="checkbox">
                          <%= f.check_box :remember_me, :as => (:boolean if devise_mapping.rememberable?) %>
                          Remember me?
                        </label>
                      </div>
                    </div>
                    
                    <div class="col-sm-6 hidden-xs">
                      <h5 class="alternative no-margin pad-top">Not a member yet?</h5>
                      <a href="#" class="link-line sign_up_first">Sign up now</a>
                      <br /><br />
                    </div>
        
                    <div class="col-xs-12 col-sm-6 flush-xs">
                      <br class="visible-xs" />
                      <input type="submit" value="Login Now" class="btn btn-lg btn-primary col-xs-12" />
                    </div>

                    <div class="col-xs-12 visible-xs">
                      <br />
                      <h5 class="alternative no-margin pad-top">Not a member yet?</h5>
                      <a href="#" class="link-line sign_up_first">Sign up now</a>
                    </div>
                    

                  <% end %>
                </div>
                
         
                
                <div class="col-xs-12">
                  <br />
                    <%= render "devise/shared/links" %>
                  <br />
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="signUpFirstModal" tabindex="-1" role="dialog" aria-labelledby="signUpFirstModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="col-xs-12 flush-xs">
              <div class="col-xs-12 text-center">
                <%= bootstrap_form_for(Chalkler.new, as: :chalkler, url: registration_path(:chalkler)) do |f| %>
                  <h1>Sign up</h1>

                  <%= render partial: '/devise/sessions/omniauth_buttons' %>
                
                  <h4>– Or –</h4>
                  <br />
                  
                  <div class="form-inputs text-left">
                    <%= f.input :name, :required => true, placeholder: 'Name' %>
                    <%= f.input :email, as: :email, :required => true, placeholder: 'Email' %>
                    <%= f.input :password, :required => true, placeholder: 'Password' %>
                    <%= f.input :password_confirmation, :required => true, placeholder: 'Confirm Password' %>
                  </div>
                
                  <div class="col-xs-12 flush-xs">
                    <div class="col-sm-6 hidden-xs">
                      <h5 class="alternative no-margin pad-top">Already signed up?</h5>
                      <a href="#" class="link-line sign_in_first">Login now</a>
                      <br /><br />
                    </div>
        
                    <div class="col-xs-12 col-sm-6 flush-xs">
                      <br class="visible-xs" />
                      <button class="btn btn-lg btn-primary col-xs-12">
                        Join Now
                      </button>
                    </div>

                    <div class="col-xs-12 visible-xs">
                      <br />
                      <h5 class="alternative no-margin pad-top">Already signed up?</h5>
                      <a href="#" class="link-line sign_in_first">Login now</a>
                    </div>
                  </div>

                <% end %>
                <div class="col-xs-12">
                  <br />
                  <%= link_to "Find out more about how Chalkle works", about_path, class: 'small strong'  %>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function init_sign_in_first(){
    $(".sign_up_first").click(function(){
      $('#signInFirstModal').modal('hide').after(function(){
        $('#signUpFirstModal').modal('show');
      });
    });

    $(".sign_in_first").click(function(){
      $('#signInFirstModal').modal('show').after(function(){
        $('#signUpFirstModal').modal('hide');
      });
    });

    $('.sign-in-first').click(function(e){
      target = $(this).attr('href');
      e.preventDefault();
      $.post('/set_redirect', { redirect_to: target, _method: 'put' });
      $('#signInFirstModal').modal('show');
    });

    $('.sign-up-first').click(function(e){
      target = $(this).attr('href');
      e.preventDefault();
      $.post('/set_redirect', { redirect_to: target, _method: 'put' });
      $('#signUpFirstModal').modal('show');
    })
  }
  $(function(){
    init_sign_in_first();
  });
</script>