 <section>

  <div class="row">
    <div class="col-xs-12 shaded_bg dark text-center">
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        Setting up and managing classes is easy on Chalkle. You can focus on what is most important. 
      </div>
    </div>
  </div>
</section>

<section class=" icons">
  <div class="row">
    <div class="col-xs-12 col-sm-6 abl text-right">
      <h2>Engaging your community.</h2>
    </div>

    <div class="col-xs-12 col-sm-6 inspired">
      <h2>Teaching great classes.</h2>
    </div>
  </div>
</section>

<section id="process">

  <div class="row learner">
    <div class="col-xs-12 text-center">
      <h2>A great learner experience</h2>
    </div>


    <div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-3">
      <div class="media">
        <div class="media-left media-middle">
          <%= image_tag 'teach/payment_admin.png', class: 'media-object iconify' %> 
        </div>
        <div class="media-body">
          <h3>For learners</h3>
          <small><strong>chalkle.com</strong> can handle workshops and one-off classes, 8 week courses to conferences and special events.</small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-3">
      <div class="media">
        <div class="media-left media-middle">
          <%= image_tag 'teach/free_to_join.png', class: 'media-object iconify' %> 
        </div>
        <div class="media-body">
          <h3>Effortless booking</h3>
          <small>learners book and pay online easily. Chalkle handles all the reminders, confirmations, and receipts for you.</small>
        </div>
      </div>
    </div>

  </div>

  <div class="darker shaded_bg row provider">

    <div class="col-xs-12 text-center">
      <h2>A great provider experience</h2>
    </div>


    <div class="col-xs-12 col-sm-10 col-md-6 col-md-offset-3">
      <div class="media">
        <div class="media-left media-middle">
          <%= image_tag 'teach/shopping.png', class: 'media-object iconify' %> 
        </div>
        <div class="media-body">
          <h3>Never worry about money again;</h3>
          <small>We handle all the payment administration, receipts and refunds. You simply set the price, and let us know how you’d like to be paid. </small>
        </div>
      </div>
    </div>



    <div class="ccol-xs-12 col-sm-10 col-md-6 col-md-offset-3">
      <div class="media">
        <div class="media-left media-middle">
          <%= image_tag 'teach/talk.png', class: 'media-object iconify' %> 
        </div>
        <div class="media-body">
          <h3>Connect with your learners;</h3>
          <small>See who is coming to your class, share resources and connect on our class noticeboard.</small>
        </div>
      </div>
    </div>
  
  </div>

</section>


<section>

  <div class="row shaded_bg dark camp">


    <div class="col-xs-12 text-center bottom-line">
      <h2><strong>Chalkle</strong> is free to set up and join;<br /> We succeed when you succeed. Simple as that. </h2>
    </div>

    <div class="col-xs-12 text-center">
      Ready to set up your first class? <%= link_to "Get Started Now", new_provider_path, class: 'btn btn-primary' %>
    </div>


    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 text-center plan">
      <h3>Basic Plan</h3>
      <div class="circle">
        $2
        <sub>+ 4%</sub>
      </div>
      <small>
        <p>for each booking made through Chalkle.</p>
      </small>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 text-center">
      <h3>Chalkle Services</h3>
      Need help developing your courses? <%= mail_to "hello@chalkle.com", "Get in touch", subject: 'Chalkle Services', class: 'btn btn-primary' %>
    </div>

    <%#  <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-1 text-center plan">
      <h3>Chalkle Services</h3>
      <div class="circle outline">
        ?
        <sub></sub>
      </div>
      <small>
        <p>Need help developing up classes?</p>
      </small>
    </div>  %>


  </div>


</section>


