Hi #{teachers},

%p Here are the attendees we have on record for your class, <b>#{title}</b>"
%table{:style=>"border: 1px; width: 60%"}
  %col{:width => "20px"}
  %col{:width => "5px"}
  %col{:width => "300px"}
  %tbody
    -bookings.each do |b|
      %tr
        -if b.guests.nil? || b.guests == 0
          %td= "#{b.chalkler.name}"
        -else
          %td= "#{b.chalkler.name} + #{b.guests} guests"         
        -if price > 0
          - if b.paid == true
            %td= "(paid)"
          - else
            %td= ""
        %td= render "/admin/bookings/answers", :answers => b.answers if b.answers
        
%p Note, we cannot guarantee payment for students who have not prepaid for this class.
%p Please reply to this email after the class if actual class attendance differs from this list.
%p Have a great class and I shall follow up with you subsequent to the class.
%p Chalkle

%hr

  %p Hi
  %p Thank you for signing up to the upcoming chalkle&deg class, #{title}. Here are the details of your class:
  %p
    Time: <b> #{ start_time.strftime("%l:%M %p %A %d %B") if start_time} </b>
    %br/
    Location: <b> #{venue} </b>
    %br/
    Teacher: <b> #{teachers} </b>
    %br/
-if price == 0
  Price: <b> Free</b>

-if price > 0
  Price: <b> #{number_to_currency price} per person</b>

%p #{link_to 'View further details about this class',"//chalkle.com/channels/#{channel_id}/classes/#{course_id}"}.
%p Thank you for supporting Chalkle and we look forward to seeing you soon!
%p Chalkle

%hr

%p Hi,

%p The upcoming chalkle class #{title}, has been cancelled due to insufficient sign-ups. If you require a refund for this class, please contact accounts@chalkle.com with your bank account number. 

%p Thank you for supporting Chalkle and we look forward to seeing you in another Chalkle class.

%p Your Chalkle Administrator
