#{course.name.downcase}

%br
Start time: #{course.start_at.present? ? course.start_at.to_formatted_s(:long) : nil}
%br
End time: #{ (course.start_at.present? && course.duration.present?) ? (course.start_at + course.duration).to_formatted_s(:long) : nil}

%br
Location: #{course.venue.present? ? course.venue : nil}

.meetup_image{ :style => 'margin: 1em 0;' }
  =image_tag course.image.url if course.image

%br
%br
%b what we are doing
%br
#{simple_format course.do_during_class}

%br
%b what you will learn
%br
#{simple_format course.learning_outcomes}

%br
%b type of class
#{course.course_type.downcase if course.course_type?}

%br
%b skill required
#{course.course_skill.downcase if course.course_skill?}

%br
%b your chalkler will be
%br
#{simple_format course.teacher_bio}

%br
%b what to bring
%br
#{course.prerequisites.blank? ? (simple_format "None") : (simple_format course.prerequisites)}

%br
%b appropriate audience
%br
#{course.suggested_audience.blank? ? (simple_format "Everyone") : (simple_format course.suggested_audience)}

%br
%b cost
#{course.cost? ? (cost = number_with_precision(course.cost, :precision => 2, :significant => false)) + " (incl. GST, if any)" : "free"} 
%br
-if course.cost?
  %br
  %b how to book and pay
  %br
  We expect pre-payment for all classes.
  %br
  RSVP and pay using this paypal link or
  %br
  deposit #{cost} into chalkle's Kiwibank account:
  %br
  \# #{course.account}
  %br
  Reference: #{course.meetup_id.present? ? course.meetup_id : "Event Meetup ID"} - Your name

%br
%br
%b note
%br
we require a minimum of #{course.min_attendee} people for this class to go ahead.
%br
%br
%b about chalkle&deg;
%br
Chalkle&deg; enables learning for communities in real life. Small affordable classes mean high value for participants, extracting the knowledge and skills otherwise hidden within the community. chalkle&deg; redefines what it means to be a teacher or a learner, helping everyone undertake training in practical, artistic or academic skills while fostering lifelong learning.
%br
%br
%b policy
%br
Chalkle&deg; expects pre-payment for all classes. If you have not paid you will be placed on the waiting list to allow other chalklers to attend. You will be moved to attending once chalkle&deg; has received confirmation of your payment.
%br
If you RSVP for a class and fail to show up, you will get a "no show". Three no shows means you will be removed from chalkle&deg;. You may request to rejoin after six months.
%br
If you cancel your RSVP:
%br
\- less than 3 days before = no refund
%br
\- after 7pm the night before = no refund and a "no show" will be recorded 
%br
%br
%b disclaimer
%br
Whilst every possible assistance will be offered, chalkle&deg;, teachers and members cannot be held responsible for any accident, injuries or losses sustained leading up to, during, or after a class. 
