Hi #{course.teacher.present? ? course.teacher.name.split[0] : nil},
%br
%br
Here is a summary of Chalkle's payment to you for this class, <b>#{course.name.present? ? course.name : nil} on #{(course.start_at.present? ? course.start_at : Date.yesterday()).strftime("%B %d, %Y")}</b>:
%br
%br
Total number of attendees = #{attendance=course.attendance}
%br
Payment to you per attendee = #{number_to_currency teacher_cost=(course.teacher_cost.present? ? course.teacher_cost : 0)}
%br
Total payment for this class = #{number_to_currency teacher_cost*attendance}
%br
%br
<i>Less</i>
%br
Cash you received = #{number_to_currency cash=course.payments.cash.sum(:total)}
%br
Venue cost = #{number_to_currency venue=(course.venue_cost.present? ? course.venue_cost : 0)}
%br
%br
<b>Total payment to be transferred to you = #{number_to_currency teacher_cost*attendance-cash-venue}</b>
%br
%br
Note this amount includes any GST or fees that you are responsible for paying.
%br
%br
An invoice sent to #{link_to 'me',"mailto:accounts@chalkle.com"} for this amount will activate the payment to you on the 20th of every month. Please send me an invoice by #{(Time.current + 2.months).strftime("%B %d, %Y")} as we will no longer be able to hold the fund for you beyond that date.
%br
%br
Please do not hesitate to contact me should you have any questions.
%br
%br
Regards,
%br
Amy
%br
