
<% count = 0 %>
<div class="col-xs-12 x1-25 clearfix light hidden-xs light">
  <div class="col-sm-3">
    Name
  </div>
  <div class="col-sm-4">
    Courses
  </div>
</div> 
<% @regions.each do |region| %>
  <% count+=1 %>
  <div class="col-xs-12 x1-25 clearfix <%= count%2 ==0 ? 'even' : 'odd'  %>">
    <div class="col-xs-4 col-sm-3">
      <%= link_to region.name, sudo_region_path(region) %>
    </div>
    <div class="col-xs-6 col-sm-4 light">
      <% region.courses.order('start_at DESC').limit(5).each do |course| %>
        <%= link_to course.name, course_path(course) %>, 
      <% end %>
      <% if region.courses.count > 5 %> 
        <%= link_to(sudo_region_path(region)) do %>
           <p><small>and <%= region.courses.count-5 %> more</small></p>
         <% end %> 
       <% end %>
    </div>
  </div> 
<% end %>