%footer.page-footer
  .container
    .row
      .col-sm-7
        %h3 How does chalkle° work?
        %ul
          %li= link_to "FAQs - how do I use chalkle°?", 'http://blog.chalkle.com/faq/#how_use', class: 'colour1'

        %h3 Chalkle° stories
        %ul
          %li= link_to "News round up", 'http://blog.chalkle.com/news-round-up/', class: 'colour1'
          %li= link_to "Social Enterprise Conference – as seen by Jesse Doud", 'http://blog.chalkle.com/social-enterprise-conference-as-seen-by-jesse-doud/', class: 'colour2'
          %li= link_to "Social Enterprise Conference – as seen by Naomi Lamb", 'http://blog.chalkle.com/social-enterprise-conference-as-seen-by-naomi-lamb/', class: 'colour3'
          %li= link_to "UX Design Day – coming to the Creative Capital", 'http://blog.chalkle.com/ux-design-day-coming-to-the-creative-capital/', class: 'colour4'
          %li= link_to "Social Enterprise Conference – as seen by Nancy Nichols-Acevedo", 'http://blog.chalkle.com/social-enterprise-conference-as-seen-by-nancy-nichols-acevedo/', class: 'colour5'
      .col-sm-5
        %h3 Contact us
        %ul.email-list
          %li
            General enquiries -
            = link_to "enquiries@chalkle.com", 'mailto:enquiries@chalkle.com', class: 'colour1'
          %li
            Account enquiries -
            = link_to "accounts@chalkle.com", 'mailto:accounts@chalkle.com', class: 'colour2'
          %li
            Website feedback and assistance -
            = link_to "support@chalkle.com", 'mailto:support@chalkle.com', class: 'colour3'

        %h4 Core chalkle° address:
        .address
          .street 2/22 Allen Street
          .city Wellington, 6011
          .country New Zealand

        .social_media_links
          = link_to image_tag('front_end/home/twitter.png', alt: 'Twitter'), 'https://www.facebook.com/Chalkle'
          = link_to image_tag('front_end/home/facebook.png', alt: 'Facebook'), 'https://twitter.com/ChalkleNZ/'
