<footer class="footer">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-0 col-sm-offset-1">
      <ul style="padding-left: 0;">
        <li class="no-border">
          <%= link_to "Contact", say_hello_path %>
        </li>
        <li class="no-border">
          <%= link_to "Teach", teach_path %>
        </li>
        <li class="no-border">
          <a href="https://resources.chalkle.com">Resources</a>
        </li>
        <li class="no-border">
          <%= link_to "About", about_path %>
        </li>
       </ul>
    </div>
    <div class="col-xs-3 col-xs-offset-0 col-sm-2" style="height: 84px;">
      <ul class="list-inline">
        <li class="no-border">
          <%= link_to image_tag('/assets/icons/facebooky.png', alt: 'Facebook', style: "max-height: 20px;"), 'https://www.facebook.com/Chalkle' %>
        </li>
        <li class="no-border">
          <%= link_to image_tag('/assets/icons/tweetiebird.png', alt: 'Twitter', style: "max-height: 20px;"), 'https://twitter.com/ChalkleNZ/' %>
        </li>
      </ul>
      <%= link_to root_path, alt: "chalkle°" do %>
        <%= image_tag asset_path('logo.png'), alt: 'Chalkle', class: "logo hidden-xs", style: "max-height: 20px; position: absolute; bottom: 5px;"%>
      <% end %>
    </div>
    <div class="col-xs-7 col-xs-offset-0 col-sm-5 col-sm-offset-2">
      <div class="row text-right">
        <p>Chalkle is commited to a safe and happy environment for everyone. See our Terms & Conditions's for</p>
        <div class="col-xs-4">
          <a href="<%= terms_path %>">Learners</a>
        </div>
        <div class="col-xs-4">
          <a href="<%= teacher_terms_path %>">Teachers</a>
        </div>
        <div class="col-xs-4">
          <a href="<%= provider_terms_path %>">Providers</a>
        </div>
    </div>
 </footer>
