<%
  if @courses
   subtitle = 'Classes in'
  elsif @channel.name != "All Providers"
    subtitle = 'Classes from'
  else
    subtitle = ''
  end
  title = (@channel || @region || @course).name
 %>
<div class="header" style="background-image: url( <%= @header_bg ? @header_bg : '/assets/header_bg.jpg' %> )">
  
  <div class="container header_content col-xs-12">
    <div class="header_content_bg_wrapper">
      <div class="header_content_bg" style="background-image: url( <%= @header_blur_bg ? @header_blur_bg : '/assets/header_bg.jpg' %> )">
      </div>
    </div>
    <% if title %>
      <div class="title col-sm-offset-2 col-sm-10">
        <em><%= subtitle %></em>
        <h1>
          <%= title %>
        </h1>
      </div>
      <%= render 'layouts/navigation_secondary' %>
    <% end %>
  
  </div>

  <%= render "layouts/navigation_admin" %>

</div>
