<% 
  current_hero = page_hero
%>
<div class="header" style="background-image: url( <%= current_hero[:default] %> )">
  <div class="container header_content col-xs-12">
    <div class="header_content_bg_wrapper">
      <div class="header_content_bg" style="background-image: url( <%= current_hero[:blurred] %> )">
      </div>
    </div>
    <% if title = page_title %>
      <div class="title col-sm-offset-2 col-sm-10">
        <em><%= page_subtitle %></em>
        <h1 class="<%= title_size_class title %>">
          <%= title %>
        </h1>
      </div>
      <%= render 'layouts/navigation_secondary' %>
    <% end %>
  </div>
  <% if current_user.channels.count > 0 %>
    <%= render "layouts/navigation_admin" %>
  <% end %>
</div>
