<% 
  current_hero = page_hero
  links = page_context_links
%>
<div class="header" style="background-image: url( <%= current_hero[:default] if current_hero.present? %> )">
  <div class="container header_content">
    <div class="header_content_bg_wrapper">
      <div class="header_content_bg" style="background-image: url( <%= current_hero[:blurred] if current_hero.present? %> )">
      </div>
    </div>
    <div class="header_content_fg">
      <% if (title = page_title).present? %>
        <div class="title-wrapper" <%= 'style=width:85%' if links.empty?  %>>
          <div class="page_title_logo img hidden-xs" style="background-image: url(<%= page_title_logo.present? ? page_title_logo : ''%>)">
          </div>
          <div class="title">
            <em class="hidden-xs"><%= page_subtitle %></em>
            <h1 class="text-to-fit">
              <%= title %>
            </h1>
          </div>
        </div>
        <div class="context_nav_wrapper">
          <nav>
            <ul>
            <% 
              col_width = 100 / links.count if links.count > 0
              links.each do |nav_link| %>
                <li class="<%= "active" if nav_link[:active] %>" style="width:<%= col_width %>%">
                  <%= link_to nav_link[:link], title: nav_link[:title], class: 'nav_links' do %>
                    <span class="img-wrapper">
                      <%= image_tag(asset_path("icons/"+nav_link[:img_name]+"-alt.png"), { class: "reg" }) %>
                      <%= image_tag(asset_path("icons/"+nav_link[:img_name]+".png"), { class: "alt" }) %>
                    </span>
                    <span class="link_title">
                      <%= nav_link[:title] %>
                    </span>
                  <% end # link_to %>
                </li>
              <% end %>
            </ul>
          </nav>
        </div>
      <% end %>
    </div>
  </div>
</div>
