.navbar.navbar-inverse.navbar-static-top
  .navbar-inner
    .container
      = link_to (image_tag 'chalkle_logo_small_alpha.png', {width: 115}), root_path, class: 'brand span2'
      .nav-collapse.collapse
        %ul.nav.span10
          -if chalkler_signed_in?
            %li= link_to 'Teach', new_chalklers_teaching_path
            %li= link_to 'Email Settings', chalklers_preferences_path
            %li.fl-right.no-right-margin= link_to 'Sign out', destroy_chalkler_session_path, method: 'delete'
            %li.fl-right= link_to "#{current_chalkler.name}", chalklers_preferences_path, class: 'no-border'
