<div class="filter-nav">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-3" style="border-left:0px !important">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="locationDropDown" data-toggle="dropdown">
            <div class="col-1">
              <img src="/assets/map-pin.png" />
            </div>
            <div class="col-2 hidden-xs" style="padding:2px 0;">
              <div class="sub"><%= @region.name == "New Zealand" ? 'More specific' : 'Not in '+@region.name.titlecase %>?</div>
              <span>Change Location</span> 
            </div>
            <div class="col-3">
              <img class="hidden-xs" src="/assets/caret-down.png" />
            </div>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="locationDropDown">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= root_path(filter_params('region','all')) %>">All of New Zealand</a></li>
            <li role="presentation" class="divider"></li>
            <% cache "region_filter_list_#{@category.name}_#{@provider.name}_#{params[:search]}", skip_digest: true do %>
              <% filter_regions.each do |region| %>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= root_path(filter_params('region',region.url_name)) %>"><%= region.name.titlecase %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div> 
       <div class="col-xs-4 col-sm-3">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="topicDropDown" data-toggle="dropdown">
            <div class="col-1">
              <img src="/assets/tag.png" />
            </div>
            <div class="col-2  hidden-xs">
              <%= @category.name.titlecase %>
            </div>
            <div class="col-3">
              <img class="hidden-xs" src="/assets/caret-down.png" />
            </div>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="topicDropDown">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= root_path(filter_params('topic','all')) %>">All Topics</a></li>
            <li role="presentation" class="divider"></li>
            <% cache "category_filter_list_#{@region.name}_#{@provider.name}_#{params[:search]}", skip_digest: true do %>
              <% filter_topics.each do |category| %>        
                <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= root_path(filter_params('topic', category.url_name)) %>"><%= category.name.titlecase %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div> 
       <div class="col-xs-4 col-sm-3">
            <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="providerDropDown" data-toggle="dropdown">
            <div class="col-1">
              <img src="/assets/unfolded-paper-plane.png" />
            </div>
            <div class="col-2 hidden-xs">
              <%= @provider.name.titlecase %>
            </div>
            <div class="col-3">
              <img class="hidden-xs" src="/assets/caret-down.png" />
            </div>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="providerDropDown">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= root_path(filter_params('provider', 'all')) %>">All Providers</a></li>
            <li role="presentation" class="divider"></li>
            <% cache "provider_filter_list_#{@region.name}_#{@category.name}_#{params[:search]}", skip_digest: true do %>
              <% filter_providers.each do |provider| %>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= root_path(filter_params('provider', provider.url_name)) %>"><%= provider.name.titlecase %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div> 
      <div class="col-xs-12 col-sm-3 search-wrapper">
        <form class="navbar-form navbar-right search-form" id="second-search-form" method="get" action="<%= root_path params %>" role="search">
          <script>
            function submit_2nd_form() {
                document.getElementById("second-search-form").submit();
            }
          </script>
          <div class="input-group">
            <span class="input-group-addon" onclick="submit_2nd_form()">
              <span class="fa fa-search"></span>
            </span>
            <input type="text" name="search" value="<%= params[:search] %>" class="form-control" placeholder="Search">
            <% params.each do |key,value| %>
              <% unless %w(controller action search page).include? key %>
                <input type="hidden" name="<%= key %>" value="<%= value %>" />
              <% end  %>
            <% end %>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>