<div class="navbar-wrapper">
  <nav class="navbar navbar-fixed-top" role="navigation" >
    <%= content_tag :div, class: "coloring"  do %>
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#primary-navigation" data-toggle="collapse" type="button">
            <span class="sr-only Toggle navigation"></span>
            <span class="fa fa-bars"></span>
          </button>
          <%= link_to (current_user.authenticated? ? discover_path : root_path), class:"navbar-brand", alt: "chalkle°" do%>
            <% if false #Rails.env.titleize != "Production" %>
              <div class="light environment alert-<%= environment_color Rails.env.titleize %>">
                  <%= Rails.env.titleize %> <small> #<%= VERSION_NUMBER %></small>
              </div>
            <% else %>
              <%= image_tag asset_path('logo.png'), alt: 'Chalkle', class: "logo hidden-xs" %>
            <% end %>
          <% end %>
        </div>

        <div id="primary-navigation">

          <div class="search-wrapper">
            <form class="search-form" id="primary-search-form" method="get" action="<%= discover_path %>" onsubmit="<%= "return false" if current_page? discover_path %>" role="search">
              <div class="input-group">
                <span class="input-group-addon" id="search_btn">
                  <button class="btn no-btn"><img src="/assets/icons/search.png" alt="search" /></button>
                </span>
                <input id="search_input" type="text" name="search" value="<%= params[:search] %>" class="form-control" placeholder="Search Chalkle" autocomplete="off">
              </div>
            </form>
          </div>

          <ul id="primary-menu" class="nav navbar-nav">
            <% if chalkler_signed_in? %>
              <li class="non-dropdown hidden-xs">
                <%= link_to "Create Class", new_course_path, class: 'header_new_class' %>
              </li>
              <li class="dropdown notifications-drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                 <span>
                   <img class="nav_img" src="/assets/icons/bell.png" />
                   <span class="notification-count"></span>
                 </span>
                </a>
                <div class="dropdown-menu pull-right" role="menu" >
                  <ul class="flush" id="notifications_container">
                  </ul>
                  <div class="divider flush"></div>
                  <div class="small center">
                      <%= link_to "All Notifications", me_notifications_path  %>
                  </div>
                </div>
              </li>

              <li class="dropdown favourites-drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                 <% if current_user.avatar? %>
                    <span>
                      <img class="nav_img" src="<%= current_user.avatar %>" />
                    </span>
                  <% else %>
                    <div class="nav_img">
                      <%= current_user.initials %>
                    </div>
                  <% end %>
                </a>
                <div class="dropdown-menu pull-right" role="menu" >
                 
                  <% unless current_user.avatar? %>
                    <div role="presentation" class="personal-links">
                      <%= link_to "Upload Profile Image", me_preferences_path %>
                    </div>
                  <% end %>
                    
                  <div class="row personal-links" role="presentation">
                    <div class="role">
                      <div class="col-xs-8">
                        <%= link_to current_user.name, chalkler_path(current_chalkler) %>
                      </div>
                      <div class="col-xs-4 text-center">
                        <%= link_to 'Logout', destroy_chalkler_session_path, method: 'delete' %>
                      </div>
                    </div>
                  </div>

                  <div class="divider flush"></div>
                  <ul class="flush">
                    <% current_chalkler.providers.each do |provider| %>
                      <li role="presentation" class="_favourite">
                        <%= link_to provider_path(provider.url_name) do %>
                          <div class="avatar64">
                            <div class="img" style="background-image: url(<%= provider.logo %>)">
                            </div>
                          </div>
                          <div class="content">
                            <h4 class="flush">
                             <%= provider.name %>
                            </h4>
                            <p>
                              <% course_count = provider.courses.in_future.displayable.count %>
                              <%= course_count %> upcoming <%= "class".pluralize(course_count) %>
                            </p>
                          </div>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </li>
  
            <% else %>

              <li class="non-dropdown">
                <% if current_page? new_chalkler_session_path %>
                  <%= link_to 'Sign up', new_chalkler_registration_path %>
                <% else %>
                  <%= link_to 'Login', new_chalkler_session_path  %>
                <% end %>
              </li>
            
            <% end %>

          </ul>

        </div>
      </div>
    <% end %>
  </nav>
</div>
