<div class="navbar-wrapper">
  <nav class="navbar navbar-fixed-top" role="navigation" >
    <%= content_tag :div, class:"coloring", style: "background-color: #{header_color if header_color};"  do %>
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#primary-naviation" data-toggle="collapse" type="button">
            <span class="sr-only Toggle navigation"></span>
            <span class="fa fa-bars"></span>
          </button>
          <%= link_to root_path, class:"navbar-brand", alt: "chalkle°" do%>
            <% if Rails.env.titleize != "Production" %>
              <div class="light environment alert-<%= environment_color Rails.env.titleize %>">
                  <%= Rails.env.titleize %> <small> #<%= VERSION_NUMBER %></small>
              </div>
            <% else %>
              <%= image_tag asset_path('logo.png'), class: "logo" %>
            <% end %>
          <% end %>
        </div>

        <div id="primary-naviation" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "Learn#{ nav_badge_format { current_user.learn_menu_badge_count }}", learn_path,  class: (current_page?(learn_path) ? "current": "")  %>
            </li>
            <li>
              <%= link_to "Teach#{ nav_badge_format { current_user.teach_menu_badge_count }}", teach_path,  class: (current_page?(teach_path) ? "current": "") %>
            </li>

            <% if chalkler_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <%= current_user.name %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" style="background-color: <%= header_color if header_color %>" >
                  <li>  
                    <%= link_to "Dashboard", me_root_path, class: (current_page?(me_root_path) ? "current": "") %>
                  </li>
                  <li>
                    <%= link_to "Settings", me_preferences_path, class: (current_page?(me_preferences_path) ? "current": "") %>
                  </li>
                    <%# <li><a href="/muni-wallet-stuff">Account</a></li> %>
                  <li>
                    <%= link_to 'Logout', destroy_chalkler_session_path, method: 'delete' %>
                  </li>
                </ul>
              </li>

              <li class="dropdown notifications-drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                 <img src="/assets/icons/bell.png" />
                 <%= current_user.new_notifications.count unless current_user.new_notifications.count == 0%>
                </a>
                <ul class="dropdown-menu pull-right" role="menu" style="background-color: <%= header_color if header_color %>" >
                  <% current_user.recent_notifications.each do |notification| %>
                    <li>   
                      
                    </li>
                  <% end %>
                </ul>
              </li>

            <% else %>
              <li>
                <%= link_to 'Login', new_chalkler_session_path(redirect_to: request.env['PATH_INFO']),  class: (current_page?(controller: 'chalkler') ? "current": "") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </nav>
  <%= render 'layouts/navigation_filter' %>
</div>
