.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'chalkle', root_path, class: 'brand'
      .nav-collapse.collapse
        %ul.nav
          -if chalkler_signed_in?
            %li= link_to 'Learn', 'http://www.chalkle.com'
            %li.divider-vertical
            %li= link_to 'Teach', new_chalklers_teaching_path
            %li.divider-vertical
            %li= link_to 'Email Settings', chalklers_preferences_path, method: 'get'
            %li.divider-vertical
            %li= link_to 'Sign out', destroy_chalkler_session_path, method: 'delete'
