%nav.navbar.navbar-static-top{role:'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", 'data-toggle' => "collapse", 'data-target' => "#chalkle-page-nav"}
        %span.sr-only Toggle navigation
        %i.fa.fa-bars
      %a.navbar-brand{href: root_url}
        = image_tag '/assets/front_end/home/logo.png', alt: 'chalkle°', class: 'logo'

    #chalkle-page-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Teach', new_chalklers_teaching_url
        -#%li= link_to 'Request class', new_chalklers_lesson_suggestion_path
        %li= link_to 'Bookings', bookings_path

      %ul.nav.navbar-nav.pull-right
        - if !chalkler_signed_in?
          %li= link_to 'Join chalkle&deg;'.html_safe, new_chalkler_registration_url(subdomain: 'www')
          %li= link_to 'Sign in', new_chalkler_session_url
        - else
          %li.dropdown
            %a.dropdown-toggle{'data-toggle'=>'dropdown'}
              = current_chalkler.name
              %i.fa.fa-chevron-down
            %ul.dropdown-menu.email-settings
              %li.dropdown-link= link_to 'Email settings', chalklers_preferences_url(subdomain: 'www'), { :tabindex => '-1' }
          %li= link_to 'Sign out', destroy_chalkler_session_url, method: 'delete'
