<div class="navbar-wrapper">
  <nav class="navbar navbar-fixed-top" role="navigation" >
    <% color_style = header_color ? "background-color: #{header_color}" : "" %>
    <%= content_tag :div, class: "coloring", style: color_style  do %>
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#primary-navigation" data-toggle="collapse" type="button">
            <span class="sr-only Toggle navigation"></span>
            <span class="fa fa-bars"></span>
          </button>
          <%= link_to root_path, class:"navbar-brand", alt: "chalkle°" do%>
            <% if false #Rails.env.titleize != "Production" %>
              <div class="light environment alert-<%= environment_color Rails.env.titleize %>">
                  <%= Rails.env.titleize %> <small> #<%= VERSION_NUMBER %></small>
              </div>
            <% else %>
              <%= image_tag asset_path('logo.png'), alt: 'Chalkle', class: "logo hidden-xs" %>
              <img src="/favicon-192x192.png" alt: 'Chalkle' class="logo visible-xs" />
            <% end %>
          <% end %>
        </div>

        <div id="primary-navigation">
          <ul class="nav navbar-nav navbar-left">
            <li>
              <div class="search-wrapper">
                <form class="navbar-form search-form" id="primary-search-form" method="get" action="<%= root_path params %>" onsubmit="return false" role="search">
                  <div class="input-group">
                    <span class="input-group-addon" id="search_btn">
                      <img src="/assets/icons/search.png" alt="search" />
                    </span>
                    <input id="search_input" type="text" name="search" value="<%= params[:search] %>" class="form-control" placeholder="Search">
                  </div>
                </form>
              </div>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if chalkler_signed_in? %>
            
              <li class="dropdown notifications-drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                 <span>
                   <img src="/assets/icons/bell.png" />
                   <span class="notification-count"></span>
                 </span>
                </a>
                <div class="dropdown-menu pull-right no-padding" role="menu" style="<%= color_style %>" >
                  <ul class="flush" id="notifications_container">
                  </ul>
                  <div class="divider flush"></div>
                  <div class="small center">
                      <%= link_to "See more", me_notifications_path  %>
                  </div>
                </div>
              </li>

              <li class="dropdown profile-img">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <% if current_user.avatar? %>
                    <div class="img-wrapper" style="background-image: url(<%= current_user.avatar %>)"></div>
                  <% else %>
                    <div class="img-wrapper">
                      <%= current_user.initials %>
                    </div>
                  <% end %>
                </a>
                <div class="dropdown-menu pull-right" role="menu" style="<%= color_style %>" >
                  <div role="presentation">  
                    <%= link_to current_user.name, chalkler_path(current_user) %>
                  </div>
                  <div role="presentation">
                    <%= link_to 'Logout', destroy_chalkler_session_path, method: 'delete' %>
                  </div>
                </div>
              </li>
  
            <% else %>

              <li>
                <%= link_to 'Login', new_chalkler_session_path,  class: (current_page?(controller: 'chalkler') ? "current": "") %>
              </li>
            
            <% end %>

          </ul>

        </div>
      </div>
      <hr />
      <div class="container sub-header">
        <div class="col-xs-8 location-form">
          <div class="navbar-form navbar-right location-form" id="location-form">
            <div class="input-group">
              <span class="input-group-addon btn" id="globe_holder" role="button" title="Auto-locate" data-toggle="tooltip" data-placement="bottom">
                <img src="/assets/icons/globe.png" alt="Toggle Map View" id="toggle_map_view" />
              </span>
              <input type="text" name="location" id="location_autocomplete" value="<%= get_coords[:location] %>" class="form-control" placeholder="Location">
              <div class="input-group-addon" id="location_unknown" style="display:none">
                <span class="fa-exclamation-triangle fa" data-toggle="tooltip" data-placement="bottom" title="Unrecognized address"></span>
              </div>
              <input type="hidden" name="coord_lat" id="coord_lat" value="<%= get_coords[:lat] %>" />
              <input type="hidden" name="coord_lng" id="coord_lng" value="<%= get_coords[:lng]  %>" />
            </div>
          </div>

        </div>
        
      </div>
    <% end %>
  </nav>
</div>
