<div class="navbar-wrapper">
  <nav class="navbar navbar-fixed-top" role="navigation" >
    <% color_style = header_color ? "background-color: #{header_color}" : "" %>
    <%= content_tag :div, class: "coloring", style: color_style  do %>
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#primary-navigation" data-toggle="collapse" type="button">
            <span class="sr-only Toggle navigation"></span>
            <span class="fa fa-bars"></span>
          </button>
          <%= link_to root_path, class:"navbar-brand", alt: "chalkle°" do%>
            <% if false #Rails.env.titleize != "Production" %>
              <div class="light environment alert-<%= environment_color Rails.env.titleize %>">
                  <%= Rails.env.titleize %> <small> #<%= VERSION_NUMBER %></small>
              </div>
            <% else %>
              <%= image_tag asset_path('logo.png'), alt: 'Chalkle', class: "logo hidden-xs" %>
            <% end %>
          <% end %>
        </div>

        <div id="primary-navigation">

          <div class="search-wrapper">
            <form class="navbar-form search-form" id="primary-search-form" method="get" action="<%= discover_path %>" onsubmit="<%= "return false" if current_page? discover_path %>" role="search">
              <div class="input-group">
                <span class="input-group-addon" id="search_btn">
                  <img src="/assets/icons/search.png" alt="search" />
                </span>
                <input id="search_input" type="text" name="search" value="<%= params[:search] %>" class="form-control" placeholder="Search Chalkle">
              </div>
            </form>
          </div>

          <ul id="primary-menu" class="nav navbar-nav">
            <% if chalkler_signed_in? %>
            
              <li class="dropdown notifications-drop">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                 <span>
                   <img src="/assets/icons/bell.png" />
                   <span class="notification-count"></span>
                 </span>
                </a>
                <div class="dropdown-menu pull-right no-padding" role="menu" style="<%= color_style %>" >
                  <ul class="flush" id="notifications_container">
                  </ul>
                  <div class="divider flush"></div>
                  <div class="small center">
                      <%= link_to "All Notifications", me_notifications_path  %>
                  </div>
                </div>
              </li>

              <li class="dropdown profile-img">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  <% if current_user.avatar? %>
                    <div class="img-wrapper" style="background-image: url(<%= current_user.avatar %>)"></div>
                  <% else %>
                    <div class="img-wrapper">
                      <%= current_user.initials %>
                    </div>
                  <% end %>
                </a>
                <div class="dropdown-menu pull-right" role="menu" style="<%= color_style %>" >
                  <div role="presentation">  
                    <%= link_to current_user.name, chalkler_path(current_chalkler) %>
                  </div>
                  <div role="presentation">
                    <%= link_to 'Logout', destroy_chalkler_session_path, method: 'delete' %>
                  </div>
                </div>
              </li>
  
            <% else %>

              <li>
                <% if current_page? new_chalkler_session_path %>
                  <%= link_to 'Sign up', new_chalkler_registration_path %>
                <% else %>
                  <%= link_to 'Login', new_chalkler_session_path  %>
                <% end %>
              </li>
            
            <% end %>

          </ul>

        </div>
      </div>
    <% end %>
  </nav>
</div>
