.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      = link_to 'chalkle', root_path, class: 'brand'
      .nav-collapse.collapse
        %ul.nav
          -if chalkler_signed_in?
            %li= link_to 'Learn', 'http://www.chalkle.com'
            %li= link_to 'Teach', '/chalklers/teachings/new'
            %li= link_to 'Settings', '/preferences'
            %li= link_to 'Sign out', destroy_chalkler_session_path, method: 'delete'
