<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title> 
      <%# content_for?(:title) ? yield(:title) : 'chalkle°' %>
      <%= strip_tags "#{meta_title} chalkle" %>
    </title>
    <%= favicons %>
    <%= open_graph_tags %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :header if content_for? :header %>
  </head>

  <body class="<%= body_class %> v2" role="document" style="background-color: <%= header_color ? header_color : 'rgba(76, 126, 147, 1)' %>;">
   
    <div id="fb-root"></div>
    <header>
      <%= render 'layouts/navigation' %>
      <%= render 'layouts/header' if show_header?  %>
    </header>
    <div id="wrapper">
      <div class="container-fluid" role="main">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %> 
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= Facebook.keys[:app_id] %>,
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= typekit_includes %>
    <%= analytics_init if Rails.env.production? %>
  </body>
</html>
