<!DOCTYPE html>
<html lang="en" class="provider_color" style="background-repeat: no-repeat; background-size: 100% auto; background-image: url( <%= page_hero if page_hero.present? %> );">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# product: http://ogp.me/ns/product#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="version" content="<%= VERSION_NUMBER %>" />
    <title> 
      <%# content_for?(:title) ? yield(:title) : 'chalkle°' %>
      <%= strip_tags "#{meta_title} chalkle°" %>
    </title>
    <%= favicons %>
    <%= open_graph_tags %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= render 'layouts/provider_color_style' %>
    <%= javascript_include_tag "application" %>
    <% if chalkler_signed_in? && !!!Rails.env.development? %>
      <script src='//cdn.goroost.com/roostjs/<%= Roost.site_id -%>' async></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=GOOGLE_MAPS_API_KEY&callback=initMap" type="text/javascript"></script>
      <script>
        var _roost = _roost || [];
        _roost.push(["alias", "<%= "#{Rails.env}_#{current_user.id}" %>"]);
      </script>
    <% end %>
    <%= yield :header if content_for? :header %>
  </head>

  <body class="<%= body_class %> v2" role="document">
    <div id="fb-root"></div>
   
    <%= render 'layouts/messages' %>
   
    <header>
      <%= render 'layouts/navbar' %>
      
      <div class="header-wrapper <%= 'sidebar-padding' if @provider && policy(@provider).read? %> <%= 'sidebar-open' if current_user.sidebar_open %>">
        <%= render @header_partial if @header_partial.present? %>
      </div>
    </header>

    <div class="body-content <%= 'sidebar-padding' if @provider && policy(@provider).read? %>  <%= 'sidebar-open' if current_user.sidebar_open %>">
      <div id="wrapper">
        <%= yield %>
       <%#  <div id="map_overlay" style="display: none"><div id="map_holder"></div></div> %>
      </div>
    </div>
    <% if current_user.authenticated? %>
      <input id="current_user_id" type="hidden" value="<%= current_user.id %>" />
    <% end %>
    <%= render 'layouts/sidebars/sidebar' if @provider && policy(@provider).read? %>
    <%= render 'layouts/img_modal' %>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= Facebook.keys[:app_id] %>,
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= typekit_includes %>
    <%= analytics_init if Rails.env.production? && !current_user.super? %>
  </body>
</html>
