<!DOCTYPE html>
<html lang="en" style="background-repeat: no-repeat; background-size: 100% auto; background-image: url( <%= page_hero if page_hero.present? %> );">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="version" content="<%= VERSION_NUMBER %>" />
    <title> 
      <%# content_for?(:title) ? yield(:title) : 'chalkle°' %>
      <%= strip_tags "#{meta_title} chalkle°" %>
    </title>
    <%= favicons %>
    <%= open_graph_tags %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <% if chalkler_signed_in? %>
      <script src='//cdn.goroost.com/roostjs/e7a09481b0d145b784c6b9dd5dd97cb0' async></script>
      <script>
        var _roost = _roost || [];
        _roost.push(["alias", "<%= "#{Rails.env}_#{current_user.id}" %>"]);
      </script>
    <% end %>
    <%= yield :header if content_for? :header %>
  </head>

  <body class="<%= body_class %> v2" role="document">
    <div id="fb-root"></div>
   
    <%= render 'layouts/messages' %>
   
    <header>
      <%= render 'layouts/navigation' %>
      <div class="header-wrapper <%= 'sidebar-padding' if @sidebar.present? %> <%= 'open' if current_user.sidebar_open %>">
        <%= render @header_partial if @header_partial.present? %>
      </div>
    </header>

    <div class="body-content <%= 'sidebar-padding' if @sidebar.present? %>  <%= 'open' if current_user.sidebar_open %>">
      <div id="wrapper">
        <div class="container-fluid <%= 'pad-top-20' if @header_partial %>" role="main">
          <%= yield %>
        </div>
       <%#  <div id="map_overlay" style="display: none"><div id="map_holder"></div></div> %>
      </div>
    </div>
    <%= render 'layouts/sidebars/sidebar' if @sidebar.present? %>
    <%= render 'sign_in_first' unless @current_user.authenticated? %>
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : <%= Facebook.keys[:app_id] %>,
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <%= typekit_includes %>
    <%= analytics_init if Rails.env.production? && !current_user.super? %>
  </body>
</html>
