!!! 5

%html
  %head
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>
    %meta{ charset: 'utf-8' }
    %title= yield(:title)

    = csrf_meta_tag
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

  %body
    = render 'layouts/navigation'

    .container
      = render 'layouts/messages'
      = yield
