<html>
  <head>
    <%= analytics_init if Rails.env.production? %>
    <meta charset='utf-8' />
    <title>
      <%= content_for?(:title) ? yield(:title) : 'chalkle°' %>
    </title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <%= csrf_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag "unsemantic/unsemantic-grid-base" %>
    <%= stylesheet_link_tag "unsemantic/unsemantic-grid-responsive" %>

    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "partners" %>

    <%= javascript_include_tag "adapt.min" %>

    <script type="text/javascript" src="//use.typekit.net/hlu7uvf.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body class="<%= body_class %> tk-proxima-nova">
    <header id="header" class="" data-0="margin-top:0;  opacity: 1.0" data-500=" margin-top:-350px; opacity: 0;">
      <h1 class="tk-proxima-nova" data-0="margin-top: 350px;" data-500="margin-top: 480px;"><%=h @hero_text %></h1>
    </header>
    <nav class="" 
      data-100="background-color: transparent; box-shadow: 0 3px 5px rgba(0,0,0,0.0);" 
      data-180="background-color: #ffffff; box-shadow: 0 0px 2px rgba(0,0,0,0.2);"
      data-500="padding: 20px 0;"
      data-550="padding: 0px 0;"

    >
      <div class="grid-container">
        <%= render 'layouts/partners_navigation' %>
      </div>
    </nav>

    <div id="header-mask">
      <div class="mask"></div>
      <div class="arrows-mask-left"></div>
      <div class="arrows-mask-right"></div>
      <div class="mask"></div>
    </div>

    <div id="main">

      <div class="container">
        <%= render 'layouts/messages' %>
      </div>

      <%= yield %>

    </div>

    <%= javascript_include_tag "skrollr.min" %>
    <script type="text/javascript">
    var s = skrollr.init();
    </script>

  </body>
</html>
