!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}/
    %meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}/
    = stylesheet_link_tag 'mail', media: 'all'
    %title chalkle.com email

  %body
    %table#container{:border => '0', :cellpadding => '0', :cellspacing => '0', :width => '600px'}
      %tr
        %td{:valign => 'top'}
          %table{:align => 'left', :border => '0', :cellpadding => '0', :cellspacing => '0', :width => '600px'}
            %tr
              %td#header{:valign => 'top', :width => '600px'}
                %img#logo{ :src=> "#{root_url}logo.gif", :width => '600', :height => '70', :alt => 'chalkle° : six degrees of education.'}
            %tr
              %td#content{:valign => 'top', :width => '600px'}
                = yield
            %tr
              %td#footer{:valign =>'top', :width => '600px'}
                = link_to 'Change your email settings', chalklers_preferences_url
                %span.spacer &nbsp;|&nbsp;
                = link_to 'chalkle.com', root_url
                %span.spacer &nbsp;|&nbsp;
                = link_to 'Facebook', 'http://facebook.com/Chalkle'
                %span.spacer &nbsp;|&nbsp;
                = link_to 'Twitter', 'http://twitter.com/ChalkleNZ/'
            %tr
              %td#subfooter{:valign =>'top', :width => '600px'}
                %p
                  What do you think of this email?
                  = link_to 'Let us know!', 'mailto:learn@chalkle.com'
